// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// text color
$text-color: rgb(34, 34, 34) !default;

/// Main brand color
$brand-color: #452d8f !default;
$secondary-color: #ee761f !default;

/// Main Font
$primary-font: "Open Sans";

$white: #ffffff;

$gray_dark_00: #55585f;
$gray_dark_01: #21242b;
$gray_dark_02: #6a7181;
$gray_dark_03: #9aa1af;
$gray_dark_04: #c7ced4;

$gray_light_01: #e4e7eb;
$gray_light_02: #edf0f2;
$gray_light_03: #f4f5f7;
$gray_light_04: #f7f8fa;
$gray_light_05: #f9fafc;

$primary: #452c8e;
$primary_bright_01: #664ab6;
$primary_bright_02: #8a6fd6;
$primary_dark_01: #1a0869;
$primary_dark_02: #1f0884;
$primary_light_01: #d9d1f1;
$primary_light_02: #eae7f8;
$primary_light_03: #f4f2fc;
$primary_light_04: #f8f5fe;
$primary_light_05: #fbfafe;

$secondary: #ee761f;
$secondary_bright_01: #ff6f2c;
$secondary_dark_01: #bc570e;
$secondary_light_01: #ffa981;
$secondary_light_02: #fee2d5;

$green: #00c334;
$green_bright_01: #4caf50;
$green_dark_01: #338a17;
$green_light_01: #c8e6c9;
$green_light_02: #dbffe5;

$red: #f22b2b;
$red_bright_01: #f82b60;
$red_dark_01: #ba1e45;
$red_light_01: #ffdce5;
$red_light_02: #ffeaea;

$yellow: #f7d154;
$yellow_bright_01: #fcb400;
$yellow_dark_01: #f57f17;
$yellow_light_01: #ffd66e;
$yellow_light_02: #fffde7;

$pending: #816dac;
$ahead_of_schedule: #abd575;
$ontime: #67ac5b;
$completed: #67ac5b;
$behind_the_schedule: #f2a264;
$overdue: #d4605e;

/// Main Font
$primary-font: "Inter";

.primary {
    color: $primary;
}
.primary_bright_01 {
    color: $primary_bright_01;
}
.red {
    color: $red;
}
.gray_dark_01 {
    color: $gray_dark_01 !important;
}
.gray_dark_02 {
    color: $gray_dark_02 !important;
}
.gray_dark_03 {
    color: $gray_dark_03 !important;
}

.scroll-y-label {
    scrollbar-width: thin;
    overflow-y: auto;
    overflow-x: hidden;
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.2);
        background-color: #f5f5f5;
    }

    &::-webkit-scrollbar {
        width: 6px;
        background-color: #f5f5f5;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #f5f5f5;
    }
}

.scroll-x-label {
    scrollbar-width: thin;
    overflow-x: auto;
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.2);
        background-color: #f5f5f5;
    }

    &::-webkit-scrollbar {
        height: 8px;
        background-color: #f5f5f5;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #f5f5f5;
    }
}
