// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
button#sidebarToggleTop {
    padding: 2px;
    color: #000;
    width: 34px;
    height: 36px;
    display: none;
    svg {
        color: #7f7f7f;
    }
}
.navbar {
    padding: 10px 15px;
    position: fixed;
    width: calc(100% - 248px);
    z-index: 999;
    .navbar-search {
        input {
            height: 38px;
            font-size: 14px;
            &:focus {
                border: 0 !important;
                box-shadow: none !important;
            }
        }
    }
}

.close-menu {
    svg {
        display: none;
    }
    background: url(./images/icons/close.png) no-repeat center;
    background-size: 46%;
}

.notification {
    position: absolute;
    right: -10px;
    top: 40px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0px 13px 26px #00000042;
    text-align: left;
    width: 500px;
    overflow-y: auto;
    height: 800px;
    z-index: 99;
    &.all {
        position: relative;
        top: inherit;
        right: inherit;
        left: inherit;
        width: 100%;
        height: auto;
        max-width: 970px;
        box-shadow: none;
        border: 1px solid #eff0f5;
        .notify-list {
            justify-content: flex-start;
            .info {
                flex-basis: 90%;
                margin-left: 20px;
            }
        }
    }
    h3.title {
        text-align: left;
        font: Bold 20px/24px Open Sans;
        letter-spacing: 0px;
        color: #21242b;
        padding: 20px;
        margin: 0;
    }
    .see-all {
        a {
            color: #452d8f;
            font-size: 18px;
            padding: 20px;
            background: #fff;
            text-align: center;
            display: block;
            border-top: 1px solid #ccc;
            &:hover {
                background: #452d8f;
                color: #fff !important;
            }
        }
    }
    .day {
        h6.timing-date {
            font-size: 14px;
            letter-spacing: 0.28px;
            color: #818795;
            background: #f4f5f8;
            padding: 12px 20px;
            margin: 0;
        }
        ul {
            margin: 0;
            padding: 0;
            li {
                list-style: none;
                a {
                    display: inline-block;
                    padding: 10px 20px;
                    border-bottom: 1px solid #eff0f5;
                    display: block;
                    background: #fff;
                    transition: all ease-in-out 0.2s;
                    &:hover {
                        background: #f4f5f8;
                    }
                    .notify-list {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        img.type {
                            width: 40px !important;
                            height: 40px;
                            object-fit: cover;
                            display: inline-block;
                            border-radius: 100%;
                            flex-basis: 40px;
                            object-position: center;
                            background: #dcd5f8;
                        }
                        .info {
                            width: 300px;
                            .name {
                                font-size: 16px;
                                color: #21242b;
                                width: 300px;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                overflow: hidden;
                                text-transform: initial;
                                span {
                                    color: $brand-color;
                                }
                            }

                            .post-time {
                                color: #818795;
                                font-size: 12px;
                                float: left;
                                margin-right: 20px;
                                line-height: 25px;
                                text-transform: initial;
                                position: relative;
                                &:after {
                                    content: "";
                                    width: 1px;
                                    height: 14px;
                                    background: #ccc;
                                    display: block;
                                    position: absolute;
                                    right: -10px;
                                    top: 6px;
                                }
                            }
                            .tag {
                                font-size: 14px;
                                background: #eee;
                                display: inline-block;
                                padding: 2px 8px;
                                border-radius: 7px;
                                line-height: 20px;
                                &.product {
                                    background: #dce0f5;
                                    color: #2239b4;
                                }
                                &.quatation {
                                    background: #f5e8dc;
                                    color: #d97518;
                                }
                                &.project {
                                    background: #f4dff8;
                                    color: #c952e5;
                                }
                            }
                        }
                        img.product {
                            width: 70px !important;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .navigation {
        ul {
            display: flex;
            overflow-x: auto;
        }
    }
}
