 .main-menu{
    li{
        &.active{
            font-weight: bold;
            a{
                &:after{
                    content: "";
                    width: 4px;
                    height: 4px;
                    background: #282828;
                    position: absolute;
                    bottom:-10px;
                    left: 50%;
                    transform: translateX(-50%);
                    display: block;
                    border-radius: 100%;
                }
            }
        }
        &:hover{
            a:after{
                content: "";
                width: 4px;
                height: 4px;
                background: #282828;
                position: absolute;
                bottom:-10px;
                left: 50%;
                transform: translateX(-50%);
                display: block;
                border-radius: 100%;
            }
        }
        a{
            position: relative;
        }
    }
}
 .banner-section{
     .carousel-indicators{
         button{
             width: 8px;
             height: 8px;
             border-radius: 100%;
             border: 0;
             margin: 0 5px;
         }
     }
 }
 .image-grid-overlay:after{
     content: "";
     background: linear-gradient(0deg, #282828 16.67%, rgba(40, 40, 40, 0) 100%);
     min-height: 180px;
     width: 100%;
     display: block;
     position: absolute;
     bottom: 0;
 }
 .image-grid-overlay-white:after{
     content: "";
     background: linear-gradient(0deg, #fff 16.67%, rgba(255, 255, 255, 0) 100%);
     min-height: 180px;
     width: 100%;
     display: block;
     position: absolute;
     bottom: 0;
 }
 .paragraph-grid-overlay-white:after{
     content: "";
     background: linear-gradient(0deg, rgba(255, 255, 255, 1) , rgba(255, 255, 255, .4) 100%);
     min-height: 60px;
     width: 100%;
     display: block;
     position: absolute;
     bottom: 0;
 }

 .auto-scroll {
     -ms-overflow-style: none;  /* Internet Explorer 10+ */
     scrollbar-width: none;  /* Firefox */
 }
 .auto-scroll::-webkit-scrollbar {
     display: none;  /* Safari and Chrome */
 }
 .ellipsis-2 {
     overflow: hidden;
     text-overflow: ellipsis;
     display: -webkit-box;
     -webkit-line-clamp: 2;
     -webkit-box-orient: vertical;
 }
 .circle-bg:after {
     width: 256px;
     height: 256px;
     content: "";
     position: absolute;
     display: block;
     background: #fff;
     opacity: 0.1;
     border-radius: 100%;
     right: -100px;
 }
 .circle-bg2:before {
     width: 446px;
     height: 446px;
     content: "";
     position: absolute;
     display: block;
     background: #fff;
     opacity: 0.1;
     border-radius: 100%;
     right: -140px;
     top: -90px;
 }

.transparency-text{
    color: rgba(33, 36, 43, 0.1);
    -webkit-text-stroke: 1px  rgba(255, 255, 255, 0.4);
}
 .belong-here:after {
     content: "";
     background: #fff;
     height: 300px;
     position: absolute;
     display: block;
     bottom: -30px;
     left: -15px;
     right: -15px;
     @media screen and (max-width:640px){
         bottom: -80px;
     }
 }


 //Custom Upload
 .file > input[type='file'] {
     display: none
 }

 .file > label {
     font-size: 16px;
     text-transform: uppercase;
     cursor: pointer;
     outline: 0;
     user-select: none;
     border-color: #282828;
     border-style: dashed;
     border-width: 1px;
     padding-left: 16px;
     padding-right: 16px;
     padding-top: 16px;
     padding-bottom: 16px;
     display: flex;
     align-items: center;
 }

 .file > label:hover {
     border-color: hsl(0, 0%, 21%);
 }

@media (-webkit-device-pixel-ratio: 1.25) {
    :root {
    zoom: 0.8;
}}

@media (-webkit-device-pixel-ratio: 1.50) {
    :root {
    zoom: 1;
}}

 .banner-section .carousel{
    // background-image: url("./images/home/cloud.png");
 }

 .dot{
     width: 4px;
     height: 4px;
     border-radius: 100%;
     background: #282828;
     margin: 0 10px;
 }

//Radio & Checkbox
 input[type="checkbox"] {
     -webkit-appearance: none;
     appearance: none;
     background-color: #F5F5F5;
     margin: 0;
     display: grid;
     place-content: center;
     cursor: pointer;
     margin-top: 2px;
     appearance: none;
     background-color: #F5F5F5;
     margin: 0;
     font: inherit;
     color: currentColor;
     width: 1.15em;
     height: 1.15em;
     border: 0.15em solid #282828 !important;
     border-radius: 0.15em;
     transform: translateY(-0.075em);

     &::before {
         content: "";
         width: 0.65em;
         height: 0.65em;
         transform: scale(0);
         transition: 120ms transform ease-in-out;
         box-shadow: inset 1em 1em #282828;
     }

     &:checked::before {
         transform: scale(1);
     }
 }
 input[type="radio"] {
     -webkit-appearance: none;
     appearance: none;
     background-color: #F5F5F5;
     margin: 0;
     display: grid;
     place-content: center;
     cursor: pointer;
     margin-top: 2px;
     appearance: none;
     background-color: #F5F5F5;
     margin: 0;
     font: inherit;
     color: currentColor;
     width: 20px;
     height: 20px;
     border-radius: 100%;
     border: 0.15em solid #282828 !important;
     transform: translateY(-0.075em);

     & ~ label{
         cursor: pointer;
     }

     &::before {
         content: "";
         width: 10px;
         height: 10px;
         border-radius: 100%;
         transform: scale(0);
         transition: 120ms transform ease-in-out;
         box-shadow: inset 1em 1em #282828;
     }

     &:checked::before {
         transform: scale(1);
     }
 }

 //SLick Slider
 .slick-prev, .slick-next {
     width: 40px !important;
     height: 40px !important;
     padding: 3px;
     z-index: 999;
     border-radius: 100%;
     text-indent: -999999999px;
     opacity: .8;
 }
 .slick-prev:hover, .slick-next:hover {
     opacity: 1;
 }
 .slick-prev{
     left: 0 !important;
     background: url("../images/slider-arrow.svg") no-repeat center #282828  !important;
     transform: rotate(180deg) !important;
 }
 .slick-next {
     right: 0 !important;
     background: url("../images/slider-arrow.svg") no-repeat center #282828  !important;
 }
 button.slick-arrow.slick-disabled{
     display: none !important;
 }
