 .main-menu{
    li{
        &.active{
            font-weight: bold;
            a{
                &:after{
                    content: "";
                    width: 4px;
                    height: 4px;
                    background: #282828;
                    position: absolute;
                    bottom:-10px;
                    left: 50%;
                    transform: translateX(-50%);
                    display: block;
                    border-radius: 100%;
                }
            }
        }
        &:hover{
            a:after{
                content: "";
                width: 4px;
                height: 4px;
                background: #282828;
                position: absolute;
                bottom:-10px;
                left: 50%;
                transform: translateX(-50%);
                display: block;
                border-radius: 100%;
            }
        }
        a{
            position: relative;
        }
    }
}
 .banner-section{
     .carousel-indicators{
         button{
             width: 8px;
             height: 8px;
             border-radius: 100%;
             border: 0;
             margin: 0 5px;
         }
     }
 }
 .image-grid-overlay:after{
     content: "";
     background: linear-gradient(0deg, #282828 16.67%, rgba(40, 40, 40, 0) 100%);
     min-height: 180px;
     width: 100%;
     display: block;
     position: absolute;
     bottom: 0;
 }
 .image-grid-overlay-white:after{
     content: "";
     background: linear-gradient(0deg, #fff 16.67%, rgba(255, 255, 255, 0) 100%);
     min-height: 180px;
     width: 100%;
     display: block;
     position: absolute;
     bottom: 0;
 }
 .paragraph-grid-overlay-white:after{
     content: "";
     background: linear-gradient(0deg, rgba(255, 255, 255, 1) , rgba(255, 255, 255, .4) 100%);
     min-height: 60px;
     width: 100%;
     display: block;
     position: absolute;
     bottom: 0;
 }

 .auto-scroll {
     -ms-overflow-style: none;  /* Internet Explorer 10+ */
     scrollbar-width: none;  /* Firefox */
 }
 .auto-scroll::-webkit-scrollbar {
     display: none;  /* Safari and Chrome */
 }
 .ellipsis-2 {
     overflow: hidden;
     text-overflow: ellipsis;
     display: -webkit-box;
     -webkit-line-clamp: 2;
     -webkit-box-orient: vertical;
 }
 .circle-bg:after {
     width: 256px;
     height: 256px;
     content: "";
     position: absolute;
     display: block;
     background: #fff;
     opacity: 0.1;
     border-radius: 100%;
     right: -100px;
 }
 .circle-bg2:before {
     width: 446px;
     height: 446px;
     content: "";
     position: absolute;
     display: block;
     background: #fff;
     opacity: 0.1;
     border-radius: 100%;
     right: -140px;
     top: -90px;
 }

.transparency-text{
    color: rgba(33, 36, 43, 0.1);
    -webkit-text-stroke: 1px  rgba(255, 255, 255, 0.4);
}
 .belong-here:after {
     content: "";
     background: #fff;
     height: 300px;
     position: absolute;
     display: block;
     bottom: -30px;
     left: -15px;
     right: -15px;
     @media screen and (max-width:640px){
         bottom: -80px;
     }
 }


 //Custom Upload
 .file > input[type='file'] {
     display: none
 }

 .file > label {
     font-size: 16px;
     text-transform: uppercase;
     cursor: pointer;
     outline: 0;
     user-select: none;
     border-color: #282828;
     border-style: dashed;
     border-width: 1px;
     padding-left: 16px;
     padding-right: 16px;
     padding-top: 16px;
     padding-bottom: 16px;
     display: flex;
     align-items: center;
 }

 .file > label:hover {
     border-color: hsl(0, 0%, 21%);
 }

@media (-webkit-device-pixel-ratio: 1.25) {
    :root {
    zoom: 0.8;
}}
    
@media (-webkit-device-pixel-ratio: 1.50) {
    :root {
    zoom: 1;
}}