.login-container{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    @media screen and (max-width: 1440px) {
        background-position: 40% 0 !important;
    }
    @media screen and (max-width: 767px) {
        background: none;
    }
    .login-form-contents{
        padding-top: 70px;
        padding-right: 100px;
        @media screen and (max-width: 1440px) {
            padding-top: 15px;
            padding-right: 30px;
        }
        @media screen and (max-width: 1024px) {
            padding: 50px;
            background: #ebebeb;
        }
        @media screen and (max-width: 767px) {
            padding: 30px;
            height: 100vh;
        }
        .form-container{
            .entry-title{
                .belong-here-text{
                    font-size: 60px;
                    line-height: 68px;
                    color: #E0E0E1;
                    font-family: 'Poppins', sans-serif;
                    text-transform: uppercase;
                    @media screen and (max-width: 767px) {
                        font-size: 50px;
                        line-height: 50px;
                        margin-top: 12px;
                    }
                }
            }
            .login-register-tab{
                margin: 80px 0 60px 0;
                @media screen and (max-width: 1024px) {
                    margin: 45px 0 54px 0;
                }
                @media screen and (max-width: 1024px) {
                    margin: 25px 0 45px 0;
                }
                ul{
                    display: flex;
                    li{
                        font-size: 44px;
                        line-height: 52px;
                        color: #646464;
                        font-weight: 400;
                        margin-right: 40px;
                        position: relative;
                        text-transform: uppercase;
                        font-family: 'Poppins', sans-serif;
                        cursor: pointer;
                        @media screen and (max-width: 767px) {
                            font-size: 24px;
                        }
                        &.active{
                            font-weight: 700;
                            color: #282828;
                            &::before{
                                content: '';
                                position: absolute;
                                width: 8px;
                                height: 8px;
                                background:#282828;
                                bottom: -15px;
                                left: 50%;
                                transform: translateX(-50%) rotate(45deg) ;
                                @media screen and (max-width: 767px) {
                                    bottom: -3px;
                                }
                            }
                        }
                    }
                }

            }
            .login-input-forms{
                .form-group{
                    position: relative;
                    margin-bottom: 36px;
                    label{
                        font-size: 20px;
                        line-height: 28px;
                        color: #282828;
                        margin-bottom: 20px;
                        display: block;
                    }
                    input[type="checkbox"] {
                        -webkit-appearance: none;
                        appearance: none;
                        background-color: #F5F5F5;
                        margin: 0;
                        display: grid;
                        place-content: center;
                        cursor: pointer;
                        margin-top: 2px;
                        }
                        input[type="checkbox"] {
                        appearance: none;
                        background-color: #F5F5F5;
                        margin: 0;
                        font: inherit;
                        color: currentColor;
                        width: 1.15em;
                        height: 1.15em;
                        border: 0.15em solid #282828 !important;
                        border-radius: 0.15em;
                        transform: translateY(-0.075em);
                        }

                        input[type="checkbox"]::before {
                        content: "";
                        width: 0.65em;
                        height: 0.65em;
                        transform: scale(0);
                        transition: 120ms transform ease-in-out;
                        box-shadow: inset 1em 1em #282828;
                        }

                        input[type="checkbox"]:checked::before {
                        transform: scale(1);
                        }
                        button{
                            &.forget-password{
                                border: none;
                                position: absolute;
                                right: 0;
                            }
                        }
                        .agree-text{
                            margin-left: 25px;
                            font-size: 20px;
                            line-height: 28px;
                            @media screen and (max-width: 767px) {
                                font-size: 15px;
                            }
                        }
                        button{
                            &.submit-btn{
                                width: 100%;
                                background: #282828;
                                text-transform: uppercase;
                                color: #fff;
                                text-align: left;
                                font-size: 20px;
                                line-height: 28px;
                                padding: 15px 10px 15px 30px;
                                cursor: pointer;
                                img{
                                    position: absolute;
                                    right: 10px;
                                    top: 10px;
                                }
                                &:hover{
                                    opacity: .9;
                                }
                            }
                        }
                }
                &.register{
                    margin-top: 100px;
                    .react-select__control {
                        min-width: 174px;
                    }
                    @media screen and (max-width: 767px) {
                        margin-top: 50px;
                    }
                }
            }
        }
    }
}
