/* Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* Square Size */
p{
  font-family: 'Open Sans', sans-serif !important;
}
.nice-select {
  -webkit-tap-highlight-color: transparent;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  float: left;
  font-family: inherit;
  font-size: 16px;
  font-weight: normal;
  line-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 30px;
  position: relative;
  text-align: left !important;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px; }
  .nice-select:active, .nice-select.open, .nice-select:focus {
    border-color: #452D8F; }
  .nice-select:after {
    border-bottom: 2px solid #21242B;
    border-right: 2px solid #21242B;
    content: '';
    display: block;
    height: 9px;
    width: 9px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    right: 20px;
    top: 46%;
    -webkit-transform-origin: 66% 66%;
    -ms-transform-origin: 66% 66%;
    transform-origin: 66% 66%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out; }
  .nice-select.open:after {
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg); }
  .nice-select.open .list {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: scale(1) translateY(0);
    -ms-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0); }
  .nice-select.disabled {
    border-color: #ededed;
    color: #999;
    pointer-events: none; }
    .nice-select.disabled:after {
      border-color: #cccccc; }
  .nice-select.wide {
    width: 100%; }
    .nice-select.wide .list {
      left: 0 !important;
      right: 0 !important; }
  .nice-select.right {
    float: right; }
    .nice-select.right .list {
      left: auto;
      right: 0; }
  .nice-select.small {
    font-size: 12px;
    height: 36px;
    line-height: 34px; }
    .nice-select.small:after {
      height: 4px;
      width: 4px; }
    .nice-select.small .option {
      line-height: 34px;
      min-height: 34px; }
  .nice-select .list {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
    box-sizing: border-box;
    margin-top: 4px;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform: scale(0.75) translateY(-21px);
    -ms-transform: scale(0.75) translateY(-21px);
    transform: scale(0.75) translateY(-21px);
    -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    z-index: 9; }
    .nice-select .list:hover .option:not(:hover) {
      background-color: transparent !important; }
  .nice-select .option {
    cursor: pointer;
    font-weight: 400;
    line-height: 40px;
    list-style: none;
    min-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }
    .nice-select .option:hover, .nice-select .option.focus {
      background-color: #f6f6f6; }
    .nice-select .option.selected {
      font-weight: bold; }
      .nice-select .option.selected.focus {
        background-color: #f6f6f6; }
    .nice-select .option.disabled {
      background-color: transparent;
      color: #999;
      cursor: default; }

.no-csspointerevents .nice-select .list {
  display: none; }
.no-csspointerevents .nice-select.open .list {
  display: block; }

/*!
 * Bootstrap v4.3.1 (https://getbootstrap.com/)
 * Copyright 2011-2019 The Bootstrap Authors
 * Copyright 2011-2019 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
.sidebar-collapse {
  padding: 36px 30px 30px 10px;
  border-right: 1px solid #eee;
  margin-top: -17px;
  height: 100vh;
  position: fixed; }
  .sidebar-collapse h5 {
    font-size: 15px;
    color: #9DA0A7;
    margin-bottom: 20px;
    margin-top: 50px;
    font-weight: normal; }
  .sidebar-collapse ul li a {
    font-size: 18px;
    font-weight: normal;
    padding-bottom: 20px;
    color: #333;
    display: block;
    text-transform: uppercase;
    position: relative; }
    .sidebar-collapse ul li a:hover {
      text-decoration: none; }
    .sidebar-collapse ul li a.dropdown-toggle {
      background-image: none; }
      .sidebar-collapse ul li a.dropdown-toggle:after {
        border-bottom: 2px solid #21242B;
        border-right: 2px solid #21242B;
        content: '';
        display: block;
        height: 9px;
        width: 9px;
        margin-top: -4px;
        pointer-events: none;
        position: absolute;
        right: 0px;
        top: 11px;
        -webkit-transform-origin: 66% 66%;
        -ms-transform-origin: 66% 66%;
        transform-origin: 66% 66%;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition: all 0.15s ease-in-out;
        transition: all 0.15s ease-in-out;
        opacity: 1;
        border-top: 0;
        margin-left: 0;
        vertical-align: 0;
        border-left: 0; }
  .sidebar-collapse ul li ul {
    padding-left: 20px; }
    .sidebar-collapse ul li ul li a {
      text-transform: capitalize;
      padding-bottom: 15px; }
    .sidebar-collapse ul li ul li:last-child {
      margin-bottom: 20px; }
    .sidebar-collapse ul li ul li:first-child {
      margin-top: 10px; }

#sidebar-menu-content {
  overflow: hidden;
  padding: 20px 50px;
  padding-left: 315px; }

.product-slider {
  margin-bottom: 30px; }
  .product-slider h4 {
    font-size: 26px;
    font-weight: normal; }
  .product-slider .owl-carousel .owl-nav {
    position: absolute;
    right: -50px;
    top: 50%;
    transform: translateY(-50%); }
    .product-slider .owl-carousel .owl-nav button.owl-prev {
      opacity: 0 !important; }
    .product-slider .owl-carousel .owl-nav .owl-next {
      width: 40px;
      height: 40px;
      background: url("./icons/left.png") no-repeat center #E8E6F1 !important;
      display: block;
      border-radius: 100%;
      text-indent: -999999999999px; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

/**
 * Set up a decent box model on the root element
 */
.dashboard-container {
  padding-top: 88px;
  padding-bottom: 60px; }

*,
::after,
::before {
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0; }

body {
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 400;
  background: #FCFDFF; }

/*--------------------------------------------------------------
  # Typography
  --------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
  color: #000;
  font-size: 16px;
  line-height: 1.5; }

select {
  overflow: auto; }

textarea {
  padding: 15px;
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #ccc; }

::placeholder,
::-moz-placeholder {
  font: Regular 16px/19px Helvetica;
  letter-spacing: 0.48px;
  color: #B5BBC9; }

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

code,
kbd,
tt,
var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem; }

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

mark,
ins {
  background: #196382;
  padding: 2px 4px;
  text-decoration: none;
  color: #fff; }

big {
  font-size: 125%; }

.form-group {
  float: left;
  width: 100%;
  margin-bottom: 20px; }

label {
  width: 100%;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0.32px;
  color: #6A7181; }

.error {
  color: red; }

a {
  font-size: 16px;
  font-weight: 500;
  color: #452D8F; }

input[type="button"], input[type="reset"], input[type="submit"] {
  border: 2px solid transparent;
  background: #452D8F;
  color: #fff;
  font-weight: 500;
  padding: 9px 65px;
  font-size: 17px;
  cursor: pointer;
  text-transform: none;
  line-height: 25px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  border-radius: 4px;
  margin: 15px 15px 15px 0; }
  input[type="button"]:hover, input[type="button"]:active, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:active, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:active, input[type="submit"]:focus {
    color: #452D8F;
    border-color: #452D8F;
    background: #fff;
    box-shadow: none;
    outline: none; }
  input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled {
    background: #BCBCBC; }
    input[type="button"]:disabled:hover, input[type="button"]:disabled:active, input[type="button"]:disabled:focus, input[type="reset"]:disabled:hover, input[type="reset"]:disabled:active, input[type="reset"]:disabled:focus, input[type="submit"]:disabled:hover, input[type="submit"]:disabled:active, input[type="submit"]:disabled:focus {
      color: inherit;
      border-color: transparent;
      cursor: not-allowed; }

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"] {
  color: #000;
  padding: 10px 20px;
  height: 52px;
  background-color: #fff;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  border: 1px solid #ccc; }
  input[type="text"]:active, input[type="text"]:focus, input[type="email"]:active, input[type="email"]:focus, input[type="url"]:active, input[type="url"]:focus, input[type="password"]:active, input[type="password"]:focus, input[type="number"]:active, input[type="number"]:focus, input[type="tel"]:active, input[type="tel"]:focus, input[type="range"]:active, input[type="range"]:focus, input[type="date"]:active, input[type="date"]:focus, input[type="month"]:active, input[type="month"]:focus, input[type="week"]:active, input[type="week"]:focus, input[type="time"]:active, input[type="time"]:focus, input[type="datetime"]:active, input[type="datetime"]:focus, input[type="datetime-local"]:active, input[type="datetime-local"]:focus, input[type="color"]:active, input[type="color"]:focus {
    box-shadow: inset 0 0 0px 1px #452D8F !important;
    outline: 0; }

.btn {
  font-size: 16px; }

.btn-brand {
  width: 240px;
  height: 70px;
  background: #EE761F 0% 0% no-repeat padding-box;
  border-radius: 5px;
  box-shadow: 0px 3px 0px 6px rgba(238, 118, 31, 0.002);
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  border: 0;
  font-size: 20px; }
  .btn-brand:focus, .btn-brand:active {
    outline: 0; }
  .btn-brand.btn-outline-secondary {
    color: #6c757d !important;
    border-color: #6c757d !important;
    background: #fff !important;
    border: 1px solid #6c757d !important; }

.fav {
  width: 40px;
  height: 40px;
  display: inline-block;
  background: url(./icons/fav-active.png) no-repeat center; }

.btn-edit {
  border: 1px solid #E2E6EF;
  padding: 10px 16px; }
  .btn-edit:before {
    content: "";
    background: url(./icons/edit.png) no-repeat center;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin: -3px 5px 0 0; }

.product-badge {
  background-color: #F7F5E5;
  color: #CD930C;
  padding: 5px 14px;
  border-radius: 50px;
  display: inline-block;
  font-size: 12px; }

.info-item {
  margin-top: 30px; }
  .info-item label {
    font-size: 16px;
    margin-bottom: 10px; }
  .info-item .h6 {
    font-size: 22px; }

.color-picker ul {
  margin: 0;
  padding: 0; }
  .color-picker ul li {
    display: inline-block;
    list-style: none;
    margin-right: 12px; }
    .color-picker ul li span {
      width: 18px;
      height: 18px;
      border-radius: 100%;
      display: inline-block; }
      .color-picker ul li span.ash {
        background-color: #3F3D4B; }
      .color-picker ul li span.violate {
        background-color: #553753; }
      .color-picker ul li span.red {
        background-color: #F05B5B; }
      .color-picker ul li span.green {
        background-color: #74BE66; }
      .color-picker ul li span.blue {
        background-color: #48A1D0; }

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #FBFBFB !important; }

table {
  border-radius: 5px; }
  table.measurement-chart {
    text-align: center; }
  table.measurement-table {
    margin-bottom: 30px; }
    table.measurement-table thead th {
      font-size: 18px;
      background: #E3E1EC; }
      table.measurement-table thead th:first-child {
        text-align: left; }
    table.measurement-table tr td {
      padding: 20px 50px !important; }
      table.measurement-table tr td:first-child {
        text-align: left; }
    table.measurement-table tr th {
      vertical-align: middle; }
  table thead th {
    vertical-align: middle !important;
    border-bottom: 1px solid #dee2e6 !important;
    background: #F9F8FB;
    padding: 20px 50px !important;
    font-size: 18px;
    font-weight: normal; }
  table tr td {
    vertical-align: middle !important; }
  table .nice-select {
    border: 0;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    line-height: 1; }
    table .nice-select span {
      margin-right: 8px; }
    table .nice-select .option {
      padding: 2px 10px;
      text-align: center;
      min-height: 20px;
      line-height: 30px; }
    table .nice-select.open {
      z-index: 1 !important; }
  table input[type="text"] {
    height: auto;
    border: 0;
    width: 118px;
    padding: 5px 8px;
    border-radius: 3px; }
  table::placeholder {
    color: #8791A7;
    text-align: center;
    font-size: 14px; }

/**
 * Basic typography style for copy text
 */
.navbar {
  padding: 10px 15px;
  position: fixed;
  width: calc(100% - 248px);
  z-index: 999; }

.request-for-quote {
  max-width: 1000px;
  margin: 30px auto 0; }
  .request-for-quote button.btn-brand {
    float: right; }
  .request-for-quote .designs {
    display: flex;
    flex-wrap: wrap; }
    .request-for-quote .designs .card {
      flex-basis: calc(91.6% / 4);
      border-radius: 3px;
      box-shadow: 0px 7px 35px 3px rgba(11, 28, 67, 0.15);
      background: #f2f2f2;
      margin: 20px 10px; }
      .request-for-quote .designs .card h5 {
        font-size: 16px;
        font-weight: normal; }

.heading {
  max-width: 685px;
  margin: 0 auto 35px; }
  .heading h1 {
    text-align: center;
    font: Bold 30px/36px "Roboto";
    letter-spacing: 0.6px;
    color: #21242B; }
  .heading p {
    text-align: center;
    font: Light 16px/22px "Roboto";
    letter-spacing: 0;
    color: #858C9F; }

.quote-tab ul.nav-tabs {
  margin-bottom: 40px;
  border: 0;
  padding: 0; }
  .quote-tab ul.nav-tabs li a {
    text-align: left;
    font: Regular 18px/22px "Roboto";
    letter-spacing: 0.36px;
    color: #6A7181;
    background: #F8F9FB;
    border-radius: 4px 0px 0px 4px;
    padding: 15px 50px 15px 60px;
    border: 1px solid #C4C9D8;
    margin-right: -1px;
    display: block;
    text-decoration: none;
    font-weight: normal; }
    .quote-tab ul.nav-tabs li a::before {
      content: "";
      display: inline-block;
      width: 20px;
      height: 20px;
      vertical-align: middle;
      margin-right: 8px;
      margin-top: -4px; }
    .quote-tab ul.nav-tabs li a.sdd-ico:before {
      background: url(./icons/upload.png) no-repeat center; }
    .quote-tab ul.nav-tabs li a.pfod-ico:before {
      background: url(./icons/tshirt-gray.png) no-repeat center; }
    .quote-tab ul.nav-tabs li a.anp-ico:before {
      background: url(./icons/file.svg) no-repeat center; }
    .quote-tab ul.nav-tabs li a:hover {
      background: #EEEBF6;
      border-bottom: 1px solid #452D8F;
      font-weight: 500;
      text-decoration: none;
      color: #452D8F; }
    .quote-tab ul.nav-tabs li a.active {
      background: #EEEBF6;
      border-bottom: 1px solid #452D8F;
      font-weight: 500;
      text-decoration: none;
      color: #452D8F; }
      .quote-tab ul.nav-tabs li a.active.sdd-ico:before {
        background: url(./icons/upload-hover.png) no-repeat center; }
      .quote-tab ul.nav-tabs li a.active.pfod-ico:before {
        background: url(./icons/tshirt-hover.png) no-repeat center; }
      .quote-tab ul.nav-tabs li a.active.anp-ico:before {
        background: url(./icons/file-hover.png) no-repeat center; }

.style-item {
  padding: 20px 0; }
  .style-item .accordion .card {
    border: 0;
    overflow: visible; }
    .style-item .accordion .card .card-header {
      background: #F6F5F9;
      border: 0;
      padding: 8px 0; }
      .style-item .accordion .card .card-header button {
        text-align: left;
        font: Regular 18px/22px Helvetica;
        letter-spacing: 0;
        color: #452D8F;
        width: 100%;
        border-radius: 5px 5px 0px 0px; }
    .style-item .accordion .card .card-body {
      padding: 20px;
      border: 1px solid #F6F5F9;
      border-radius: 0 0 5px 5px; }

.drug-n-drop {
  border: 2px dashed #eee;
  padding: 50px 20px;
  text-align: center;
  min-height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  flex-wrap: wrap;
  margin-bottom: 20px; }
  .drug-n-drop .head-title {
    display: block;
    width: 100%; }
    .drug-n-drop .head-title h4 {
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 20px; }
    .drug-n-drop .head-title span {
      font-size: 22px;
      color: #757C8D;
      margin-bottom: 20px;
      display: inline-block; }
    .drug-n-drop .head-title p {
      font-size: 18px;
      margin-bottom: 30px; }

.file {
  position: relative;
  overflow: hidden;
  background: #fff;
  color: #EE761F;
  border: 1px solid #EE761F;
  padding: 8px 50px;
  margin: 0; }
  .file.file-style-2 {
    padding: 12px 46px;
    background: #EE761F;
    color: #fff; }
    .file.file-style-2:hover, .file.file-style-2:active, .file.file-style-2:focus {
      color: #fff; }
  .file input {
    position: absolute;
    font-size: 50px;
    opacity: 0;
    right: 0;
    top: 0;
    cursor: pointer; }
  .file:hover, .file:active, .file:focus {
    color: #EE761F; }

.add-new {
  color: #452D8F;
  font-size: 13px;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 30px; }
  .add-new:before {
    content: "+";
    vertical-align: middle;
    width: 17px;
    height: 17px;
    display: inline-block;
    text-align: center;
    border-radius: 100%;
    border: 1px solid;
    line-height: 15px;
    margin-right: 5px;
    margin-bottom: 3px; }
  .add-new.color {
    color: #EE761F; }

.steps {
  max-width: 350px;
  margin: 0 auto;
  margin-bottom: 40px; }
  .steps .stepwizard-step p {
    margin-top: 0px;
    color: #666; }
  .steps .stepwizard-row {
    display: table-row; }
  .steps .stepwizard {
    display: table;
    width: 100%;
    position: relative; }
  .steps .stepwizard .btn.disabled, .steps .stepwizard .btn[disabled] {
    opacity: 1 !important;
    color: #fff;
    background: #BBBEC5; }
  .steps .stepwizard fieldset[disabled] .btn {
    opacity: 1 !important;
    color: #fff; }
  .steps .stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 60%;
    height: 2px;
    background-color: #BBBEC5;
    z-index: 0;
    margin: 0 auto;
    left: 20%; }
  .steps .stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
    width: 200px; }
    .steps .stepwizard-step .btn-success {
      background: #452D8F;
      border: 2px solid #fff;
      box-shadow: 0 0 0 1px #452D8F; }
      .steps .stepwizard-step .btn-success:active, .steps .stepwizard-step .btn-success:focus {
        background: #452D8F !important;
        border: 2px solid #fff !important;
        box-shadow: 0 0 0 1px #452D8F !important; }
      .steps .stepwizard-step .btn-success.active-line::before {
        top: 14px;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 76%;
        height: 2px;
        background-color: #452D8F;
        z-index: 0;
        margin: 0 auto;
        left: -45px;
        z-index: 5555; }
    .steps .stepwizard-step .done {
      background: url(./icons/tick.png) no-repeat center #452D8F !important;
      text-indent: -999999999px; }
  .steps .btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 16px;
    line-height: 15px;
    border-radius: 100%;
    text-decoration: none; }

.row-box {
  border: 1px solid #E2E4EC; }

.row-item {
  padding: 30px;
  border-bottom: 1px solid #E2E4EC; }
  .row-item:last-child {
    border-bottom: 0; }
  .row-item .form-group {
    margin: 0; }

ol.order-list {
  margin: 0;
  padding: 0; }
  ol.order-list li {
    font-size: 16px;
    display: inline-block;
    margin: 0 0 10px 0;
    width: 102px; }

.card.product-card h5.card-title {
  font-size: 16px;
  margin-bottom: 5px; }
.card.product-card span.design-category {
  font-size: 12px;
  color: #7E8597; }
.card.product-card .card-footer {
  background: #fff;
  border: 0;
  padding: 0;
  margin-top: 10px;
  display: flex;
  align-items: center; }
  .card.product-card .card-footer span.badge {
    padding: 5px 14px;
    border-radius: 50px;
    display: inline-block;
    font-size: 12px; }
    .card.product-card .card-footer span.badge.in-project {
      background-color: #F7F5E5;
      color: #CD930C; }
    .card.product-card .card-footer span.badge.available {
      background-color: #E4F6EA;
      color: #00CC52; }
  .card.product-card .card-footer .nice-select {
    width: auto;
    border-radius: 38px;
    border-color: #BDC3D2;
    margin-left: 15px;
    line-height: 35px; }
    .card.product-card .card-footer .nice-select span.current {
      margin-right: 10px;
      color: #EE761F; }

.search input {
  padding: 12px 20px 12px 45px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background: url(./icons/search.png) no-repeat;
  background-position: 16px 15px;
  width: 300px; }
  .search input:focus {
    outline: 0; }

.filter-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px; }

.short-by .nice-select {
  width: 215px;
  border-radius: 40px;
  padding-left: 27px;
  padding-right: 40px; }
  .short-by .nice-select::after {
    right: 30px; }
  .short-by .nice-select span {
    margin-right: 10px; }

.product-details-slider-container {
  padding: 20px; }

.produt-details-description .head-title {
  margin-bottom: 12px;
  display: flex;
  align-items: center; }
  .produt-details-description .head-title h3 {
    font-size: 36px;
    margin: 0; }
  .produt-details-description .head-title .fav {
    margin: 0 20px; }

.other-description {
  padding: 50px;
  overflow: hidden;
  padding-bottom: 0; }

.product-detail-gallery {
  display: flex; }

#AddNewProduct h5.section-title {
  font-size: 30px; }
#AddNewProduct p.section-subtitle {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto; }
#AddNewProduct .modal-dialog {
  max-width: 1565px; }
#AddNewProduct .modal-body {
  padding-top: 35px !important;
  background: #F2F4F8; }
  #AddNewProduct .modal-body .add-new-product .steps {
    margin-bottom: 0;
    padding-top: 40px; }
  #AddNewProduct .modal-body .add-new-product .nav-tabs {
    padding: 0;
    border-color: #C2C5CC; }
  #AddNewProduct .modal-body .add-new-product ul {
    justify-content: center; }
    #AddNewProduct .modal-body .add-new-product ul li a {
      padding: 18px 62px;
      font-size: 20px;
      font-weight: normal;
      border-radius: 5px 5px 0 0;
      display: block;
      text-align: center;
      margin-bottom: -1px;
      color: #000; }
      #AddNewProduct .modal-body .add-new-product ul li a:hover {
        text-decoration: none; }
      #AddNewProduct .modal-body .add-new-product ul li a.active {
        border-top: 1px solid #C2C5CC;
        border-left: 1px solid #C2C5CC;
        border-right: 1px solid #C2C5CC;
        background: #fff;
        color: #452D8F; }
  #AddNewProduct .modal-body .add-new-product .tab-content {
    background: #fff; }

.modal-form {
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px 0 80px 0; }

.demo-product-card {
  border: 1px solid #E2E4EC;
  border-radius: 5px;
  padding: 10px;
  position: relative;
  display: inline-block;
  height: auto;
  width: 170px;
  height: 96px;
  vertical-align: middle;
  margin-right: 20px; }
  .demo-product-card span {
    font-size: 12px;
    margin-bottom: 6px;
    display: block; }
  .demo-product-card img {
    display: block; }
  .demo-product-card .close-demo {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 6px;
    top: 6px;
    background: url(./icons/remove.png) no-repeat center;
    display: block;
    cursor: pointer; }
  .demo-product-card .progress-bar {
    background-color: #452D8F; }

.successful {
  position: fixed;
  background: #444444d9;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9999;
  padding: 58px 178px;
  border: 2px solid;
  text-align: center; }
  .successful article {
    height: 100%;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .successful article h2 {
      margin: 75px 0 60px 0;
      font-size: 36px;
      color: #452D8F;
      max-width: 500px; }
      .notification .day ul li a .notify-list .info .name
      {
        text-transform: initial;
      }
/*# sourceMappingURL=main.css.map */
