.filter-container-top{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding:24px 24px;
  background: $gray_light_04;
  .filters {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .title {
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: $gray_dark_02;
      position: relative;
      padding-right: 20px;
      @media (max-width: 1440px) {
        flex: 100%;
        margin-bottom: 15px;
      }
    }
    .filter-toggle {
      padding: 0 12px 0 0;
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      cursor: pointer;
      user-select: none;
      white-space: nowrap;
      color: $primary_bright_01;
      position: relative;
      @media (max-width: 1440px) {
        padding: 0 15px 0 0;
      }
      span{
        vertical-align: middle;
        line-height: 9px;
        margin-left: 5px;
      }
      &.no-after{
        &::after{
          display: none;
        }
      }
    }
    .chip-container{
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      .chips{
        display: flex;
        align-items: center;
      }
      span.clear{
        margin-left: 10px;
        white-space: nowrap;
      }
    }
  }
}
span.clear{
  font-size: 14px;
  line-height: 20px;
  color: $primary_bright_01;
  cursor: pointer;
}
.filter-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .search-filter{
    flex-basis: 160px;
  }
  .sort-button{
    margin: 0 8px;
  }
}
section.filter-data-container {
  padding: 10px 24px;
  padding-bottom: 0;
  display: flex;
  .filter-bar-section {
    transition: all ease-in-out .2s;
    max-width: 0;
    margin-right: 0;
    opacity: 0;
    height: calc(100vh - 300px);
    scrollbar-width: thin;
    position: sticky;
    top: 202px;
    height: calc(100vh - 202px);
    &::-webkit-scrollbar-track
    {
       -webkit-box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.2);
       background-color: #F5F5F5;
    }
    
   &::-webkit-scrollbar{
       width:6px;
       background-color: #F5F5F5;
    }
    &::-webkit-scrollbar-thumb{
       border-radius: 10px;
       -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
       background-color: #F5F5F5;
    }
    @media (max-width: 1440px) {
      height: calc(100vh - 190px);
      top: 170px;
    }
    &.open {
      min-width: 294px;
      margin-right: 24px;
      opacity: 1;
    }
    .DateRangePicker{
      width: 100%;
      height: 32px;
        .DateInput{
          width: 80px;
        }
      
    }
  }
  .data-table{
    flex: 1;
  }
}