// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
.dashboard-container {
  padding-top: 100px;
  padding-bottom: 60px;
}

// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------
*,
::after,
::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  font-family: $primary-font;
  font-weight: 400;
  background: #FCFDFF;
}

/*--------------------------------------------------------------
  # Typography
  --------------------------------------------------------------*/

body,
button,
input,
select,
optgroup,
textarea {
  color: #000;
  font-size: 16px;
  line-height: 1.5;
}

select {
  overflow: auto;
}
textarea {
  padding: 15px;
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
  border: 0;
  background: #f4f5f7;
  &:focus {
    outline: 0;
    border-color: #452d8f;
  }
}
::placeholder,
::-moz-placeholder {
  font: Regular 16px/19px Open Sans;
  letter-spacing: 0.48px;
  color: #b5bbc9;
}
.textarea[contenteditable]:empty::before {
  content: "Write your feedback here.....";
  color: #b5bbc9;
  font-size: 14px;
  cursor: text;
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code,
kbd,
tt,
var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem;
}

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark,
ins {
  background: #196382;
  padding: 2px 4px;
  text-decoration: none;
  color: #fff;
}

big {
  font-size: 125%;
}
.form-group {
  float: left;
  width: 100%;
  margin-bottom: 20px;
}

label {
  color: #21242b;
  font-size: 18px;
  font-weight: 400;
  width: 100%;
}

.error {
  color: red;
}
a {
  font-size: 16px;
  font-weight: 500;
  color: $brand-color;
  &:hover {
    color: $brand-color !important;
    text-decoration: none;
  }
}

// Custom Chekbox
.custom-chekbox{
  .form-group input[type="checkbox"] {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }

  .form-group label {
    position: relative;
    cursor: pointer;
    font-size: 16px;
  }

  .form-group label:before {
    content:'';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #8C919C;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 3px;
  }

  .form-group input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    left: 9px;
    width: 6px;
    height: 14px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  .form-group input:checked + label:before {
    border: 2px solid $brand-color;
    background: $brand-color;
  }
}
// End Custom Chekbox


// Custom radio
.custom-radio {
  .form-group {
    margin: 0;
  }
  .form-group input[type="radio"] {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }

  .form-group label {
    position: relative;
    cursor: pointer;
    font-size: 16px;
    margin: 5px 0;
  }

  .form-group label:before {
    content: "";
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #8c919c;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
      inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 100%;
    margin-top: -4px;
  }
  .form-group input:checked + label:before {
    border: 8px solid $brand-color;
    background: #fff;
    padding: 4px;
  }
}
// End Custom radio

input {
  &[type="button"],
  &[type="reset"],
  &[type="submit"] {
    border: 2px solid transparent;
    background: $brand-color;
    color: #fff;
    font-weight: 500;
    padding: 9px 65px;
    font-size: 17px;
    cursor: pointer;
    text-transform: none;
    line-height: 25px;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    border-radius: 4px;
    margin: 15px 15px 15px 0;

    &:hover,
    &:active,
    &:focus {
      color: $brand-color;
      border-color: $brand-color;
      background: #fff;
      box-shadow: none;
      outline: none;
    }

    &:disabled {
      background: #bcbcbc;

      &:hover,
      &:active,
      &:focus {
        color: inherit;
        border-color: transparent;
        cursor: not-allowed;
      }
    }
  }
}

input {
  &[type="text"],
  &[type="email"],
  &[type="url"],
  &[type="password"],
  &[type="number"],
  &[type="tel"],
  &[type="range"],
  &[type="date"],
  &[type="month"],
  &[type="week"],
  &[type="time"],
  &[type="datetime"],
  &[type="datetime-local"],
  &[type="color"] {
    color: #000;
    padding: 10px 20px;
    height: 52px;
    background-color: #fff;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    border: 0;
    background: $filed-bg-color;
    &:active,
    &:focus {
      box-shadow: inset 0 0 0px 1px $brand-color !important;
      outline: 0;
    }
  }
}
input.type {
  background: #e6e8ef;
  border: 0;
  padding: 20px 30px;
  border-radius: 40px;
  height: 60px;
  margin-top: 25px;
}
.date-picker {
  padding-right: 30px !important;
  background: url(./images/icons/calendar_start.png) no-repeat;
  background-position: calc(100% - 14px) 17px;
}
.mail {
  padding-right: 30px !important;
  background: url(./images/icons/mail.png) no-repeat;
  background-position: calc(100% - 14px) 14px;
}
.btn {
  font-size: 16px;
  &:hover,
  &:focus,
  &:active {
    color: initial;
  }
}
.btn-outline-secondary {
  cursor: pointer;
  &:hover,
  &:active,
  &:focus {
    color: #6c757d !important;
    border-color: #6c757d !important;
    background: transparent !important;
    outline: 0;
    box-shadow: none !important;
  }
}
.btn-nitex-default {
  background-color: #ee761f;
  color: #fff;
  cursor: pointer;
  text-transform: initial;
  &:hover,
  &:active,
  &:focus {
    background-color: #ee761f;
    color: #fff !important;
  }
}
.btn-brand {
  width: 210px;
  height: 54px;
  background: #ee761f 0% 0% no-repeat padding-box;
  border-radius: 5px;
  box-shadow: 0px 3px 0px 6px rgba(238, 118, 31, 0.2%);
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
  border: 1px solid transparent;
  white-space: nowrap;
  &:focus,
  &:active {
    outline: 0;
  }
  &.btn-outline-secondary {
    color: #6c757d !important;
    border-color: #6c757d !important;
    background: #fff !important;
    border: 1px solid #6c757d !important;
  }
  &.btn-md {
    width: 160px;
    height: 50px;
    font-size: 18px;
  }
}
.fav {
  @include square(40px);
  display: inline-block;
  background: url(./images/icons/fav-active.png) no-repeat center;
}
.btn-edit {
  border: 1px solid #e2e6ef;
  padding: 10px 16px;
  &:before {
    content: "";
    background: url(./images/icons/edit.png) no-repeat center;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin: -3px 5px 0 0;
  }
}
.product-badge {
  background-color: #f7f5e5;
  color: #cd930c;
  padding: 5px 14px;
  border-radius: 50px;
  display: inline-block;
  font-size: 12px;
}
.info-item {
  margin-top: 30px;
  label {
    font-size: 14px;
    margin-bottom: 10px;
    color: #6c757d;
  }
  .h6 {
    font-size: 22px;
  }
}
.color-picker {
  ul {
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      list-style: none;
      margin-right: 12px;
      span {
        @include square(18px);
        border-radius: 100%;
        display: inline-block;
        &.ash {
          background-color: #3f3d4b;
        }
        &.violate {
          background-color: #553753;
        }
        &.red {
          background-color: #f05b5b;
        }
        &.green {
          background-color: #74be66;
        }
        &.blue {
          background-color: #48a1d0;
        }
        &.active {
          box-shadow: 0 0 0px 5px #d4d9e4;
        }
      }
    }
  }
}
span.circle-color {
  @include square(18px);
  border-radius: 100%;
  display: inline-block;
  background: #eee;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fbfbfb !important;
}
table {
  border-radius: 5px;
  &.measurement-chart {
    text-align: center;
    display: block;
    overflow-x: visible;
    margin-bottom: 0;
  }
  &.measurement-table {
    margin-bottom: 30px;
    thead {
      th {
        font-size: 18px;
        background: #e3e1ec;
        font-weight: bold;
        color: #707070;
        &:first-child {
          text-align: left;
          width: 25%;
        }
      }
    }
    tr {
      td {
        padding: 16px 70px !important;
        font-size: 22px;
        color: #8b8b8b;
        border-top: 0;
        border-bottom: 0;
        border-color: #dbdfe8 !important;
        &:first-child {
          text-align: left;
          color: #333333;
          font-size: 18px;
          padding-left: 50px !important;
        }
      }
      th {
        vertical-align: middle;
        font-size: 20px;
        color: #707070;
        font-weight: bold;
        border-top: 0;
        border-bottom: 0;
        width: 10%;
      }
    }
  }
  thead {
    th {
      vertical-align: middle !important;
      border-bottom: 1px solid #dee2e6 !important;
      background: #f9f8fb;
      padding: 16px 25px !important;
      font-size: 18px;
      font-weight: normal;
    }
  }
  tr {
    td {
      vertical-align: middle !important;
    }
  }
  .nice-select {
    border: 0;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    line-height: 1;
    span {
      margin-right: 8px;
    }
    .option {
      padding: 2px 10px;
      text-align: center;
      min-height: 20px;
      line-height: 30px;
    }
    &.open {
      z-index: 1 !important;
    }
  }
  input[type="text"] {
    height: auto;
    border: 0;
    width: 118px;
    padding: 5px 8px;
    border-radius: 3px;
    text-align: center;
  }
  &::placeholder {
    color: #8791a7;
    text-align: center;
    font-size: 14px;
  }
}

table.manage-project-table {
  border-collapse: separate;
  border-spacing: 0 2px;
  thead {
    th {
      background: #e7ebf4;
      border: 0;
      border-bottom: 2px solid #fcfdff !important;
      font-size: 18px;
      color: #6a7181;
      padding: 20px 26px !important;
      //white-space: nowrap;
      &:first-child {
        border-radius: 5px 0 0 5px;
      }
      &:last-child {
        border-radius: 0 5px 5px 0;
        text-align: center !important;
        width: 188px;
      }
      &:nth-last-child(2) {
        text-align: center;
      }
    }
  }
  tbody {
    tr {
      td {
        font-size: 16px;
        color: #21242b;
        background: #fff;
        border-top: 1px solid #f1f2f6;
        border-bottom: 1px solid #f1f2f6;
        padding: 16px 26px;
        //white-space: nowrap;
        &:first-child {
          border-radius: 5px 0 0 5px;
          border-left: 1px solid #f1f2f6;
        }
        &:last-child {
          border-radius: 0 5px 5px 0;
          border-right: 1px solid #f1f2f6;
          text-align: center;
          white-space: nowrap;
        }
        &:nth-last-child(2) {
          text-align: center;
        }
        .badge {
          font-size: 15px;
          font-weight: normal;
          border-radius: 22px;
          padding: 8px 20px;
        }
      }
    }
  }
}
.pagination {
  margin-top: 30px;
  .page-item {
    a {
      border-radius: 3px;
      border: 1px solid #d1ced8;
      width: 40px;
      height: 40px;
      background: #fff;
      color: #21242b;
      text-align: center;
      line-height: 24px;
      font-size: 18px;
      margin: 0 5px;
      &:focus {
        outline: 0;
        box-shadow: none;
      }
    }
    &:first-child a {
      background: url("./images/icons/left-arrow.png") no-repeat center
        $brand-color;
      border-color: $brand-color;
      color: #fff;
    }
    &:last-child a {
      background: url("./images/icons/right-arrow.png") no-repeat center
        $brand-color;
      border-color: $brand-color;
      color: #fff;
    }
  }
}
.check-link {
  font-weight: bold;
  text-decoration: underline;
}
span.view-all {
  font-size: 16px;
  text-align: right;
  float: right;
  color: $secondary-color;
  cursor: pointer;
}
table.quotation-table {
  margin-top: 20px;
  th {
    padding: 20px 30px !important;
    font-weight: normal !important;
    &:first-child {
      width: 1% !important;
    }
  }
  tr {
    td {
      .custom-chekbox {
        .form-group {
          width: auto;
          display: inline-block;
          margin: 0;
          label {
            margin: 0;
            &:before {
              margin-right: 0;
            }
          }
        }
      }
      padding: 20px 30px !important;
      color: #21242b;
      font-size: 20px;
      border: 0;
      border-bottom: 1px solid #ccc;
      a {
        font-size: 20px;
        text-decoration: underline;
        &.dropdown-item {
          text-decoration: none;
          font-size: 16px;
        }
      }
      .dropdown {
        button {
          border: 1px solid #ccc;
          border-radius: 50px;
        }
        .dropdown-toggle {
          background-position: calc(100% - 18px) center;
        }
      }

      highlight {
        background: #3cd674;
        border-radius: 5px;
        padding: 5px 8px;
      }
    }
  }
}

.project-profile-table {
  box-shadow: 0 0 0px 1px #dadde4;
  th {
    font-size: 18px;
    font-weight: normal;
    background: #f6f5f9;
    color: #6a7181;
    padding: 20px 50px !important;
    border: 0;
    &:first-child {
      border-top-left-radius: 7px;
    }
    &:last-child {
      border-top-right-radius: 7px;
    }
  }
  tr {
    td {
      padding: 15px 50px !important;
      font-size: 16px;
      color: #21242b;
      border: 0;
      border-bottom: 1px solid #dadde4;
      &:first-child {
        border-bottom-left-radius: 7px;
      }
      &:last-child {
        border-bottom-right-radius: 7px;
      }
    }
    &:last-child {
      td {
        border-bottom: 0;
      }
    }
  }
}

table.payment-checkout {
  max-width: 1170px;
  margin: 0 auto;
  background: #fff;
  tr {
    td {
      padding: 15px 30px !important;
    }
  }
}
.pil {
  padding: 10px 24px;
  font-size: 16px;
  display: inline-block;
  color: #fff !important;
  border-radius: 40px;
  text-decoration: none !important;
  border: 0;
  &:hover,
  &:active {
    color: #fff !important;
  }
  &.negotiation-open {
    background: #ee761f;
  }
  &.ok {
    background: #5165e6;
  }
  &.invoice {
    background: #ee761f;
    padding: 10px 30px;
  }
  &.payment {
    background: #2e60d5;
    padding: 10px 30px;
  }
  &.approve {
    background: #28d86e;
    padding: 10px 30px;
  }
  &.assigned-project {
    background: $brand-color;
    font-size: 14px;
    padding: 6px 20px;
  }
}

h4.details-title {
  font-size: 24px;
  text-align: center;
  background: #f2f4f8;
  padding: 15px;
  border: 1px solid #c2c5cc;
  border-radius: 3px;
  line-height: 25px;
  color: #21242b;
}
#sidebarCollapse {
  overflow-y: auto;
}

/*
 *  STYLE 3
 */

#sidebarCollapse::-webkit-scrollbar-track {
  background-color: #dfdce6;
}

#sidebarCollapse::-webkit-scrollbar {
  width: 7px;
  background-color: #dfdce6;
}

#sidebarCollapse::-webkit-scrollbar-thumb {
  background-color: #8b8a8e;
}
.ask-quote {
  color: #fff;
  font-size: 11px;
  border: 1px solid rgb(238, 118, 31);
  border-radius: 25px;
  padding: 8px 25px;
  background: rgb(238, 118, 31);
  text-align: center;
  font-weight: 600;
}
.ask-quote:focus,
.ask-quote:hover {
  outline: 0;
  background: #fff;
  color: #ee761f;
}

.save-setting {
  button.btn-brand {
    width: 85px;
    height: 36px;
    font-size: 16px;
    margin: 0 0 0 15px !important;
    border-radius: 45px;
  }
}

.table-device-height {
  @media (max-width: 1600px) {
    height: calc(100vh - 126px) !important;
    overflow: auto !important;
    min-height: inherit !important;
  }
  @media (max-width: 1440px) {
    height: calc(100vh - 174px) !important;
    overflow-x: auto !important;
    min-height: inherit !important;
    display: block;
  }
}

//Custom Scrollbar

.custom-scrollbar {
  overflow-y: auto;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #dfdce6;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 7px;
  background-color: #dfdce6;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #8b8a8e;
}
.custom-scrollbar::-webkit-scrollbar {
  background-color: #dfdce6;
  height: 7px;
}

//custom-scrollbar-x
.custom-scrollbar-x {
  overflow-x: auto;
}

.custom-scrollbar-x::-webkit-scrollbar-track {
  background-color: #dfdce6;
}

.custom-scrollbar-x::-webkit-scrollbar {
  background-color: #dfdce6;
  height: 7px;
}

.custom-scrollbar-x::-webkit-scrollbar-thumb {
  background-color: #8b8a8e;
}

//Fixing
.designs.manage-product.design-list-product {
  .card.product-card .card-img-top {
    height: 280px;
  }
  @media (max-width: 991px) {
    height: 340px;
  }
  @media (max-width: 1440px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 30px;
  }
}
.designs.manage-product.design-list-product {
  @media (max-width: 1280px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 25px;
  }
  @media (max-width: 991px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 25px;
  }
  @media (max-width: 767px) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-gap: 25px;
  }
}
table.manage-project-table.collection-list-table.invoice-list-table thead{
  th:first-child {
    @media (max-width: 1024px) {
      width: 170px;
    }
  }
  th:last-child {
    @media (max-width: 1440px) {
      width: 170px;
    }
  }
}

.rich-text-editor{
  background: #F4F5F7;
  border-radius: 20px;
  padding: 10px 40px 10px 15px;
  .rich-text{
    background: #F4F5F7;
    border: 0;
    .RichTextEditor__editor___1QqIU .public-DraftEditor-content, .RichTextEditor__editor___1QqIU .public-DraftEditorPlaceholder-root{
      padding: 0;
    }
    .RichTextEditor__editor___1QqIU {
      font-family: "Open Sans";
      font-size: 14px;
    }
  }
}
.write.main-post{
  .rich-text-editor{
    background: #fff;
    .rich-text{
      background: #fff;
    }
  }
}

.auth-page.container {
  padding-bottom: 42px;
}