/**
 * Basic typography style for copy text
 */

.regular-12 {
    font-size: 12px;
    line-height: 16px;
}
.regular-14 {
    font-size: 14px;
    line-height: 20px;
}
.semibold-14 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
}
.semibold-16 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: $gray_dark_01;
}
