$base-color: #F4F4F4;
$shine-color: rgba(229, 229, 229, 0.8);
$animation-duration: 2s;
$avatar-offset: 52 + 16;


@mixin background-gradient {
  background-image: linear-gradient(90deg, $base-color 0px, $shine-color 40px, $base-color 80px);
  background-size: 600px;
}

//Skeleton
.skeleton {
  width: 500px;
  height: 440px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;

  .action {
    display: flex;
    width: 100%;
    margin: 0;

    .line {
      height: 20px;
      width: 50px;
      margin-right: 15px;
      + .line {
        width: 100px;
      }
    }
  }

  .button-skel {
    height: 20px;
    width: 50px;
    margin-right: 15px;
    border-radius: 7px;
    &.big{
      height: 40px;
      width: 120px;
    }

    @include background-gradient;

    animation: shine-avatar $animation-duration infinite ease-out;
  }
  .cheque-skel{
    height: 20px;
    width: 20px;
    border-radius: 3px;
    @include background-gradient;

    animation: shine-avatar $animation-duration infinite ease-out;
  }

  .img {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    border-radius: 100%;

    @include background-gradient;

    animation: shine-avatar $animation-duration infinite ease-out;
  }

  .line {
    width: 140px;
    height: 16px;
    margin-top: 12px;
    border-radius: 7px;

    @include background-gradient;

    animation: shine-lines $animation-duration infinite ease-out;
  }

  .img + .line {
    margin-top: 11px;
    width: 100%;
  }

  .cat {
    background-color: #ddd;
    height: 8px;
    width: 76px;
    border-radius: 7px;

    @include background-gradient;

    animation: shine-lines $animation-duration infinite ease-out;
  }
}


//Product card
.product-skeleton {
  width: 100%;
  height: 440px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;

  .action {
    display: flex;
    width: 100%;
    margin: 0;

    .line {
      height: 20px;
      width: 50px;
      margin-right: 15px;
      + .line {
        width: 100px;
      }
    }
  }

  .img {
    float: left;
    width: 100%;
    height: 285px;
    background-color: #ccc;
    border-radius: 10%;

    @include background-gradient;

    animation: shine-avatar $animation-duration infinite ease-out;
  }

  .line {
    float: left;
    width: 140px;
    height: 16px;
    margin-top: 12px;
    border-radius: 7px;

    @include background-gradient;

    animation: shine-lines $animation-duration infinite ease-out;
  }

  .img + .line {
    margin-top: 11px;
    width: 100%;
  }

  .cat {
    background-color: #ddd;
    height: 8px;
    width: 76px;
    border-radius: 7px;

    @include background-gradient;

    animation: shine-lines $animation-duration infinite ease-out;
  }
}

//Quote List left
.quote-list-left{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 110px;
  .client-info {
    display: flex;
    align-items: center;
    .img{
      margin-right: 15px;
      width: 60px;
      height: 60px;
    }
    .info .line{
      margin: 0 0 15px 0;
    }
  }
  .button-skel{
    width: 100px;
    margin-right: 0;
    border-radius: 28px;
    height: 26px;
  }
}

//Quote List Table
.quote-list-table{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  height: 55px;
  padding: 0;
  > div{
    margin: 0 !important;
  }
  .button-skel {
    width: 100px;
    margin-right: 20px;
    border-radius: 28px;
    height: 26px;
  }
  .cat{
    width: 58px;
  }
}

//Project List
.project-list{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  height: 110px;
  > div{
    margin: 0 !important;
  }
}












































//Animation
@keyframes shine-lines {
  0% {
    background-position: -100px;
  }

  40%, 100% {
    background-position: 280px;
  }
}

@keyframes shine-avatar {
  0% {
    background-position: -100px + $avatar-offset;
  }

  40%, 100% {
    background-position: 280px + $avatar-offset;
  }
}