//helperclass
.border-gray-light{
  border: 1px solid #E2E6EF !important;
}
.brand-color{
  color: $brand-color !important;
}
.brand-bg-color{
  background: $brand-color !important;
}
.bg-green-light{
  background: #EBFFF1 !important;
}
.color-green-light{
  color: #EBFFF1 !important;
}
.bg-green{
  background: #00C334 !important;
}
.color-green{
  color: #00C334 !important;
}
.brand-color-secondary{
  color: $secondary-color !important;
}
.brand-bg-color-secondary{
  background: $secondary-color !important;
}
.color-333{
  color: #333 !important;
}

$util-font-sizes: 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200;

@each $util-font-size in $util-font-sizes {
  .font-#{$util-font-size} {
    font-size: $util-font-size * 1px !important;
  }
}

//Explore Design
.explore-design{
  padding: 25px 50px 0 20px;
  .explore-design-filter{
    .search{
      > svg{
        position: absolute;
        top: 17px;
        left: 20px;
      }
      input{
        background: #F4F5F7 !important;
        border-color: #EDEFF4 !important;
        padding-left: 48px;
      }
    }
    .cat-menu{
      flex-basis: 50px;
      cursor: pointer;
      svg{
        margin: 16px 0 0 0;
      }
    }
  }
}
span.result {
  color: #858B96;
  font-size: 20px;
  float: right;
  text-align: right;
}
.explore-design-carasoul{
  width: calc(100% - 50px);
}
ul.filter-tag {
  margin: 35px 0 40px 0;
  padding: 0;
  display: flex;
  li{
    list-style: none;
    display: inline-block;
    margin-right: 12px;
    position: relative;
    .close-tag{
      display: none;
    }
    &.active{
      .close-tag{
        display: block;
        position: absolute;
        right: 15px;
        top: 0px;
      }
      a{
        padding-right: 40px;
        background: #452C8E;
        color: white;
      }
    }
    a{
      padding: 10px 20px;
      background: #F2F4F8;
      font-family: "Open Sans";
      font-size: 16px;
      color: #21242B;
      border-radius: 20px;
      &:hover{
        background: #452C8E;
        color: white !important;
      }
    }
  }
}
.new-card{
  margin-bottom: 35px !important;
  &.active{
    border: 2px solid rgba(69,44,142,.4);
    background: #F5F5FB;
    .card-body{
      border-radius: 0 0 5px 5px;
    }
  }
  .thumb{
    .favourite-part{
      top: 10px;
      display: none;
      &.active{
        svg path{
          fill: #F05B5B;
        }
      }
      &.choose {
        right: inherit;
        left: 10px;
        display: none;
        &.active{
          svg path{
            fill: none;
            stroke:#452c8e
          }
        }
      }
    }
    position: relative;
    .btn-brand{
      width: 93px;
      height: 34px;
      font-size: 13px;
      position: absolute;
      right: 20px;
      bottom: -20px;
      display: none;
    }
  }
  .card-body{
    padding: 16px 16px 25px;
    h5.card-title {
      font-size: 18px !important;
      font-weight: bold;
      color: #21242B;
    }
  }
   .card-footer {
     justify-content: space-between;
     background: transparent !important;
     .quantity{
       font-size: 12px;
       color: #7E8597;
       text-transform: uppercase;
       font-family: Open Sans;
       > svg{
         margin: 0 10px;
       }
       strong{
         color: #21242B;
         text-transform: initial;
         font-weight: normal;
       }
     }
  }
  &:hover{
    .thumb{
      .favourite-part{
        display: block;
        &.choose {
          display: block;
        }
      }
      .btn-brand{
        display: block;
      }
    }
  }
}
.show-products {
  display: grid;
  grid-template-columns: repeat(5,minmax(0,1fr));
  grid-gap: 0 35px;
}
.product-detail-gallery .thumbnail-slider ul li {
  margin-bottom: 20px;
  img {
    width: 93px;
    height: 115px;
  }
}
.favourite {
  &.favourite-active{
    svg{
      path{
        fill: #FF3B63;
      }
    }
  }
    &:focus, &:active{
      background: #fff !important;
      outline: 0 !important;
      box-shadow: none !important;
    }
}
.quote-now{
  &:focus, &:active, &:hover{
    color: #fff !important;
  }
}


table{
  border-radius: 5px;
  &.measurement-chart{
    text-align: center;
    display: block;
    overflow-x: visible;
    margin-bottom: 0;
  }
  &.measurement-table{
    margin-bottom: 0px;
    border-radius: 0;
    thead{
      th{
        font-size: 16px;
        background: #E3E1EC;
        font-weight: bold;
        color: #707070;
        &:first-child{
          text-align: left;
          width: 31%;
        }
        &:last-child{
          text-align: left;
          width: 105px;
        }
      }
    }
    tr{
      td{
        padding: 10px 15px !important;
        font-size: 22px;
        color: #8B8B8B;
        border-top: 0;
        border-bottom: 0;
        border-color: #DBDFE8 !important;
        &:first-child{
          text-align: left;
          color: #333333;
          font-size: 18px;
          padding-left: 18px !important;
        }
      }
      th{
        vertical-align: middle;
        font-size: 16px;
        color: #707070;
        font-weight: bold;
        border-top: 0;
        border-bottom: 0;
      }
    }
  }
  thead{
    th{
      vertical-align: middle !important;
      border-bottom: 1px solid #dee2e6 !important;
      background: #F9F8FB;
      padding: 10px 15px !important;
      font-size: 18px;
      font-weight: normal;
    }
  }
  tr{
    td{
      vertical-align: middle !important;
    }
  }
  .nice-select{
    border: 0;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    line-height: 1;
    span{
      margin-right: 8px;
    }
    .option {
      padding: 2px 10px;
      text-align: center;
      min-height: 20px;
      line-height: 30px;
    }
    &.open{
      z-index: 1 !important;
    }
  }
  input[type="text"]{
    height: auto;
    border: 0;
    width: 118px;
    padding: 5px 8px;
    border-radius: 3px;
    text-align: center;
  }
  &::placeholder{
    color: #8791A7;
    text-align: center;
    font-size: 14px;
  }
}