.share-your-design-form {
  max-width: 1270px;
}
.pick-color-table{
  th{
    padding: 0 !important;
    background: transparent;
    text-align: left;
    border-bottom: 0 !important;
    width: 33.33%;
  }
  tr{
    td{
      padding-right: 12px;
      padding-bottom: 12px;
      break-inside: 5px;
      &:last-child{ 
         padding-right: 0;
      }
      input{
        height: 52px;
        width: 100%;
        text-align: left;
        padding: 15px;
      }
    }
  }
}
.pick-color{
  position: relative;
  span{
    background: royalblue;
    width: 32px;
    height: 32px;
    display: block;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    cursor: pointer;
  }
  input{
    padding-left: 55px !important; 
    border: 1px solid #452C8E !important;
  }
}