.btn-brand {
  box-shadow: none !important;
}

.content-wrapper-override{
  padding: 80px 80px 80px 80px !important;

}

.back-link-override{
  position: relative !important;
  top: 0px !important;
}

.dropdown-menu-override{
  left: unset !important;
  right:0 !important;
}

.btn-brand.btn-outline-secondary {
  color: #000000 !important;
  border: 1px solid #dadde4 !important; }
