.data-table{

    .measurement-filter{
        margin-top: -70px;
        p{
            margin-right: 16px;
            color: $gray_dark_02;
            margin-bottom: 0;
        }
        select{
            width: auto;
            height: 36px;
            margin-right: 24px;
            line-height: 16px;
            background-position: calc(100% - 12px) 13px;
            font-family: "Open Sans";
            padding: 6px 30px 6px 12px;
            border-radius: 4px;
            background-color: #F4F5F7;
            border: none;
            color: $gray_dark_02;
            display: block !important;
            font-size: 14px;
            &:focus{
                outline: none;
            }
            option{
                font-family: "Open Sans";
            }
        }
        .click-box{
            height: 36px;
            p{
                font-size: 14px;
            }
        }
        .nice-select{
            display: none !important;
        }
        .css-2b097c-container{
            width: 200px;
        }
        .nice-select{
            width: 100px;
            margin-right: 10px;
            color: #6A7181;
        }
    
    }
    .measurement-info-table{
        table{
            background: $white;
            tr{
                &:hover{
                    background: $gray_light_03;
                }
                th{
                    text-align: center;
                    border-right: 1px solid $gray_light_01;
                    &:nth-child(2){
                        text-align: left;
                    }
                }
                td{
                    text-align: center;
                    background: transparent;
                    border-right: 1px solid $gray_light_01;
                    &:nth-child(1){
                        width: 60px;
                    }
                    &:nth-child(2){
                        text-align: left;
                        width: 200px;
                    }
                    &:last-child{
                        position: relative;
                        width: 80px;
    
                        .action-popup{
                            width: 340px;
                            border-radius: 4px;
                            padding: 12px;
                            position: absolute;
                            right: 100%;
                            bottom: 4px;
                            text-align: left;
                            select{
                                height: 36px;
                                margin-top: 8px;
                                height: 36px;
                                margin-top: 8px;
                                width: 130px;
                                border: 1px solid #C7CED4 !important;
                                padding: 0 10px;
                                font-size: 14px;
                                color: $gray_dark_02;
                                border-radius: 2px;
                                background-position-x: 95%;
                                &:focus{
                                    outline: 0;
                                }
                            }
                            input{
                                display: block;
                                width: 120px;
                                height: 36px;
                                text-align: left;
                                margin-top: 8px;
                                border: 1px solid #C7CED4 !important;
                                background: $white;
                            }
                        }
                    }
                    p{
                        margin: 0;
                        color: $gray_dark_02;
                        cursor: pointer;
                        font-size: 14px;
                    }
                    input{
                        width: 64px;
                        display: none;
                        color: $gray_dark_02;
                        margin: 0 auto;
                    }
                    .button.text{
                        background: transparent;
                        border: none;
                    }
    
                }
            }
        }
        .save-template-btn{
            position:relative;
            .template-popup{
                max-width: 275px;
                padding: 12px;
                position: absolute;
                right: 0;
                top: calc(100% + 24px);
                text-align: left;
                z-index: 1;

                input{
                    height: 40px;
                }
                .grading-value{
                    margin-right: 10px;
                    p{
                        color:$gray_dark_02;
                    }
                }
            }
        }
    }
    .dropdown-menu{
        li{
            a{
                cursor: pointer;
                display: block;
            }
        }
    }
}
.add-color-popup{
    .color-box-input{
    border-right: 1px solid #C7CED4;
    background: $gray_light_03;
    padding: 2px 12px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    z-index: 1;
    input{
        position: relative;
        top: 12px;
    }
    input[type="color"] {
        padding: 0;
        width: 24px;
        height: 24px;
        border-radius: 100px;
        overflow: hidden;
        background: none;
        outline: none;
        &:focus{
            outline: none;
            box-shadow: none !important;
        }
    }
    input[type="color"]::-webkit-color-swatch-wrapper {
        padding: 0;
    }
    input[type="color"]::-webkit-color-swatch {
        border: solid 1px transparent; /*change color of the swatch border here*/
        border-radius: 40px;
    }
}
 .modal-footer{
     border-top: 0;
 }
}


