
.confirm-quote-request {
  padding-right: 80px;
  width: calc(100% - 540px);
  float: left;
  @media (max-width: 1790px) {
      padding-right: 30px;
      width: calc(100% - 380px);
      float: left;
  }
  @media (max-width: 1365px) {
      width: calc(100% - 360px);
  }
  @media (max-width: 1024px) {
      width: calc(100% - 0px);
      padding: 0;
  }
  @media (max-width: 767px) {
    .header-title h3 {
      font-size: 16px;
      margin: 0;
      svg{
        margin-right: 10px !important;
        width: 10px;
        margin-top: -2px;
      }
    }
    .add-more-design{
      font-size: 12px !important;
    }
  }
}
.add-more {
  max-width: 560px;
  width: 100%;
  background: #fff;
  box-shadow: -10px 0px 10px -5px rgba(0,0,0,.1);
  margin-top: -18px;
  height: calc(100vh - 58px);
  margin-bottom: -120px;
  position: fixed;
  right: 0;
  .header{
    position: sticky;
    top: 0;
    z-index: 999999;
    background: #fff;
    padding: 20px 35px;
    margin-bottom: 1px;
    @media (max-width: 1440px) {
      h4{
        font-size: 20px !important;
      }
    }
  }
  .added-item{
    padding: 0 35px 20px;
  }
  @media (max-width: 1790px) {
    max-width: 400px;
    .header{
      padding: 15px;
    }
    a{
      font-size: 20px;
    }

    .added-item{
      padding: 0 15px 20px;
      .quote-info{
        a{
          font-size: 17px !important;
        }
        .info-item label {
          margin-bottom: 5px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }

        .info-right {
          margin-left: 10px !important;
          flex-basis: 74%;
        }
      }
      .quote-list  {
        padding: 10px;
        img{
          height: 80px;
          width: auto;
        }
        .info-item {
          margin-top: 15px;
          width: 50%;
        }
      }
    }
  }
  @media (max-width: 1365px) {
      max-width: 380px;
    a{
      font-size: 18px;
    }
  }
  @media (max-width: 1024px) {
    .added-item .quote-list img {
      height: 95px;
    }
    max-width: 445px;
    right: -500px !important;
    transition: all ease-in-out .2s;
    &.open{
      top: 75px;
      right: 0px !important;
    }
    .info-right {
      width: 76%;
    }
  }
}

.quote-list {
    width: 100%;
    background: #fff;
    box-shadow: 0px 0px 2px 1px #ddd;
    border-radius: 5px;
    padding: 10px;
  position: relative;
  .quote-info{
    width: 100%;
    a{
      color: #21242B;
    }
  }
  .dlt {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    user-select: none;
    @media (max-width: 767px) {
      right: 0px;
      top: 0px;
    }
  }
  .quote-info{
    img{
      object-fit: cover;
      width: auto;
    }
  }
  .info-item {
    margin-top: 20px;
    width: 140px;
  }
  .sizes .size {
    width: 50px;
    margin-right: 16px;
    input{
      padding: 5px;
      text-align: center;
      height:  38px;
      border-color: #e4e4e4;
    }
    &.total{
      width: 130px;
      input{
        border-color: #C4C9D8;
      }
    }
  }
  @media (max-width: 1790px) {
    .quote-info{
      a{
        font-size: 20px !important;
        @media (max-width: 1790px) {
          ~ a{
            font-size: 15px !important;
          }
        }
      }
      .info-right {
        margin-left: 15px !important;
      }
    }
    .sizes{
      .size {
        width: 36px;
        margin-right: 10px;
        input {
          height: 30px;
        }
        &.total {
          width: 80px;
        }
      }
    }
    .info-item {
      margin-top: 15px;
      width: 148px;
      h5{
        font-size: 14px !important;
        line-height: 20px;
      }
    }
  }
  @media (max-width: 1365px) {
    .info-item {
      width: 116px;
    }
    .quote-info{
      img{
        height: 110px;
      }
    }
  }
  @media (max-width: 1024px) {
    .sizes{
      .size {
        width: 36px;
        margin-right: 15px;
        input {
          height: 30px;
        }
        &.total {
          width: 80px;
        }
      }
    }
    .info-item {
      width: 160px;
    }
    .quote-info{
      img{
        height: 176px;
      }
    }
  }
  @media (max-width: 991px) {
    flex-direction: column;
    .features {
      float: left !important;
    }
    .info-item {
      width: auto;
      margin-right: 30px !important;
    }
    .quote-info img {
      height: 144px;
    }
    .sizes{
      margin-left: 48px;
      margin-bottom: 15px;
      .size {
        width: 50px;
        margin-right: 20px;
        input {
          height: 40px;
        }
        &.total {
          width: 130px;
        }
      }
    }
  }
  @media (max-width: 767px) {
    .info-item {
      width: auto !important;
      margin-right: 0px !important;
    }
    .quote-info{
      .info-right{
        a{
          font-size: 18px;
          font-weight: 600 !important;
          color: #21242B;
          max-width: 170px;
          line-height: 24px;
        }
      }
      img {
        height: 92px;
      }
    }
    .sizes{
      margin-left: 0px;
      margin-top: 0px;
      margin-bottom: 10px;
      .size {
        width: 35px;
        margin-right: 5px;
        @media (max-width: 320px) {
          width: 31px;
        }
        input {
          height: 34px;
          @media (max-width: 320px) {
            height: 25px;
            padding: 2px;
          }
        }
        &.total {
          width: 70px;
          @media (max-width: 320px) {
            width: 44px;
          }
        }
      }
    }
  }
}
.added-item{
  .quote-list {
    box-shadow: 0px 0px 2px 0px #ddd;
    padding: 15px;
    img{
      max-width: 98px;
      width: 100%;
      height: 110px;
    }
  }
}
.pricewillbeupdated {
  @media (max-width: 991px) {
    > svg {
      width: 148px;
    }
  }
}
.size-n-color {
  min-height: 204px;
  padding: 30px 50px 20px 0;
  @media (max-width: 1440px) {
    padding: 30px 28px 20px 0;
  }
  @media (max-width: 1366px) {
    padding: 30px 25px 20px 0;
  }
  @media (max-width: 991px) {
    min-height: auto;
  }
  .size-n-color .sizes:only-child{
    padding-top: 70px;
  }
  .sizes{
    margin-bottom: 16px;
  }
}
.product-color {
  width: 28px;
  height: 28px;
  border-radius: 100%;
  margin: 0 auto;
  @media (max-width: 1440px) {
    width: 20px;
    height: 20px;
  }
}

.add-quote .confirm-quote-request .quote-req-list-container{
  .quote-list .quote-info img {
    max-width: 195px;
    object-fit: cover;
    @media (max-width: 1790px) {
      height: 132px;
      width: auto;
    }
    @media (max-width: 1280px) {
      height: 110px;
    }
    @media (max-width: 1366px) {
      height: 112px;
    }
    @media (max-width: 991px) {
      height: auto;
    }
    @media (max-width: 767px) {
      height: auto;
      max-width: 100%;
    }
  }
}