.buyer-dashboard-container{
    p, h1, h2, h3, h4{
        margin: 0;
    }
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .welcome-message{
        h3{
            font-size: 20px;
            line-height: 28px;
            font-weight: 600;
            padding-top: 12px;
            color: #21242B;        
            margin-bottom: 20px;
        }
    }
    .full-journey-status{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .one-sixth{
            width:calc(16.66% - 12px);
            border: 1px solid #C7CED4;
            border-radius: 4px;
            padding: 24px 16px;
            display: flex;
            justify-content: space-between;
            margin-right: 12px;
            position: relative;
            &:last-child{
                margin-right: 0;
            }
            .status-icon{
              position: absolute;
              right: 16px;
            }
            h3{
                color: #6A7181;
                font-weight: 600;
                font-size: 24px;
                line-height: 32px;
                span{
                  font-size: 16px;
                  line-height: 24px;
                }
            }
            span{
                color: #6A7181;
                font-size: 14px;
                line-height: 20px;
            }
            &.sustainable-box{
                background: #EDFDF0;
            }
            &.quote-order-box{
                background: #F4F9FF;
            }
            &.design-box{
                background:#F5FEFA;
            }
            &.delivered-box{
                background:#FFF4FB;
            }
            &.order-value-box{
                background:#FFFFF5;
            }
            &.supplier-box{
                background:#F8FFFD;
            }
        }
    }
    .orders-and-quotes-status{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 40px;
        justify-content: space-between;
        .one-half{
            width: calc(50% - 8px);
            .orders-table{
                height: 504px;
                overflow-y: auto;
                scrollbar-width: thin;
                border: 1px solid $gray_light_01;
                border-top: none;
                background: $white;
                &::-webkit-scrollbar-track
                {
                -webkit-box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.2);
                background-color: #F5F5F5;
                }
                
                &::-webkit-scrollbar{
                width: 8px;
                background-color: #F5F5F5;
                }
                &::-webkit-scrollbar-thumb{
                border-radius: 10px;
                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                background-color: #F5F5F5;
                }
                table{
                  &.table{
                    border: none !important;
                    tr{
                      td{
                        &:nth-child(2){
                          width: 160px;
                        }
                        &:nth-child(3){
                          width: 150px;
                        }
                        &:nth-child(4){
                          width: 144px;
                        }
                      }
                    }
                  }
                }
                
            }
            &.my-orders{
                .state-title{
                    border-bottom: none;
                }
                .nothing-found{
                  padding: 174px 0;
                }
            }
            &.my-quotes{
              table{
                &.table{
                  margin-bottom: 0;
                }
              }
              .nothing-found{
                padding: 184px 0;
                border-top: none;
              }
            }
        }
    }
    .state-title{
        padding-bottom: 8px;
        border-bottom: 1px solid $gray_light_01;
        h3{
            font-size: 18px;
            line-height: 28px;
            color: #000000;
        }
        a{
            font-size: 16px;
            line-height: 24px;
            color: $primary;
            margin-left: 24px;
            position: relative;
            &::after{
                content: '';
                position: absolute;
                left: -12px;
                top: 50%;
                height: 11px;
                width: 1px;
                background: #9AA1AF;
                transform: translateY(-50%);
            }
        }
    }
    .quick-actions{
        margin-top: 32px;
        .quick-actions-table{
            height: 507px;
            overflow-y: auto;
            scrollbar-width: thin;
                &::-webkit-scrollbar-track
                {
                -webkit-box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.2);
                background-color: #F5F5F5;
                }
                
                &::-webkit-scrollbar{
                width: 8px;
                background-color: #F5F5F5;
                }
                &::-webkit-scrollbar-thumb{
                border-radius: 10px;
                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                background-color: #F5F5F5;
                }
            table{
                &.table{
                  margin-bottom: 0;
                    tr{
                      th{
                        &:nth-child(2), &:nth-child(3), &:nth-child(4){
                          cursor: pointer;
                          span{
                            display: inline-block;
                            width: 120px;
                          }
                          
                        }
                        
                      }
                        td{
                            &:first-child{
                                width: 400px;
                            }
                        }
                    }
                }
            }
        }
        .nothing-found{
          padding: 192px 0;
          border: 1px solid $gray_light_01;
          border-top: none;
        }
    }
    table{
        margin-top: -1px;
        thead{
            th{
                position:sticky;
                top: -1px;
                left: 0;
            }
        }
        tr{
          td{
            .image-with-title{
              display: flex;
              align-items: center;
            }
          }
        }
    }
    .nothing-found{
      img{
        height: 32px;
        width: 32px;
      }
      p{
        color: $gray_dark_02;
        font-size: 14px;
        line-height: 20px;
      }
    }
}


.progress-info-team-brand {
    .one-half {
      flex-basis: calc(50% - 12px) !important;
      border-radius: 4px;
  
      &:first-child {
        margin-right: 12px;
      }
      &:last-child {
        margin-left: 12px;
      }
    }
    .team-performance-top {
      padding-bottom: 10px;
      border-bottom: 1px solid #C7CED4;
      margin-bottom: 20px;
  
      .css-1va3kn4-control{
        border: 1px solid #C7CED4 !important;
        height: 36px;
        border-radius:2px;
        font-size: 14px;
        .css-g1d714-ValueContainer{
          position: relative;
          top: -2px;
        }
      }
      .css-ay7dqj-control{
        border-color: $gray_light_01;
        border-radius:4px;
        box-shadow: none;
        height: 36px;
        font-size: 14px;
   
        .css-g1d714-ValueContainer{
          position: relative;
          top: -2px;
        }
      }
  
    }
    .one-half {
      background: $white;
      border: 1px solid $gray_light_01;
      padding: 28px 20px;
    }
    .order-status {
      li {
        margin-right: 12px;
      }
    }
    .progress-identifier {
      width: 12px;
      height: 12px;
      display: inline-block;
      margin-right: 4px;
      margin-bottom: -1px;
    }
    .green {
      background: $ontime;
    }
    .blue {
      background: $pending;
    }
    .red {
      background: $overdue;
    }
    .ahead-schedule {
      background: $ahead_of_schedule;
    }
    .single-person-progress {
      height: 60px;
    }
    .bg-warning {
      background: $behind_the_schedule !important;
    }
    .progress-section {
      height: 370px;
      scrollbar-width: thin;
                &::-webkit-scrollbar-track
                {
                -webkit-box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.2);
                background-color: #F5F5F5;
                }
                
                &::-webkit-scrollbar{
                width: 8px;
                background-color: #F5F5F5;
                }
                &::-webkit-scrollbar-thumb{
                border-radius: 10px;
                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                background-color: #F5F5F5;
                }
      overflow: auto;
      .person-info {
        width: 190px;
        img {
          width: 32px;
          height: 32px;
          border-radius: 100px;
          margin-right: 8px;
        }
        p {
          margin-bottom: 0 !important;
          a {
            font-size: 14px;
            color: $gray_dark_02;
          }
        }
      }
    }
    .brand-satisfaction {
      .person-info {
        width: 214px;
  
        img {
          width: 56px;
          height: 24px;
          object-fit: contain;
        }
      }
      .progress-info {
        width: calc(100% - 214px);
      }
    }
  }
  
  .progress-info {
    width: calc(100% - 190px);
  
    .progress {
      width: 100%;
      height: 14px;
      border-radius: 0;
      .progress-bar {
        border: none !important;
        position: unset;
      }
  
      &::after {
        display: none;
      }
    }
    .completed {
      background: $ontime;
    }
    .pending {
      background: $pending;
    }
    .overdue {
      background: $overdue;
    }
    .ahead-schedule {
      background: $ahead_of_schedule;
    }
    .progress-info .bg-warning {
      background: $behind_the_schedule !important;
    }
  }
  
  .running-orders-info-section {
    background: $white;
    border: 1px solid $gray_light_01;
    padding: 24px 20px;
    border-radius: 4px;
    .single-person-progress {
      height: 80px;
      padding-right: 4px;
    }
    .four-images {
      flex-wrap: wrap;
      width: 54px ;
      .single-one {
        background: $gray_light_04;
        width: 23px;
        height: 26px;
        margin-left: 2px;
        margin-bottom: 2px;
  
        img {
          width: 23px;
          height: 26px;
          object-fit: contain;
          margin: 0;
          border-radius: 0;
          border: 1px solid $gray_light_03;
        }
      }
    }
    .progress-section {
      height: 400px;
      .single-person-progress {
        .person-info {
          width: 420px;
          .order-name {
            width: 200px;
            margin-left: 16px;
            color: $gray_dark_02;
          }
          .assigned-person {
            width: 30px;
            margin-left: 12px;
            color: $gray_dark_03;
            img{
                width: 24px;
                height: 24px;
                object-fit: cover;
                border-radius: 100px;
            }
          }
          .date-info {
            width: 100px;
            margin: 0 12px;
            color: $gray_dark_01;
            .date-count {
              font-weight: 600;
            }
          }
          p {
            font-size: 14px;
            line-height: 20px;
          }
        }
        .progress-info {
          width: calc(100% - 420px);
        }
      }
    }
  }
  
  .overdue-tasks-section {
    background: $white;
    border: 1px solid $gray_light_01;
    margin-top: 24px;
    border-radius: 4px;
    padding: 0 20px;
  
    .month-count {
      font-weight: 600;
    }
  
    .team-performance-top {
      padding: 16px 0px;
      .col-title {
        h3 {
          margin: 0;
          padding: 0;
        }
      }
      .order-filter {
        select {
          margin-left: 8px;
        }
  
      }
    }
  
  }
  

  @media only screen and (max-width: 1366px) {
    .buyer-dashboard-container{
      .full-journey-status{
        .one-sixth{
          span{
            font-size: 13px;
          }
        }
      }
    }
    .running-orders-info-section {
      .progress-section {
        .single-person-progress {
          .person-info{
            width: 360px;
            .order-name{
              margin-left: 12px;
              width: 150px;
            }
          }
          .progress-info {
            width: calc(100% - 360px);
          }
        }
      }
    }
  }
  @media only screen and (max-width: 1024px){
    .buyer-dashboard-container{
      .full-journey-status {
        .one-sixth{
          width: calc(33.33% - 12px);
          margin-bottom: 12px;
          &:nth-child(3){
            margin-right: 0;
          }
        }
      }
      .orders-and-quotes-status{
        margin-top: 24px;
      }
      .orders-and-quotes-status{
        .one-half{
          width: 100%;
          margin: 0;
          &.my-orders{
            margin-bottom: 24px;
          }
        }
      }
    }
    
  }
  @media only screen and (max-width: 767px){
    .buyer-dashboard-container{
      padding-top: 24px;
    }
  }

  @media only screen and (max-width: 520px){
    .buyer-dashboard-container{
      .full-journey-status {
        .one-sixth{
          width: calc(50% - 4px);
          margin-bottom: 8px;
          margin-right: 8px;
          position: relative;
          &:nth-child(even){
            margin-right: 0;
          }
          .status-icon{
            img{
              width: 28px;
              right: 20px;
            }
          }
        }
      }
      .orders-and-quotes-status{
        margin-top: 16px;
        .one-half{
          width: 100%;
          margin: 0;
          &.my-orders{
            margin-bottom: 24px;
          }
          &.my-quotes{
            table{
              &.table{
                tr{
                  td{
                    &:first-child{
                      .image-with-title{
                        span{
                          width: 140px;
                        }
                      }
                    }
                    
                    &:nth-child(2){
                      span{
                        width: 90px;
                        display: inline-block;
                      }
                    }
                    &:nth-child(3){
                      .task-status{
                        &.purple{
                          .status-btn{
                        width: 118px;
                        display: inline-block;
                      }
                        }
                      }
                    }
                    &:nth-child(4){
                      span{
                        width: 100px;
                        display: inline-block;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      .performence-status{
        .order-status{
          flex-wrap: wrap;
          li{
            font-size: 13px;
          }
        }
      }
      .running-orders-info-section{
        padding: 8px;
        .progress-section {
          .single-person-progress {
            flex-wrap: wrap;
            margin-bottom: 12px;
            box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.08);
            padding-bottom: 12px;
            .person-info{
              width: 100%;
              p{
                font-size: 12px;
                line-height: 16px;
              }
              .order-name{
                margin-left: 8px;
                width: 130px;
              }
              .date-info{
                width: 74px;
                margin-right: 0;
              }
            }
            .progress-info {
              width:100%;
              .assigned-person{
                margin-left: 0;
              }
            }
          }
        }
      }
      .progress-info-team-brand{
        .team-performance-top{
          margin-bottom: 12px;
        }
      }
      .quick-actions{
        table{
          &.table{
            tr{
              
              td{
                &:nth-child(2){
                  span{
                    width: 90px;
                    display: inline-block;
                  }
                }
                &:nth-child(3){
                  span{
                    width: 112px;
                    display: inline-block;
                  }
                }
                &:nth-child(4){
                  span{
                    width: 130px;
                    display: inline-block;
                  }
                }
              }
            }
          }
        }
      }
      
    }
    
  }