p {
    margin: 0;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.buyer-timeline-container {
    height: calc(100vh - 160px);
    .common-blocks {
        padding: 16px;
        border: 1px solid $gray_light_02;
        background: $white;
        &.all-designs-with-status {
            margin-top: 12px;
        }
    }
    .timeline-row {
        width: 100%;
        max-width: 1108px;
        margin: 0 auto;
        display: flex;
        .one-third {
            &.all-designs-destails {
                width: 100%;
                max-width: 300px;
                position: sticky;
                top: 100px;
                height: calc(100vh - 100px);
                z-index: 1;
                .assign-member {
                    max-width: 300px;
                    left: -100px;
                    top: 5px;
                    .title {
                        font-weight: 500;
                        font-size: 14px;
                    }
                    .member-list-container {
                        .member-list {
                            padding: 6px 12px;
                            img {
                                width: 24px;
                                height: 24px;
                            }
                            .name {
                                font-size: 12px;
                                line-height: 16px;
                                span {
                                    &.tag {
                                        font-size: 10px;
                                        line-height: 14px;
                                    }
                                }
                            }
                        }
                    }
                }
                .design-info-with-po {
                    .design-title-with-date {
                        p {
                            span {
                                display: inline-block;
                                &:first-child {
                                    width: 130px;
                                    margin-right: 8px;
                                    font-size: 14px;
                                    line-height: 20px;
                                }
                                &:last-child {
                                    font-size: 12px;
                                    line-height: 16px;
                                    color: $gray_dark_02;
                                }
                            }
                        }
                        .etd-status {
                            &:hover {
                                .etd-dates {
                                    display: block;
                                }
                            }
                        }
                    }
                    .untis-price {
                        span {
                            font-size: 12px;
                            line-height: 16px;
                            color: $gray_dark_03;
                            position: relative;
                            display: inline-block;
                            margin-right: 8px;
                            &:first-child {
                                &::after {
                                    content: "";
                                    position: absolute;
                                    width: 4px;
                                    height: 4px;
                                    background: $gray_dark_04;
                                    border-radius: 100px;
                                    right: -8px;
                                    top: 50%;
                                    transform: translateY(-50%);
                                }
                            }
                        }
                    }
                    .progress-with-count {
                        display: flex;
                        align-items: center;
                        .progress {
                            width: 90%;
                            margin-right: 4px;
                            height: 8px;
                            border-radius: 0;
                            background: $gray_light_01;
                            &::after {
                                display: none;
                            }
                        }
                        .count {
                            font-size: 12px;
                            line-height: 16px;
                            color: $gray_dark_02;
                            position: relative;
                            top: -2px;
                        }
                    }
                    .add-team-members {
                        padding: 4px 0 10px 0;
                        border-bottom: 1px solid $gray_light_01;
                    }
                    .all-po-list {
                        padding-top: 10px;
                        .po-names {
                            font-size: 12px;
                            line-height: 16px;
                            color: $gray_dark_02;
                            display: inline-block;
                            a {
                                font-size: 12px;
                                line-height: 16px;
                            }
                        }
                        button {
                            span {
                                font-size: 12px;
                                line-height: 16px;
                            }
                        }
                    }
                    .pi-download {
                        margin-top: 4px;
                        button {
                            font-size: 14px;
                            line-height: 20px;
                            color: $primary_bright_01;
                        }
                    }
                }

                .tab-design-task-buttons {
                    display: none;
                    border: 1px solid $gray_light_02;
                    border-top: none;
                    align-items: center;
                    background: $white;
                    height: 48px;
                    margin-bottom: 12px;
                    .one-half {
                        width: 50%;
                        display: flex;
                        justify-content: center;
                        .form-group,
                        label {
                            margin: 0;
                        }
                        &:first-child {
                            border-right: 1px solid $gray_light_02;
                        }
                    }
                }
            }
            &.activity-logs {
                width: 100%;
                max-width: 460px;
                margin: 0 24px;
                padding-bottom: 24px;
                z-index: 0;
                .top-write-comments {
                    position: sticky;
                    top: 58px;
                    z-index: 1;
                    background: #fcfdff;
                    padding-bottom: 12px;
                    padding-top: 42px;
                    margin-top: -42px;
                    .comments-button {
                        display: flex;
                        justify-content: space-between;
                        background: $white;
                        padding: 8px 12px;
                        border: 1px solid $gray_light_02;
                        p {
                            color: $gray_dark_03;

                            img {
                                width: 32px;
                                height: 32px;
                                border-radius: 100px;
                                margin-right: 8px;
                            }
                        }
                    }
                }
                .reply-btn {
                    button {
                        color: $primary_bright_02;
                    }
                }
                .reply-container {
                    .comment-text {
                        border: none;
                        padding: 0;
                    }
                    .reply-box {
                        margin-top: 8px;

                        button {
                            color: $primary_bright_02;
                        }
                        .profile-image {
                            position: absolute;
                            top: 12px;
                            left: 12px;
                            width: 24px;
                            height: 24px;
                        }
                        input {
                            background: $gray_light_03;
                            border: none;
                            padding-left: 48px;
                            border-radius: 4px;
                            height: 48px;
                            font-size: 14px;
                            &:focus {
                                box-shadow: none !important;
                            }
                        }
                    }
                }
                .comments-body {
                    .post-actions {
                        button {
                            &.post-btn {
                                color: $primary_bright_02;
                                background: transparent;
                                padding: 0;
                            }
                        }
                    }
                }
            }
            &.all-production-details {
                width: 100%;
                max-width: 300px;
                position: sticky;
                top: 100px;
                height: calc(100vh - 100px);
            }
        }
    }
    .button.text {
        background: transparent;
        border: 1px solid transparent;
        padding: 0;
        font-size: 12px;
        line-height: 16px;
    }
}
.etd-dates {
    background: $white;
    padding: 8px 12px;
    width: 170px;
    position: absolute;
    right: 0;
    z-index: 1;
    display: none;
    ul {
        list-style: none;
        display: flex;
        margin: 8px 0;
        max-width: 100% !important;
        &:last-child {
            margin-bottom: 0;
        }
        li {
            font-size: 12px;
            line-height: 16px;
            &:first-child {
                width: 70px;
                color: $gray_dark_02;
            }
            &:last-child {
                font-weight: 600;
                color: $gray_dark_01;
            }
        }
    }
}
.all-designs-with-status {
    .custom-chekbox {
        .form-group {
            float: unset;
            margin: 0;
            label {
                font-size: 12px;
                line-height: 16px;
                margin-bottom: 4px;
                &::before {
                    padding: 7px;
                    margin-right: 8px;
                    top: -1px;
                }
            }
            input {
                &:checked + label {
                    &::before {
                        border: 2px solid $gray_dark_02;
                        background: $gray_dark_02;
                    }
                    &::after {
                        left: 6px;
                        top: 0;
                    }
                }
            }
        }
    }
    .select-all-designs {
        margin-bottom: 8px;
        label {
            color: $gray_dark_01;
        }
    }
    .design-lists {
        max-height: 332px;
        padding-right: 4px;
        &::-webkit-scrollbar {
            width: 4px;
        }
        .single-design-row {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 6px;
            .design-details {
                display: flex;
                align-items: center;
                .design-info {
                    img {
                        width: 24px;
                        height: 27px;
                        background: $gray_light_02;
                        object-fit: contain;
                    }
                    span {
                        font-size: 12px;
                        line-height: 16px;
                        color: $gray_dark_02;
                        margin-left: 4px;
                    }
                }
            }

            .design-status {
                max-width: 50px;
                width: 50px;
                text-align: right;
                span {
                    font-size: 10px;
                    line-height: 16px;
                    color: $gray_dark_02;
                }
                .progress {
                    height: 8px;
                    border-radius: 0;
                    height: 3px;
                    background: $gray_light_01;
                    margin: 0;
                    width: 100%;
                    &::after {
                        display: none;
                    }
                }
            }
        }
    }
}
.top-write-comments {
    width: 100%;
    .comments-header {
        display: flex;
        align-items: center;
        padding: 8px 12px;
        border: 1px solid $gray_light_02;
        background: $white;
        .profile-image {
            margin-right: 8px;
            position: relative;
            top: -4px;
            img {
                width: 32px;
                height: 32px;
                border-radius: 100px;
                object-fit: cover;
            }
        }
        .comments-hint {
            font-size: 12px;
            line-height: 16px;
        }
        .dropdown {
            button {
                padding: 0;
                padding-right: 16px;
                font-size: 12px;
                line-height: 16px;
                color: $gray_dark_01;
            }
            span {
                font-size: 10px;
                line-height: 16px;
                color: $gray_dark_02;
            }

            .select-task-list {
                width: 250px;
                padding: 8px;
            }

            ul {
                li {
                    cursor: pointer;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}
.select-design-list {
    padding: 8px;
    li {
        margin-bottom: 8px;
        span {
            color: $gray_dark_02;
        }
        img {
            width: 24px;
            height: 27px;
            object-fit: contain;
            background: $gray_light_02;
            margin-right: 8px;
        }
    }
}
.comments-body {
    .comment-text {
        background: $white;
        position: relative;
        padding: 16px 12px;
        textarea {
            border: none;
            border-radius: 0;
            font-size: 12px;
            line-height: 16px;
            resize: none;
            height: 80px;
            padding: 0;
        }
        .attachment {
            position: absolute;
            bottom: 13px;
            right: 16px;
        }
        .files-n-photos {
            height: 88px;
            margin-bottom: 0;
            display: none;
            &.open {
                display: flex;
            }
        }
    }
    .post-actions {
        text-align: right;
        margin-top: 4px;
        button {
            font-size: 14px;
            line-height: 20px;
            height: 32px;
            border: none;
            background: transparent;
            text-transform: uppercase;
            &.cancel {
                margin-right: 8px;
                color: $gray_dark_02;
            }
            &.post-btn {
                color: $primary_bright_01;
                background: #452c8e;
                color: $white;
                padding: 0 16px;
            }
        }
    }
}
.common-popup-body {
    .post-actions {
        padding: 12px;
    }
}
.more-designs-popup {
    padding: 12px;
    .designs-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 5px;
        height: 400px;
        img {
            width: 100%;
            aspect-ratio: 9 / 10;
            object-fit: contain;
            background: #edf0f2;
        }
    }
}
.activity-list {
    .single-activity {
        background: $white;
        border: 1px solid $gray_light_02;
        padding: 12px 16px;
        margin-top: 12px;
        transition: 0.4s;
        &:hover {
            border: 1px solid $primary_bright_02;
            background: $gray_light_05;
        }
        &:first-child {
            margin-top: 0;
        }
        .activity-common-header {
            display: flex;
            align-items: center;
            cursor: pointer;
            .activity-icon {
                margin-right: 8px;
                margin-top: -2px;
            }
            .activity-text {
                p {
                    margin-bottom: 4px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    &.time {
                        font-size: 10px;
                        line-height: 14px;
                    }
                    span {
                        &.pi-title {
                            color: $primary_bright_01;
                        }
                    }
                }
            }
            .person-profile {
                margin-right: 8px;
                img {
                    width: 24px;
                    height: 24px;
                    border-radius: 100px;
                }
            }
            .activity-content {
                p {
                    color: $gray_dark_02;
                    span {
                        color: $gray_dark_01;
                    }
                }
            }
            .design-image {
                margin-left: 12px;
                img {
                    width: 24px;
                    height: 27px;
                    object-fit: contain;
                    background: $gray_light_02;
                }
            }
        }
        .activity-common-body {
            padding-top: 12px;
            position: relative;
            border-top: 1px solid $gray_light_02;
            .description {
                color: $gray_dark_02;
                margin-bottom: 4px;
            }
            .body-style-images-row {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: auto;
                column-gap: 5px;
                .single-one {
                    background: #edf0f2;
                    img {
                        width: 100%;
                        aspect-ratio: 9 / 10;
                        object-fit: contain;
                    }
                    &:nth-child(2) {
                        position: relative;
                        .more-style-count {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            background: rgba(0, 0, 0, 0.2);
                            top: 0;
                            left: 0;
                            cursor: pointer;
                            .count-number {
                                font-size: 18px;
                                line-height: 26px;
                                color: $white;
                                font-weight: 600;
                                position: relative;
                                top: 50%;
                                transform: translateY(-50%);
                                text-align: center;
                            }
                        }
                    }
                }
            }
            .reply-btn {
                button {
                    font-size: 12px;
                    line-height: 16px;
                }
            }
            .details-btn {
                button {
                    color: $gray_dark_02;
                }
            }
            .info-details {
                p {
                    font-size: 12px;
                    line-height: 16px;
                    color: $gray_dark_02;
                }
            }
        }
        &.activity-with-header {
            .activity-common-header {
                margin-bottom: 12px;
            }
        }
    }
}

.add-team-members {
    .added-members {
        img {
            width: 24px;
            height: 24px;
            border: 1px solid $white;
            margin-left: -15px;
            border-radius: 100px;
            &:first-child {
                margin-left: 0;
            }
        }
    }
    .more-member {
        a {
            display: inline-block;
            width: 24px;
            height: 24px;
            font-size: 12px;
            font-weight: 600;
            line-height: 24px;
            color: $primary_bright_01;
            text-align: center;
            background: $primary_light_02;
            border-radius: 100px;
            margin-left: -15px;
        }
    }
}

.all-production-details {
    .design-select {
        button {
            border: 1px solid $gray_light_01;
            font-size: 12px;
            line-height: 16px;
            color: $gray_dark_03;
            height: 35px;
            border-radius: 0;
            padding: 0 12px;
            display: block;
            width: 100%;
            text-align: left;
            background-color: $white;
            img {
                width: 24px;
                height: 27px;
                object-fit: contain;
                background: $gray_light_02;
                margin-right: 8px;
            }
        }
    }
    .production-accordion {
        margin-top: 8px;
        border: 1px solid $gray_light_02;
        .card {
            border: 0;
            .card-header {
                padding: 0;
                background: $white;
                border: none;
                border-bottom: 1px solid $gray_light_02;
                button {
                    font-size: 12px;
                    line-height: 16px;
                    color: $gray_dark_02;
                    padding: 7px 12px;
                    width: 100%;
                    text-align: left;
                    &:hover,
                    &:focus {
                        text-decoration: none;
                    }
                }
            }
            .card-body {
                padding: 12px;
                border-bottom: 1px solid $gray_light_02;
                .all-task-status {
                    .single-task {
                        display: flex;
                        justify-content: space-between;
                        .task-name {
                            padding-right: 16px;
                            img {
                                margin-right: 4px;
                            }
                        }
                        span {
                            font-size: 12px;
                            line-height: 16px;
                            color: $gray_dark_02;
                        }
                        .date-details {
                            width: 50px;
                            text-align: right;
                            padding: 0;
                        }
                        &.completed {
                            background: transparent;
                            .date-details {
                                span {
                                    color: $green;
                                }
                            }
                        }
                        &.pending {
                            .date-details {
                                span {
                                    color: $primary_bright_02;
                                }
                            }
                        }
                        &.due {
                            .date-details {
                                span {
                                    color: $red;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1440px) {
    .buyer-timeline-container {
        .timeline-row {
            .one-third {
                &.activity-logs {
                    .activity-list {
                        margin-top: 24px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    .buyer-timeline-container {
        .timeline-row {
            flex-wrap: wrap;
            width: 100%;
            max-width: 460px;
            .one-third {
                &.all-designs-destails {
                    width: 100%;
                    max-width: 100%;
                    position: unset;
                    height: unset;
                    .tab-design-task-buttons {
                        display: flex;
                    }
                }
                &.activity-logs {
                    margin: 0;
                    .top-write-comments {
                        position: unset;
                        margin: 0;
                        padding: 0;
                    }
                    .activity-list {
                        margin-top: 12px;
                    }
                }
                &.all-production-details {
                    max-width: 100%;
                }
            }
            .tab-none {
                display: none;
            }
        }
    }
}
