p {
    margin: 0;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.buyer-timeline-container {
    height: calc(100vh - 160px);
    .regular-12 {
        font-size: 14px;
        line-height: 20px;
    }
    .common-blocks {
        padding: 16px;
        border: 1px solid $gray_light_02;
        background: $white;
        border-radius: 4px;
    }
    .all-designs-with-status {
        margin-top: 12px;
    }
    .timeline-row {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        .one-third {
            &.all-designs-destails {
                width: 100%;
                max-width: 20%;
                position: sticky;
                top: 100px;
                height: calc(100vh - 100px);
                z-index: 1;

                .assign-member {
                    max-width: 300px;
                    left: -58px;
                    top: 5px;
                    .title {
                        font-weight: 500;
                        font-size: 14px;
                    }
                    .member-list-container {
                        .member-list {
                            padding: 6px 12px;
                            img {
                                width: 24px;
                                height: 24px;
                            }
                            .name {
                                font-size: 12px;
                                line-height: 16px;
                                span {
                                    &.tag {
                                        font-size: 10px;
                                        line-height: 14px;
                                    }
                                }
                            }
                        }
                    }
                }
                .design-info-with-po {
                    padding-left: 36px;
                    .style-text-view {
                        img {
                            position: absolute;
                            left: 10px;
                            cursor: pointer;
                        }
                    }
                    .design-title-with-date {
                        .order-number {
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 24px;
                        }
                        .etd-status {
                            cursor: pointer;
                            span.date {
                                font-weight: 500;
                            }
                            img {
                                margin-left: 4px;
                            }
                        }
                        p {
                            span {
                                display: inline-block;
                                &:first-child {
                                    width: 130px;
                                    margin-right: 8px;
                                    font-size: 14px;
                                    line-height: 20px;
                                }
                                &:last-child {
                                    font-size: 12px;
                                    line-height: 16px;
                                    color: $gray_dark_02;
                                }
                            }
                        }
                        .etd-status {
                            &:hover {
                                .etd-dates {
                                    display: block;
                                    left: 36px;
                                }
                            }
                        }
                    }
                    .untis-price {
                        span {
                            font-size: 12px;
                            line-height: 16px;
                            color: $gray_dark_02;
                            position: relative;
                            display: inline-block;
                            margin-right: 16px;
                            &:first-child {
                                &::after {
                                    content: "";
                                    position: absolute;
                                    width: 4px;
                                    height: 4px;
                                    background: $gray_dark_04;
                                    border-radius: 100px;
                                    right: -10px;
                                    top: 50%;
                                    transform: translateY(-50%);
                                }
                            }
                        }
                    }
                    .etd-with-po-details {
                        margin: 16px 0;
                    }
                    .add-team-members {
                        padding: 16px 0 2px 0;
                        border-top: 1px solid $gray_light_01;
                    }
                }

                .tab-design-task-buttons {
                    display: none;
                    border: 1px solid $gray_light_02;
                    border-top: none;
                    align-items: center;
                    background: $white;
                    height: 48px;
                    margin-bottom: 12px;
                    .one-half {
                        width: 50%;
                        display: flex;
                        justify-content: center;
                        .form-group,
                        label {
                            margin: 0;
                        }
                        &:first-child {
                            border-right: 1px solid $gray_light_02;
                        }
                    }
                }
            }
            &.activity-logs {
                width: 100%;
                max-width: calc(60% - 48px);
                margin: 0 24px;
                padding-bottom: 24px;
                z-index: 0;
                .top-write-comments {
                    position: sticky;
                    top: 58px;
                    z-index: 1;
                    background: #fcfdff;
                    padding-bottom: 20px;
                    padding-top: 42px;
                    margin-top: -42px;
                    z-index: 2;
                    .comments-button {
                        display: flex;
                        justify-content: space-between;
                        background: $white;
                        padding: 15px 12px;
                        border: 1px solid $gray_light_02;
                        border-radius: 4px;
                        margin: 0 4px;
                        p {
                            color: $gray_dark_03;

                            img {
                                width: 32px;
                                height: 32px;
                                border-radius: 100px;
                                margin-right: 8px;
                                object-fit: cover;
                            }
                        }
                    }
                }
                .reply-btn {
                    button {
                        color: $primary_bright_02;
                    }
                }
                .reply-container {
                    .comment-text {
                        border: none;
                        padding: 0;
                    }
                    .reply-box {
                        margin-top: 8px;

                        button {
                            color: $primary_bright_02;
                        }
                        .profile-image {
                            position: absolute;
                            top: 12px;
                            left: 12px;
                            width: 24px;
                            height: 24px;
                            border-radius: 100px;
                            z-index: 1;
                        }
                    }
                }
                .comments-body {
                    .post-actions {
                        button {
                            &.post-btn {
                                color: $primary_bright_02;
                                background: transparent;
                                padding: 0;
                            }
                        }
                    }
                }
            }

            &.all-production-details {
                width: 100%;
                max-width: 100%;
                position: sticky;
                top: 100px;
                height: calc(100vh - 100px);
            }
        }
        .tab-none {
            &.one-third {
                width: 20%;
            }
        }
    }
    .button.text {
        background: transparent;
        border: 1px solid transparent;
        padding: 0;
        font-size: 14px;
        line-height: 20px;
    }
}
.etd-dates {
    background: $white;
    padding: 8px 12px;
    width: 176px;
    position: absolute;
    right: 0;
    z-index: 1;
    display: none;
    ul {
        list-style: none;
        display: flex;
        margin: 8px 0;
        max-width: 100% !important;
        &:last-child {
            margin-bottom: 0;
        }
        li {
            font-size: 12px;
            line-height: 16px;
            &:first-child {
                width: 70px;
                color: $gray_dark_02;
            }
            &:last-child {
                font-weight: 600;
                color: $gray_dark_01;
            }
        }
    }
}
.top-write-comments,
.reply-container {
    .quill {
        overflow-y: visible;
        .ql-container {
            font-family: "Inter" !important;
            .ql-mention-list-container {
                z-index: 1;
            }
        }
        .ql-toolbar {
            display: none;
        }
        .ql-tooltip-editor {
            input {
                display: none;
            }
        }
        .ql-editor {
            &.ql-blank {
                &::before {
                    left: 48px !important;
                    top: 15px !important;
                }
            }
            p {
                background-color: $gray_light_03 !important;
                border: none;
                padding-left: 48px;
                border-radius: 4px;
                font-size: 14px !important;
                padding: 15px 48px 15px 48px;
                overflow-y: visible !important;
                scrollbar-width: thin;
                &::-webkit-scrollbar-track {
                    -webkit-box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.2);
                    background-color: #f5f5f5;
                }

                &::-webkit-scrollbar {
                    width: 6px;
                    background-color: #f5f5f5;
                }
                &::-webkit-scrollbar-thumb {
                    border-radius: 10px;
                    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                    background-color: #f5f5f5;
                }
            }
        }
    }
}
.all-designs-with-status {
    .custom-chekbox {
        .form-group {
            float: unset;
            margin: 0;
            label {
                font-size: 14px;
                line-height: 16px;
                margin-bottom: 4px;
                &::before {
                    padding: 7px;
                    margin-right: 8px;
                    top: -1px;
                }
            }
            input {
                &:checked + label {
                    &::before {
                        border: 2px solid $gray_dark_02;
                        background: $gray_dark_02;
                    }
                    &::after {
                        left: 6px;
                        top: 0;
                    }
                }
            }
        }
    }
    .select-all-designs {
        margin-bottom: 8px;
        label {
            color: $gray_dark_01;
        }
    }
    .design-lists {
        max-height: 364px;
        &::-webkit-scrollbar {
            width: 4px;
        }
        .single-design-row {
            margin-bottom: 12px;
            padding: 4px;
            display: flex;
            background: $white;
            border: 1px solid $gray_light_02;
            border-radius: 2px;
            cursor: pointer;
            .design-details {
                display: flex;
                .style-image {
                    aspect-ratio: 9 / 10;
                    background: #edf0f2;
                    max-width: 62px;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
                .design-info {
                    padding-left: 8px;
                    .design-title {
                        color: $gray_dark_01;
                        font-weight: 500;
                    }
                    img {
                        width: 24px;
                        height: 24px;
                        background: $gray_light_02;
                        border: 1px solid $gray_light_02;
                        object-fit: contain;
                    }
                    span,
                    p {
                        font-size: 12px;
                        line-height: 16px;
                        color: $gray_dark_02;
                    }
                    p {
                        margin: 6px 0 4px 0;
                    }
                }
            }

            .design-status {
                display: flex;
                align-items: center;
                span {
                    margin-left: 8px;
                    font-weight: 300;
                }
                .progress {
                    height: 8px;
                    border-radius: 0;
                    height: 3px;
                    background: $gray_light_01;
                    margin: 0;
                    width: 100%;
                    &::after {
                        display: none;
                    }
                }
            }
            &.selected,
            &:hover {
                background: $gray_light_05;
                border: 1px solid $primary_bright_02;
            }
        }
    }
}
.top-write-comments {
    width: 100%;
    .comments-header {
        display: flex;
        align-items: center;
        padding: 8px 12px;
        border: 1px solid $gray_light_02;
        background: $white;
        .profile-image {
            margin-right: 8px;
            position: relative;
            top: -4px;
            img {
                width: 32px;
                height: 32px;
                border-radius: 100px;
                object-fit: cover;
            }
        }
        .comments-hint {
            font-size: 14px;
            line-height: 20px;
        }
        .dropdown {
            button {
                padding: 0;
                padding-right: 16px;
                font-size: 14px;
                line-height: 20px;
                color: $gray_dark_01;
            }
            span {
                color: $gray_dark_02;
            }
            .task-search {
                padding: 8px;
                input {
                    width: 100%;
                    height: 28px;
                    font-size: 12px;
                    padding: 0 8px;
                }
            }
            .select-task-list {
                width: 250px;
                padding: 8px;
                height: 225px;
                overflow-y: auto;
                padding-top: 0;
                li {
                    padding: 5px 4px;
                    &:hover {
                        background: $primary_light_04;
                    }
                }
            }

            ul {
                li {
                    cursor: pointer;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    .quill {
        .ql-editor {
            p {
                padding-left: 16px !important;
                background: transparent !important;
            }
            &.ql-blank {
                &::before {
                    left: 16px !important;
                }
            }
        }
    }
}
.select-design-list {
    padding: 8px;
    width: 190px;
    li {
        margin-bottom: 8px;
        cursor: pointer;
        span {
            font-size: 12px;
            line-height: 16px;
            color: $gray_dark_02;
        }
        img {
            width: 24px;
            height: 27px;
            object-fit: contain;
            background: $gray_light_02;
            margin-right: 8px;
        }
    }
}
.comments-body {
    .comment-text {
        background: $white;
        position: relative;
        padding: 16px 12px;
        textarea {
            border: none;
            border-radius: 0;
            font-size: 12px;
            line-height: 16px;
            resize: none;
            height: 80px;
            padding: 0;
            background: transparent;
        }
        .attachment {
            position: absolute;
            bottom: 11px;
            right: 16px;
        }
        .files-n-photos {
            height: 88px;
            margin-bottom: 0;
            display: none;
            &.open {
                display: flex;
            }
        }
        div {
            ul {
                padding: 8px !important;
                box-shadow: $shadow_4dp;
                background: $primary_light_04;
                li {
                    span {
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .post-actions {
        text-align: right;
        margin-top: 4px;
        button {
            font-size: 14px;
            line-height: 20px;
            height: 32px;
            border: none;
            background: transparent;
            &.cancel {
                margin-right: 8px;
                color: $gray_dark_02;
            }
            &.post-btn {
                color: $primary_bright_01;
                background: #452c8e;
                color: $white;
                padding: 0 16px;
            }
        }
    }
}
.common-popup-body {
    .post-actions {
        padding: 12px;
    }
}
.more-designs-popup {
    padding: 12px;
    .designs-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 5px;
        height: 530px;
        img {
            width: 100%;
            aspect-ratio: 9 / 10;
            object-fit: contain;
            background: #edf0f2;
        }
    }
}
.activity-list {
    margin: 0 4px;
    .single-activity {
        background: $white;
        border: 1px solid $gray_light_02;
        padding: 12px 16px;
        margin-bottom: 12px;
        transition: 0.3s;
        border-radius: 4px;
        &:hover {
            box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.15);
        }
        &:first-child {
            margin-top: 0;
        }
        .activity-common-header {
            display: flex;
            align-items: center;
            cursor: pointer;
            .activity-icon {
                margin-right: 8px;
                margin-top: -2px;
            }
            .activity-text {
                p {
                    margin-bottom: 4px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    &.time {
                        font-size: 10px;
                        line-height: 14px;
                    }
                    span {
                        &.pi-title {
                            color: $primary_bright_01;
                        }
                    }
                }
            }
            .person-profile {
                margin-right: 8px;
                img {
                    width: 24px;
                    height: 24px;
                    border-radius: 100px;
                    object-fit: cover;
                    margin-top: -4px;
                }
            }
            .activity-content {
                p {
                    color: $gray_dark_02;
                    span {
                        color: $gray_dark_01;
                    }
                }
            }
            .design-image {
                margin-left: 12px;
                display: none;
                img {
                    width: 24px;
                    height: 24px;
                    object-fit: contain;
                    background: $gray_light_02;
                    border: 1px solid $gray_light_02;
                }
            }
        }
        .activity-common-body {
            padding-top: 12px;
            position: relative;
            border-top: 1px solid $gray_light_02;
            .description {
                color: $gray_dark_02;
                margin-bottom: 4px;
            }
            .body-style-images-row {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: auto;
                column-gap: 5px;
                .single-one {
                    background: #edf0f2;
                    aspect-ratio: 9 / 10;
                    img {
                        width: 100%;
                        object-fit: contain;
                        aspect-ratio: 9 / 10;
                        &.timeline-file-icon {
                            width: 140px;
                            position: relative;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                    &:nth-child(2) {
                        position: relative;
                        .more-style-count {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            background: rgba(0, 0, 0, 0.2);
                            top: 0;
                            left: 0;
                            cursor: pointer;
                            .count-number {
                                font-size: 18px;
                                line-height: 26px;
                                color: $white;
                                font-weight: 600;
                                position: relative;
                                top: 50%;
                                transform: translateY(-50%);
                                text-align: center;
                            }
                        }
                    }
                }
            }
            .reply-btn {
                button {
                    font-size: 14px;
                    line-height: 20px;
                }
            }
            .details-btn {
                button {
                    color: $gray_dark_02;
                }
            }
            .info-details {
                p {
                    font-size: 12px;
                    line-height: 16px;
                    color: $gray_dark_02;
                }
            }
        }
        &.activity-with-header {
            .activity-common-header {
                margin-bottom: 12px;
            }
        }
    }
    .no-activity-text {
        padding-top: 160px;
        text-align: center;
        color: $gray_dark_03;
        font-size: 16px;
        line-height: 24px;
    }
}

.add-team-members {
    .added-members {
        img {
            width: 28px;
            height: 28px;
            border: 1px solid $white;
            margin-left: -5px;
            border-radius: 100px;
            object-fit: cover;
            &:first-child {
                margin-left: 0;
            }
        }
    }
    .more-member {
        a {
            display: inline-block;
            width: 28px;
            height: 28px;
            font-size: 12px;
            font-weight: 600;
            line-height: 28px;
            color: $primary_bright_01;
            text-align: center;
            background: $primary_light_02;
            border-radius: 100px;
            margin-left: -5px;
        }
    }
}

.all-production-details {
    .text-tc {
        padding: 10px 12px;
        background: $white;
        border: 1px solid $gray_light_02;
        font-weight: 500;
        border-bottom: 0;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
    .design-select {
        button {
            border: 1px solid $gray_light_01;
            font-size: 14px;
            line-height: 20px;
            color: $gray_dark_03;
            height: 46px;
            border-radius: 0;
            padding: 0 12px;
            display: block;
            width: 100%;
            text-align: left;
            background-color: $white;
            img {
                width: 24px;
                height: 24px;
                object-fit: contain;
                background: $gray_light_02;
                border: 1px solid $gray_light_02;
                margin-right: 8px;
            }
        }
        .dropdown-toggle {
            background-image: url(./icons/Down-arrow-24.svg);
            background-size: 24px;
        }
    }
    .production-accordion {
        border: 1px solid $gray_light_02;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        .card {
            border: 0;
            .card-header {
                padding: 0;
                background: $white;
                border: none;
                button {
                    font-size: 14px;
                    line-height: 20px;
                    color: $gray_dark_02;
                    padding: 7px 12px;
                    width: 100%;
                    text-align: left;
                    &:hover,
                    &:focus {
                        text-decoration: none;
                    }
                }
            }
            .card-header {
                button {
                    position: relative;
                    &::after {
                        content: "";
                        position: absolute;
                        background: url(./icons/Down-arrow-24.svg) no-repeat;
                        right: 12px;
                        top: 8px;
                        width: 24px;
                        height: 24px;
                    }
                }
            }
            .card-body {
                padding: 12px;
                border-bottom: 1px solid $gray_light_02;
                .all-task-status {
                    .single-task {
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 5px;
                        .task-name {
                            padding-right: 16px;
                            img {
                                margin-right: 4px;
                            }
                        }
                        span {
                            font-size: 12px;
                            line-height: 16px;
                            color: $gray_dark_02;
                            cursor: pointer;
                        }
                        .date-details {
                            width: 50px;
                            text-align: right;
                            padding: 0;
                        }
                        &.completed {
                            background: transparent;
                            .date-details {
                                span {
                                    color: $green;
                                }
                            }
                        }
                        &.pending {
                            .date-details {
                                span {
                                    color: $primary_bright_02;
                                }
                            }
                        }
                        &.due {
                            .date-details {
                                span {
                                    color: $red;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.add-comment-popup,
.more-design-popup {
    margin-top: 60px;
    .common-popup {
        max-width: 100%;
        width: 100%;
        margin: 0 auto;
    }
    .modal-body {
        padding: 0;
    }
}
.more-design-popup {
    .modal-dialog {
        max-width: 1024px;
    }
}

.round-progress-68 {
    .progress {
        width: 68px;
        height: 68px;
        line-height: 68px;
        background: none;
        margin: 0 auto;
        box-shadow: none;
        position: relative;
        border-radius: 100%;
        &:after {
            border: 5px solid $gray_dark_03;
        }
        .progress-bar {
            border-width: 5px;
            border-color: $green;
        }
        .progress-left .progress-bar {
            border-top-right-radius: (68px/2);
            border-bottom-right-radius: (68px/2);
        }
        .progress-right {
            .progress-bar {
                border-top-left-radius: (68px/2);
                border-bottom-left-radius: (68px/2);
            }
        }
        .progress-value {
            display: flex;
            border-radius: 50%;
            font-size: 16px;
            text-align: center;
            line-height: 24px;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
            font-weight: 300;

            span {
                font-size: 11px;
                text-transform: uppercase;
            }
            .task-value {
                font-weight: 500;
                color: $gray_dark_02;
            }
        }
    }
}

@media only screen and (max-width: 1440px) {
    .buyer-timeline-container {
        .timeline-row {
            .one-third {
                &.all-designs-destails {
                    width: 24%;
                    max-width: 24%;
                    top: 76px;
                }
                &.activity-logs {
                    max-width: calc(52% - 48px);
                    .activity-list {
                        margin-top: 0;
                    }
                    .top-write-comments {
                        top: 34px;
                    }
                }
                &.tab-none {
                    width: 24%;
                }
                &.all-production-details {
                    top: 76px;
                }
            }
        }
    }

    .activity-list {
        .single-activity {
            .activity-common-header {
                .activity-icon {
                    margin-top: -4px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .buyer-timeline-container {
        .all-designs-with-status {
            margin-top: 0;
        }
        .timeline-row {
            flex-wrap: wrap;
            width: 100%;
            max-width: 100%;
            .one-third {
                &.all-designs-destails {
                    width: 100%;
                    max-width: 100%;
                    position: unset;
                    height: unset;
                    .tab-design-task-buttons {
                        display: flex;
                    }
                }
                &.activity-logs {
                    margin: 0;
                    width: 100%;
                    max-width: 100%;
                    .top-write-comments {
                        position: unset;
                        margin: 0;
                        padding: 0;
                    }
                    .activity-list {
                        margin-top: 12px;
                    }
                }
                &.all-production-details {
                    max-width: 100%;
                }
            }
            .tab-none {
                display: none;
            }
        }
    }
}
@media only screen and (max-width: 767px) {
    .buyer-timeline-container {
        .timeline-row {
            .one-third {
                &.all-designs-destails {
                    margin-top: 36px;
                }
            }
        }
    }
}

@media only screen and (max-width: 520px) {
    .more-designs-popup {
        .designs-grid {
            height: 525px;
            grid-template-columns: 1fr;
        }
    }
}
