
//Need to remove after merge
//@media screen and (max-width: 1024px){
//  aside.left-panel {
//    display: none !important;
//  }
//  .content{
//    margin: 0 !important;
//  }
//}


//Explore Design
.explore-design{
  padding: 25px 25px 0 20px;
  position: relative;
  .designs{
    margin-top: 30px;
  }
  @media (max-width:1024px) {
    padding:  0;
  }
  .explore-design-filter{
    @media (max-width: 767px) {
      display: block;
    }
    .search{
      width: calc(100% - 50px);
      @media (max-width: 767px) {
        float: left;
      }
      > svg{
        position: absolute;
        top: 17px;
        left: 20px;
      }
      input{
        background: #F4F5F7 !important;
        border-color: #EDEFF4 !important;
        padding-left: 48px;
      }
    }
    .cat-menu{
      flex-basis: 50px;
      cursor: pointer;
      user-select: none;
      @media (max-width:767px) {
        &.cat-mobile-menu{
          float: left;
          width: 50px;
        }
      }
      svg{
        margin: 16px 0 0 0;
      }
    }
  }
}
span.result {
  color: #858B96;
  font-size: 20px;
  float: right;
  text-align: right;
}
.explore-design-carasoul{
  width: calc(100% - 50px);
  @media (max-width:1024px) {
    width: 100%;
    .owl-nav {
      right: -97px !important;
    }
  }
  @media (max-width:991px) {
    .owl-nav {
      right: -85px !important;
    }
  }
  @media (max-width:767px) {
    width: 100%;
    .owl-nav {
      display: none !important;
    }
  }
}
ul.filter-tag {
  margin: 35px 0 40px -50px;
  padding: 0;
  display: flex;
  overflow-x: auto;
  @media (max-width:767px) {
    margin: 0 0 40px -50px;
  }
  li{
    list-style: none;
    display: inline-block;
    margin-right: 12px;
    position: relative;
    .close-tag{
      display: none;
    }
    &.active{
      .close-tag{
        display: block;
        position: absolute;
        right: 18px;
        top: 5px;
        cursor: pointer;
      }
      a{
        padding-right: 40px;
        background: #452C8E;
        color: white;
      }
    }
    a{
      padding: 6px 20px;
      background: #F2F4F8;
      font-family: "Open Sans";
      font-size: 16px;
      color: #21242B;
      border-radius: 20px;
      width: max-content;
      display: inline-block;
      &:hover{
        background: #452C8E;
        color: white !important;
      }
    }
  }
}
.new-card{
  margin: 0px !important;
  &.active{
    border: 2px solid rgba(69, 44, 142, 0.4);
    background: #F5F5FB;
    box-shadow: inset 0px 0px 0px 4px #ffffff;
    padding: 4px;
    .favourite-part, .favourite-part, button.btn-brand {
      display: block !important;
    }
    .card-options{
      display: flex !important;
    }
    .card-body{
      border-radius: 0 0 5px 5px;
    }
  }
  .thumb{
    .favourite-part{
      top: 10px;
      display: none;
      &.active{
        svg path{
          fill: #F05B5B;
        }
      }
      &.choose {
        right: inherit;
        left: 10px;
        display: none;
        cursor: pointer;
        &.active{
          svg path{
            fill: none;
            stroke:#452c8e
          }
        }
      }
    }
    position: relative;
    .btn-brand{
      width: 93px;
      height: 34px;
      font-size: 13px;
      position: absolute;
      right: 20px;
      bottom: -20px;
      display: none;
    }
    .card-options{
     position: absolute;
      top: 10px;
      right: 10px;
      background: #fff;
      display: flex;
      height: 25px;
      padding: 10px;
      border-radius: 30px;
      cursor: pointer;
      display: none;
      &.dropdown-toggle:after{
        display: none !important;
      }
      ul.dropdown-menu:before{
        position: absolute;
        content: "";
        border-style: solid;
        border-width: 10px 10px;
        border-color: transparent transparent #ffffff transparent;
        top: -20px;
        right: 12px;
      }
    }
  }
  .card-body{
    padding: 14px 15px 20px;
    h5.card-title {
      font-size: 16px !important;
      font-weight: bold;
      color: #21242B;
      margin: 0;
    }
    .card-footer{
      margin: 0;
      span.badge {
        padding: 2px 14px;
        font-size: 12px !important;
      }
    }
  }
  .card-footer {
    justify-content: space-between;
    background: transparent !important;
    .quantity{
      font-size: 12px;
      color: #7E8597;
      text-transform: uppercase;
      font-family: Open Sans;
      > svg{
        margin: 0 10px;
      }
      strong{
        color: #21242B;
        text-transform: initial;
        font-weight: normal;
      }
    }
  }
  &:hover{
    .thumb{
      .favourite-part{
        display: block;
        &.choose {
          display: block;
        }
      }
      .card-options{
        display: flex !important;
      }
    }
    box-shadow: 0px 0px 30px rgba(0,0,0,.05) !important;
  }
  &.hovered{
    box-shadow: 0px 8px 40px #0B1C4326;
    .thumb{
      .favourite-part{
        display: block;
        &.choose {
          display: block;
        }
      }
      .card-options{
        display: flex !important;
      }
    }
  }
}
.show-products {
  display: grid;
  grid-template-columns: repeat(5,minmax(0,1fr));
  grid-gap: 30px;
  @media (max-width:1280px) {
    grid-template-columns: repeat(4,minmax(0,1fr));
    grid-gap: 0 25px;
  }
  @media (max-width:1024px) {
    grid-template-columns: repeat(3,minmax(0,1fr));
    grid-gap: 0 25px;
  }
  @media (max-width:991px) {
    grid-template-columns: repeat(2,minmax(0,1fr));
    grid-gap: 0 25px;
  }
  @media (max-width:767px) {
    grid-template-columns: repeat(1,minmax(0,1fr));
    grid-gap: 0 20px;
  }
}
.product-detail-gallery .thumbnail-slider ul li {
  margin-bottom: 20px;
  img {
    width: 93px;
    height: 115px;
  }
}
.favourite {
  &.favourite-active{
    svg{
      path{
        fill: #FF3B63;
      }
    }
  }
  &:focus, &:active{
    background: #fff !important;
    outline: 0 !important;
    box-shadow: none !important;
  }
}
.quote-now{
  &:focus, &:active, &:hover{
    color: #fff !important;
  }
}


table{
  border-radius: 5px;
  &.measurement-chart{
    text-align: center;
    display: block;
    overflow-x: visible;
    margin-bottom: 0;
  }
  &.measurement-table{
    margin-bottom: 0px;
    border-radius: 0;
    thead{
      th{
        font-size: 16px;
        background: #E3E1EC;
        font-weight: bold;
        color: #707070;
        &:first-child{
          text-align: left;
          width: 31%;
        }
        &:last-child{
          text-align: left;
          width: 105px;
        }
      }
    }
    tr{
      td{
        padding: 10px 15px !important;
        font-size: 22px;
        color: #8B8B8B;
        border-top: 0;
        border-bottom: 0;
        border-color: #DBDFE8 !important;
        &:first-child{
          text-align: left;
          color: #333333;
          font-size: 18px;
          padding-left: 18px !important;
        }
      }
      th{
        vertical-align: middle;
        font-size: 16px;
        color: #707070;
        font-weight: bold;
        border-top: 0;
        border-bottom: 0;
      }
    }
  }
  thead{
    th{
      vertical-align: middle !important;
      border-bottom: 1px solid #dee2e6 !important;
      background: #F9F8FB;
      padding: 10px 15px !important;
      font-size: 18px;
      font-weight: normal;
    }
  }
  tr{
    td{
      vertical-align: middle !important;
    }
  }
  .nice-select{
    border: 0;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    line-height: 1;
    span{
      margin-right: 8px;
    }
    .option {
      padding: 2px 10px;
      text-align: center;
      min-height: 20px;
      line-height: 30px;
    }
    &.open{
      z-index: 1 !important;
    }
  }
  input[type="text"]{
    height: auto;
    border: 0;
    width: 118px;
    padding: 5px 8px;
    border-radius: 3px;
    text-align: center;
  }
  &::placeholder{
    color: #8791A7;
    text-align: center;
    font-size: 14px;
  }
}


.filter-cat {
  position: absolute;
  display: flex;
  background: #fff;
  left: 0;
  box-shadow: 0px 0px 18px 0px #ccc;
  border-radius: 5px;
  z-index: 999;
  top: 90px;
  width: auto;
  max-height: 470px;
  padding: 50px 50px 100px 50px;
  button{
    position: absolute;
    right: 30px;
    bottom: 30px;
    margin: 0 !important;
  }
  @media (max-width: 1024px) {
    top: 68px;
    width: 100%;
    overflow: auto;
  }
  @media (max-width: 767px) {
    display: none;
  }
  ul{
    margin: 0;
    flex-grow: 1;
    width: 200px;
    margin: 0 20px 0 0;
    @media (max-width: 1024px) {
      width: 160px;
      margin: 0px 30px 0 0;
      li{
        width: 160px;
      }
    }
    .title{
      padding: 0;
      color: #333333;
      font-size: 20px;
      font-weight: 600;
    }
    li{
      list-style: none;
      cursor: pointer;
      padding: 15px 0px 0 0;
    }
  }
  &::before{
    content: "";
    width: 15px;
    height: 20px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid #fff;
    position: absolute;
    left: calc(0% + 32px);
    transform: translateX(-50%);
    top: -20px;
    z-index: 999999999;
    @media (max-width: 1024px) {
      left: calc(0% + 11px);
    }
  }
}
.nothing-found{
  @media (max-width: 767px) {
    img{
      width: 100%;
    }
  }
}

.selected-item-popup{
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 999;
  padding: 30px 140px 90px;
  box-shadow: 0px -5px 20px -5px rgba(69,44,142,.2);
  @media (max-width: 1024px) {
    padding: 30px 20px 60px;
  }
  button{
    margin: 0!important;
    @media (max-width: 575px) {
      margin-top: 30px !important;
    }
  }
  .close{
    cursor: pointer;
    user-select: none;
  }
}
.ref-file {
  width: 88px;
  height: 80px;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &.download-file {
    border: 1px dashed #E3E3E3;
    padding: 5px;
  }
}
.explore-product-details-info{
  .info-item .btn {
    padding: 10px 15px;
    font-size: 13px;
    margin-right: 5px !important;
    height: 40px;
    svg {
      width: 18px;
      margin-top: -2px;
    }
    @media (max-width: 575px) {
      padding: 6px 10px;
      height: 32px;
      svg {
        width: 16px;
        margin-top: -2px;
      }
    }
  }
}
.search-suggestions{
  background: #fff;
  box-shadow: 0 4px 6px rgba(32, 33, 36, 0.28);
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 10px 22px;
  border: 0;
  border-radius: 0 0 24px 24px;
  padding-bottom: 4px;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 99;
  ul{
    margin: 0;
    padding: 0;
    li{
      list-style: none;
      margin-bottom: 6px;
      cursor: pointer;
    }
  }
}



//REC Carousel
.rec-slider-container{
  //overflow: visible !important;
  .rec-item-wrapper {
    overflow: visible !important;
    .item {
      padding: 15px;

      @media (max-width: 767px) {
        padding: 0px;
      }
    }
  }
  .rec-carousel {
    position: relative;
  }
}

button.rec-arrow-left, button.rec-arrow-right {
  position: absolute;
  z-index: 99;
  transform: translateY(-50%);
  text-indent: -9999999999px;
  box-shadow: 0 0 25px 1px #eee;
  &:focus, &:hover{
    outline: 0;
    box-shadow: none;
  }
}
button.rec-arrow-left {
  left: 20px;
  background: url("./images/icons/nav-left.png") no-repeat center #fff;

}

button.rec-arrow-right {
  right: 20px;
  background: url("./images/icons/nav-right.png") no-repeat center #fff;
}