.add-an-invoice {
    max-width: 1200px;
    margin: 0px auto;
    background: #fff;
    box-shadow: 0px 0px 3px 0px #ddd;
    .header-title {
        font-size: 24px;
        color: #57585c;
    }
}

.invoice-table {
    tbody {
        tr {
            td {
                border-top: 1px solid transparent;
                border-bottom: 1px solid #dadde4;
                padding: 15px 10px;
                font-size: 18px;
                font-weight: 600;
                color: #21242b;
                text-align: center;
                vertical-align: middle;
                width: 15%;
                white-space: nowrap;
                @media (max-width: 1024px) {
                    font-size: 16px;
                }
                span {
                    color: #6c757d;
                    font-size: 14px;
                    font-weight: normal;
                }
                strong {
                    font-weight: 600;
                    font-size: 18px;
                }
                input {
                    height: 55px;
                    text-align: left;
                    padding: 20px;
                    @media (max-width: 1024px) {
                        height: 42px;
                        padding: 10px;
                        width: 178px !important;
                    }
                    @media (max-width: 767px) {
                        height: 30px;
                        padding: 6px;
                        font-size: 12px;
                        width: 126px !important;
                        ::placeholder {
                            font-size: 9px;
                        }
                    }
                }
                &:first-child {
                    text-align: left;
                    padding-left: 0;
                    padding-right: 0;
                    width: 50%;
                    @media (max-width: 1199px) {
                        width: 35%;
                    }
                }
                &:last-child {
                    width: 5%;
                    padding-right: 0;
                }
            }
            &:last-child {
                td {
                    border-bottom: 0;
                    padding-bottom: 0;
                }
            }
        }
    }
    &.sub-total {
        tbody {
            tr td {
                padding: 8px 0;
            }
        }
    }
}

.admin-view-invoice {
    max-width: 1200px;
    margin: 0px auto;
    background: #fff;
    box-shadow: 0px 0px 3px 0px #ddd;
    @media (max-width: 1440px) {
        max-width: 1100px;
    }
    .header-title {
        font-size: 20px;
        text-align: left;
    }
    .stepper {
        padding: 30px 50px;
        @media (max-width: 1024px) {
            padding: 30px;
        }
        @media (max-width: 767px) {
            padding: 15px;
        }
    }
    .header-sec {
        border-bottom: 1px solid #eee;
        padding: 30px 50px;
        @media (max-width: 1024px) {
            padding: 30px;
            text-align: center;
        }
        @media (max-width: 767px) {
            padding: 15px;
            padding-bottom: 25px;
            margin-bottom: 10px;
        }
    }
    .terms {
        .term {
            margin-right: 35px;
            @media (max-width: 1366px) {
                display: flex;
                flex-direction: column;
                text-align: left;
            }
            @media (max-width: 1024px) {
                &:last-child {
                    margin-right: 0;
                }
            }
            @media (max-width: 767px) {
                margin-right: 10px;
                font-size: 14px;
            }
        }
        @media (max-width: 1024px) {
            margin: 35px 0;
        }
        @media (max-width: 1024px) {
            margin: 25px 0;
        }
    }
}
.invoice-note {
    p {
        font-size: 16px;
        color: #707070;
        margin-bottom: 20px;
    }
}
ul.attachment {
    li {
        list-style: none;
        margin-bottom: 10px;
        a {
            font-size: 16px;
            color: #1f2229;
            span {
                margin-right: 30px;
                @media (max-width: 767px) {
                    margin-right: 16px;
                }
                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 11px;
                }
            }
            span.title {
                text-decoration: underline;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: calc(100% - 115px);
                display: inline-block;
            }
        }
    }
}
.recipient-from {
    margin-bottom: 60px;
    @media (max-width: 767px) {
        margin-bottom: 35px;
        div + div {
            margin-top: 20px;
        }
    }
    address {
        .name {
            color: #1f2229;
            font-size: 18px;
            font-weight: 600;
            @media (max-width: 1024px) {
                font-size: 20px !important;
            }
        }
        span.vat {
            margin-top: 10px;
        }
        span {
            font-size: 16px;
            color: #1f2229;
            display: block;
            @media (max-width: 1024px) {
                font-size: 14px !important;
            }
        }
    }
}
.buyer-payment-methods {
    max-width: 1100px;
    margin: 8px 110px;
    width: 100%;
    @media (max-width: 1790px) {
        max-width: 1200px;
        margin: 20px 7px;
    }
    @media (max-width: 1600px) {
        max-width: 1040px;
    }
    @media (max-width: 1440px) {
        max-width: 870px;
    }
    @media (max-width: 1366px) {
        max-width: 800px;
    }
    @media (max-width: 1280px) {
        max-width: 718px;
    }
    @media (max-width: 1024px) {
        max-width: 100%;
    }
    .title {
        padding: 20px 30px;
        background: #e7ebf4;
        font-size: 22px;
        font-weight: 600;
    }
    .stepper {
        padding: 30px;
        @media (max-width: 767px) {
            margin-bottom: 75px;
        }
    }
}
.pay {
    width: 80px !important;
    height: 37px;
    border-radius: 50px;
    border: 0;
    @media (max-width: 1366px) {
        width: 62px !important;
        height: 32px;
    }
}
//Correction
.button-with-filed {
    height: 52px;
    width: 100%;
}
.list-of-item {
    .add-item-title {
        padding-right: 0 !important;
    }
    .add-list-item-filed {
        padding-right: 0 !important;
    }
}

@media print {
    aside.left-panel {
        display: none !important;
    }
    .content {
        margin: 0 !important;
    }
    @page {
        margin-top: 2.7cm !important;
    }
    @page :first {
        margin-top: 0cm !important;
    }
}
.admin-invoice-list{
    .header-sorting{
        .search{
            @media (max-width: 1200px) {
                    width: 43% !important;
            }
            @media (max-width: 767px) {
                    width: 100% !important;
            }
            @media (max-width: 1200px) {
                input{
                    width: 100%;
                }
            }
        }
        .sort-filter{
            @media (max-width: 1200px) {
                justify-content: start !important;
                .search{
                    margin-left: auto !important;
                }
            }
        }
    }

}