.notification-section{
    background: #fff;
    border-radius: 3px;
    box-shadow: $shadow-8dp;
    width: 550px;
    height: 800px;
    z-index: 99;
    margin: 0 auto;
    .notification-header{
        height: 92px;
        padding: 0 16px;
        position: fixed;
        max-width: 550px;
        width: 550px;
        background: #fff;
        z-index: 1;
        border: 1px solid $gray_light_01;
        border-bottom: none;
        border-right: none;
        cursor: default;       
        h3{
            font-size: 18px;
            font-weight: 600;
            line-height: 24px;
            color: $gray_dark_01;
            margin: 0;
        }
        button{
            background: transparent;
            border: none;
            font-size: 14px;
            line-height: 20px;
            color: $primary_bright_01;
            margin-right: 8px;
        }
    }
 .all-single-items{
     position: relative;
     top: 92px;

 }
    .single-notification-item{
        padding:16px 16px 16px 50px;
        min-height: 124px;
        position: relative;
        border: 1px solid $gray_light_01;
        border-bottom: 0;
        cursor: pointer;

        p{
            font-size: 14px;
            line-height: 20px;
            color:$gray_dark_01;
            padding-bottom: 4px;
            margin: 0;
        }
        .start-name{
            font-weight: 600;
        }
        .sep-text{
            color: $gray_dark_03;
        }
        .left-notification{
            .notification-content{
                max-width: 355px;
            }
            
            .truck-icon{
                height: 24px;
                width: 24px;
                position:absolute;
                left: 16px;
                top: 16px;

                img{
                    width: 24px !important;
                    height: 24px;
                    border-radius: 100px;
                }
            }
            .notification-order-info{
                li{
                    font-size: 14px;
                    line-height: 20px;
                    display: inline-block;
                    padding-right: 12px;
                    color:$gray_dark_03;
                    position: relative;
                    a{
                        color:$gray_dark_03;
                        font-size: 14px;
                    }
                    &::after{
                        content: '';
                        position: absolute;
                        right: 5px;
                        top: 50%;
                        height: 2px;
                        width: 2px;
                        background: $gray_dark_03;
                        border-radius: 100px;
                        transform: translateY(-50%);
                    }
                    &:last-child{
                        &::after{
                            display: none;
                        }
                    }
                }
            }
            .time-read-action{
                padding-top: 28px;
                li{
                    font-size: 14px;
                    line-height: 20px;
                    color: $gray_dark_03;
                    padding-right: 12px;

                    a{
                        font-size: 14px;
                        line-height: 20px;

                        &:hover{
                            text-decoration: none;
                        }
                    }
                }
                button{
                    background: transparent;
                    font-size: 14px;
                    line-height: 20px;
                    color: $primary;
                    border: none;
                }
            }
            .comment-text{
                font-size: 14px;
                line-height: 20px;
                color: $gray_dark_02;
                padding: 8px;
                border: 1px solid $gray_light_02;
                margin-top: 6px;
                margin-bottom: -15px;

                p{
                    color: $gray_dark_02;
                }
            }
        }

        .right-notification{
            width: 74px;
        }
        .left-notification{
            width: calc(100% - 76px);

            a{
                &:hover{
                    text-decoration: underline;
                }
            }
        }
        .four-images{
            flex-wrap: wrap;
            width: 76px;
            .single-one{
                background: $gray_light_04;
                width: 36px;
                height: 42px;
                margin-left: 2px;
                margin-bottom: 2px;

                img{
                    width: 36px !important;
                    height: 42px;
                    object-fit: cover;
                }
            }
            .full-image{
                background: $gray_light_04;
                width: 74px;
                height: 86px;
                img{
                width: 74px !important;
                height: 86px;
                object-fit: cover;
            }
            }
        }
        &:hover{
            background: $gray_light_04;
            .left-notification{
                .notification-order-info{
                    li{
                        color: $primary;
                        a{
                            color: $primary_dark_01;
                        }
                    }
                }
            }

        }
        .added-comment-notification{
            .time-read-action{
                padding-top: 8px;
            }
        }
        

    }
    .unread{
        background: $primary_light_04;
        &:hover{
            background: $gray_light_04;
            .mark-as-read{
                display: block;
            }

        }
    }
    .read{
        &:hover{
            .mark-as-unread{
                display:block;
            }
        }
    }
    .mark-as-read{
        display: none;
    }
    .mark-as-unread{
        display: none;
    }

    &::-webkit-scrollbar-track
    {
       -webkit-box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.2);
       background-color: #F5F5F5;
    }
    
   &::-webkit-scrollbar{
       width:6px;
       background-color: #F5F5F5;
    }
    &::-webkit-scrollbar-thumb{
       border-radius: 10px;
       -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
       background-color: #F5F5F5;
    }
}

.all-notifications{
    max-width: 550px;
    margin:0 auto;

    .notification-section{
        height: unset;
        box-shadow: 0px 13px 26px #00000008;
    .notification-header{
        padding: 30px 16px 18px 16px;
        position: unset !important;
        width: 100%;
        max-width: 100%;
        border-right: 1px solid $gray_light_01;
        select{
            display: block !important;
            font-size: 14px;
            color: $gray_dark_01;
            padding: 6px 16px;
            border:none;
            background-position: 88px 14px;
            width: 110px;

            &:focus{
                outline: 0;
            }
        }
        .nice-select{
            display: none !important;
        }
    }
    .all-single-items{
        top: 0px;
    }
}

.all-single-items{
    .single-notification-item{
        &:last-child{
            border-bottom: 1px solid $gray_light_01;
        }
    }
}
    
}



@media screen and (max-width: 1440px) {
    .notification-section{
    .notification-header{
        width: 475px;
        max-width: 475px;
    }
    .single-notification-item {
        .left-notification {
            .notification-content {
                max-width: 300px;
            }
        }
    
    }
}
}
