.placing-order{
  .features{
    &:nth-child(1){
      max-width: 180px;
      img{
        width: 160px;
        height: 180px;
        object-fit: cover;
      }
    }
    &:nth-child(2){
      max-width: 280px;
      .info-item{
        max-width: 240px;
        width: 240px;
      }
      @media (max-width: 1440px){
        .info-item{
          max-width: 200px;
          width: 200px;
        }
      }
    }
    &:nth-child(3){
      padding-right: 40px;
      .info-item{
        width: 260px;
        overflow-x: auto;
        &::-webkit-scrollbar-track
        {
           -webkit-box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.2);
           background-color: #F5F5F5;
        }
        
       &::-webkit-scrollbar{
           height:5px;
           background-color: #F5F5F5;
        }
        &::-webkit-scrollbar-thumb{
           border-radius: 10px;
           -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
           background-color: #F5F5F5;
        }
      }
    }
    .category-wise-quantity-table{
      margin-top: 32px;
      table{
        tr{
          td, th{
            padding: 3px;
            text-align: center;
          }
          td{
            input{
              text-align: center;
              padding: 0;
              height: 40px;
            }
          }
          p{
            background:#F4F5F7;
            text-align: center;
            height: 40px;
            min-width: 56px;
            border-radius: 4px;
            margin: 0;
            padding: 9px 2px;
            font-weight: 600;
            color: $gray_dark_02;
            font-size: 14px;
          }
        }
      }
    }
    .quote-warning{
      font-size: 12px;
      line-height: 16px;
      color: $yellow_dark_01;
      margin-top: 8px;
      img{
        position: relative;
        top: -2px;
        width: 16px !important;
        height: 16px !important;
      }
    }
    .new-quantity{
      margin-top: 24px;
      label{
        font-weight: 600;
      }
      input{
        max-width: 200px;
      }
    }
  }
  @media (max-width: 1024px) and (min-width: 992px) {
    .features:nth-child(2) {
      flex-basis: 25%;
    }
    .features:nth-child(3) {
      flex-basis: auto;
    }
    .features:nth-child(4) {
      width: 10%;
    }
  }
  @media (max-width: 991px) and (min-width: 768px) {
    .features:nth-child(2) {
      flex-basis: 19%;
    }
    .features:nth-child(3) {
      order: 4;
      margin-left: 0;
      margin-top: 5px !important;
    }
    .features:nth-child(4) {
      order: 3;
      width: 15%;
      padding-left: 30px;
      border-left: 1px solid #C3C3C3;
      padding-right: 0;
      justify-content: center;
      > .mt-2{
        margin-top: 0 !important;
      }
      .info-item{
        h5{
          font-size: 22px !important;
        }
      }
    }
  }
  .header-title h3 {
    @media (max-width: 1790px) {
      font-size: 24px;
    }
  }
  padding-right: 0px;
  @media (max-width: 1790px) {
    width: calc(100% - 400px);
  }
  @media (max-width: 1024px) {
    width: 100%;
    padding-bottom: 60px;
    @media (max-width: 1024px) {
      padding-bottom: 110px;
    }
  }
  .quote-list .quote-info .info-right {
    margin-left: 0px !important;
    @media (max-width: 1024px) {
      flex-wrap: wrap;
      .features:nth-child(3), .features:nth-child(4) {
        margin-top: 20px;
        @media (max-width: 767px) {
          margin-top: 0px;
        }
      }
    }
  }
  .pc-step{
    font-size: 16px;
  }
  .order-id{
    font-size: 20px !important;
    @media (max-width: 767px) {
      font-size: 18px !important;
      display: flex;
      flex-wrap: wrap;
      span.result {
        font-size: 16px !important;
        float: left;
        text-align: left;
        margin-top: 10px;
      }
      span{
        width: 100%;
      }
    }
  }
}
span.cat {
  font-size: 14px;
}
.invoice-summary{
  max-width: 465px;
  width: 465px;
  background: #fff;
  position: fixed;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  box-shadow: $default-border-shadow;
  .sub-total{
    min-height: 100px;
  }
  @media (max-width: 1790px) {
    max-width: 380px;
    right: 15px;
  }
  @media (max-width: 1440px) {
    margin-top: 16px;
    top: 151px;
    transform: translateX(0);
  }
  @media (max-width: 1024px) {
    max-width: 100%;
    width: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    bottom: 0;
    top: inherit;
    transform: inherit;
    height: 120px;
    overflow: auto;
    box-shadow: 0px 0px 30px 4px rgba(0,0,0,.2);
    transition: height cubic-bezier(0.35, 0.43, 0.3, 1.25) .3s;
    .toggle-up-down{
      svg{
        transform: rotate(0deg);
        transition: all ease-in-out .3s;
      }
    }
    &.show{
      height: calc(100% - 150px);
      .toggle-up-down{
        svg{
          transform: rotate(180deg);
        }
      }
      .title{
        background: #E7EBF4;
      }
    }
  }
  @media (max-width: 767px) {
    height: 170px;
  }
  .title{
    padding: 20px 30px;
    background: #E7EBF4;
    font-size: 20px;
    font-weight: 600;
    .tab-price {
      display: none;
      @media (max-width: 1024px) {
        display: block;
      }
    }
    @media (max-width: 1790px) {
      padding: 20px 30px;
    }
    @media (max-width: 1024px) {
      position: sticky;
      top: 0;
      background: #fff;
      padding: 27px 30px;
    }
    @media (max-width: 767px) {
      padding: 15px;
    }
    .toggle-up-down{
      width: 36px;
      text-align: center;
      display: none;
      @media (max-width: 1024px) {
        display: inline-block;
      }
    }
  }
  .details{
    h4{
      @media (max-width: 1366px) {
        font-size: 20px !important;
      }
    }
    padding: 20px 30px;
    .shipping-info{
      margin-top: 20px !important;
      .info-text{
        width: 75%;
        @media (max-width: 1366px) {
          width: 100%;
          margin-top: 10px !important;
          font-size: 14px !important;
        }
      }
    }
    .submit-for-payment{
      button{
        max-width: 270px;
        width: 100%;
        padding: 10px 40px;
        margin-bottom: 10px !important;
      }
      span{
        font-size: 12px;
        line-height: 16px;
        color: #1565C0;
      }
      @media (max-width: 1024px) {
        position: fixed;
        right: 30px;
        bottom: 15px;
        align-items: flex-end !important;
        background: #fff;
        button{
          margin: 0 0 10px 0 !important;
        }
      }
      @media (max-width: 767px) {
        flex-direction: row-reverse !important;
        justify-content: space-between !important;
        right: 0;
        left: 0;
        align-items: center !important;
        background: #fff;
        bottom: 0;
        padding: 15px;
        button{
          margin: 0 !important;
          max-width: 200px;
          padding: 10px 15px;
        }
      }
      &.confirm-payment-submit{
        @media (max-width: 1024px) {
          align-items: center !important;
          button{
            margin: 0 15px 10px 0 !important;
            width: 170px;
            padding: 0;
          }
        }
        @media (max-width: 767px) {
          button{
            margin: 0 0px 10px 10px !important;
            padding: 0 13px;
            font-size: 13px;
          }
        }
        @media (max-width: 320px) {
          a.red{
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
    }
    .ordered-container > div {
      @media (max-width: 1790px) {
        font-size: 17px !important;
        strong{
          font-size: 20px !important;
        }
      }
      @media (max-width: 1366px) {
        font-size: 15px !important;
        strong{
          font-size: 18px !important;
        }
      }
    }
  }
}
.stepper {
  padding: 20px 30px;
  background: #fff;
  margin-bottom: 20px;
  box-shadow: $default-border-shadow;
  @media (max-width: 575px) {
    padding: 15px 20px;
  }
  h3{
    color: #21242B;
  }
  label{
    color: #21242b;
    font-size: 18px;
    font-weight: 400;
    width: 100%;
    @media (max-width: 1280px) {
      font-size: 18px;
    }
  }
  @media (max-width: 1366px) {
    .custom-chekbox .form-group input:checked + label:after {
      top: 5px;
      left: 9px;
      height: 14px;
    }
    .custom-chekbox .form-group label:before {
      padding: 10px;
    }
  }
}
.payment-method-type{
  display: flex;
  margin-bottom: 30px;
  @media (max-width: 575px) {
    overflow: auto;
    margin-bottom: 15px;
  }
  .type{
    color: $brand-color;
    font-size: 13px;
    font-weight: 600;
    max-width: 157px;
    text-align: center;
    padding: 20px;
    background: #e0e0e0;
    cursor: pointer;
    user-select: none;
    filter: grayscale(1);
    opacity: .4;
    width: 100%;
    @media (max-width: 991px) {
      width: 120px !important;
      white-space: nowrap;
      display: table;
      padding: 15px;
    }
    @media (max-width: 767px) {
      width: 100% !important;
    }
    + .type{
      margin-left: 25px;
      @media (max-width: 575px) {
        margin-left: 15px;
      }
    }
    &.active{
      filter: grayscale(0);
      opacity: 1;
      background: #ECE9F4;
    }
  }
}
.order-top-filter{
  button.add-new-order{
    @media (max-width: 991px) {
      font-size: 14px;
      width: 275px;
    }
    @media (max-width: 767px) {
      margin: 0 !important;
      width: 100%;
    }
  }
  @media (max-width: 767px) {
    .short-by {
      margin: 20px 0;
      width: 100%;
    }
    input{
      width: 100%;
      margin: 0 !important;
    }
  }
}

.order-confirm-info-with-po{
  .title-and-date, .po-column{
    background: $white;
    padding: 24px;
    border: 4px;
    box-shadow: 0px 0px 3px #DDDDDD;
  }
  .title-and-date{
    width: calc(65% - 20px);
    margin-right: 20px;
  }
  .po-column{
    width: 35%;
    padding-bottom: 0;
    .uploded-po{
      height: 180px;
      overflow-y: auto;
      scrollbar-width: thin;
      &::-webkit-scrollbar-track
                {
                -webkit-box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.2);
                background-color: #F5F5F5;
                }
                
                &::-webkit-scrollbar{
                width: 6px;
                background-color: #F5F5F5;
                }
                &::-webkit-scrollbar-thumb{
                border-radius: 10px;
                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                background-color: #F5F5F5;
                }
      .no-po{
        color: $gray_dark_02;
        padding-top: 70px;
      }
    }
    .upload-po{
      border-top: 1px solid $gray_light_01;
      padding-top: 12px;
      label{
        margin-bottom: 0;
        color: $primary_bright_01;
        font-size: 14px;
      }
    }
    .single-po{
      padding: 8px 0;
      .po-names{
        img{
          width: 28px;
        }
        a{
          font-size: 14px;
        }
      }
      .delete-btn{
        visibility: hidden;
        cursor: pointer;
      }
      &:hover{
        .delete-btn{
          visibility: visible;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .confirm-quote-request{
    &.placing-order{
      margin-top: 0;
    }
  }
  .add-quote{
    .quote-req-list-container{
      .quote-list{
        .quote-info{
          .features{
            &:first-child{
              img{
                  padding-right: 12px;
              }
            }
          }
        }
      }
    }
  }
  .order-confirm-info-with-po{
    flex-wrap: wrap;
    .title-and-date{
      margin: 0;
      width: 100%;
    }
    .po-column{
      width: 100%;
      margin-top: 24px;
    }
    .upload-po{
      padding-bottom: 12px;
    }
  }
}