.header-sorting{
  .sort-filter{
    .product-name {
      max-width: 415px;
      width: 100%;
    }
    .date {
      max-width: 284px;
      width: 100%;
    }
    .status {
      max-width: 210px;
      width: 100%;
    }
    .search{
      button{
        margin: 0 !important;
        height: 52px;
        width: 170px;
        font-size: 16px;
      }
    }
  }
  .sort{
    flex-basis: 30%;
    .status {
      max-width: 210px;
      width: 100%;
    }
  }
}
.all-select{
  .all-checkbox{
    overflow: hidden;
    width: 86px;
    border-radius: 9px;
  }
}

.quotes-list-item{
  .quote-list {
    box-shadow: 0px 0px 3px 0px #ddd;
    &.active{
      background: #F8F7FB;
      border: 2px solid #B2A6D7;
    }
    .info-item {
      margin-top: 20px;
      width: 300px;
    }
    .select-quote{
      position: absolute;
      left: 12px;
      top: 22px;
    }
    .quote-info{
      border-right: 1px solid #C3C3C3;
      img {
        height: 260px;
      }
    }
    .sizes .size input {
      padding: 5px;
      text-align: center;
      height: 40px;
      border-color: #e4e4e4;
      border-radius: 10px;
    }
  }
  .quote-price{
    flex-basis: 486px;
    .btn-brand {
      height: 60px;
      width: 211px;
      font-size: 18px;
      margin: 0 !important;
    }
    button[disabled] {
      background: #F2F2F2;
      color: #ABAFB8;
      box-shadow: none !important;
    }
    .option {
      position: absolute;
      right: -45px;
      top: 5px;
    }
  }
}
.admin-price{
  width: 448px;
  padding-left: 20px;
  .price{
    width: 200px;
    margin-right: 16px;
    input{
      border-radius: 10px;
    }
  }
  .currency{
    width: 144px;
    .nice-select{
      border-radius: 10px;
    }
  }
  .quote-price {
    flex-basis: auto;
  }
}
.types-select .type {
  width: 80px;
  height: 42px;
  text-align: center;
  line-height: 41px;
  border: 1px solid #333;
  border-radius: 12px;
  margin-right: 10px;
  cursor: pointer;
  user-select: none;
  &.active{
    background: $brand-color;
    border-color: $brand-color;
    color: #fff;
  }
}
.option{
  .dropdown-toggle{
    background-image: none;
    &:after,&:before{
      display: none;
    }
    .dropdown-menu:before{
      position: absolute;
      content: "";
      border-style: solid;
      border-width: 10px 10px;
      border-color: transparent transparent #ffffff transparent;
      top: -20px;
      right: 19px;
    }
  }
}
.delivery-in-days{
  input{
    width: 110px;
    height: 44px;
    text-align: center;
    border-radius: 10px;
  }
}
.option ul[x-placement="top-end"]:before {
  content: none !important;
}
.option ul[x-placement="top-end"]:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid white;
  bottom: -8px;
  right: 19px;
}