//need to delete after merge
//aside{
//  @media (max-width: 767px) {
//    display: none;
//  }
//}

.color-brand {
  color: $brand-color !important;
}
.header-sorting {
  @media (max-width: 767px) {
    flex-direction: column;
    padding-top: 60px;
  }
  .sort-filter {
    .product-name {
      max-width: 415px;
      width: 100%;
      margin-bottom: 15px;
      @media (max-width: 1440px) {
        //width: 180%;
      }
      @media (max-width: 1280px) {
        input{
          font-size: 14px;
        }
      }
      @media (max-width: 1024px) {
        max-width: inherit;
      }
    }
    .date {
      max-width: 284px;
      width: 100%;
      @media (max-width: 1024px) {
        max-width: max-content;
      }
      @media (max-width: 1024px) {
        max-width: 100%;
      }
      @media (max-width: 767px) {
        max-width: 100%;
      }
    }
    .status {
      max-width: 210px;
      width: 100%;
      @media (max-width: 1024px) {
        max-width: 100%;
        margin: 15px 15px 15px 0px !important;
      }
      @media (max-width: 767px) {
        max-width: 100%;
      }
    }
    .search {
      button {
        margin: 0 !important;
        height: 52px;
        width: 170px;
        font-size: 16px;
        @media (max-width: 1366px) {
          height: 45px;
        }
        @media (max-width: 991px) {
          width: 130px;
        }
        @media (max-width: 767px) {
          width: 100%;
        }
      }

      @media (max-width: 1024px) {
        width: 100%;
        button{
          width: 100%;
        }
      }
    }
    @media (max-width: 1024px) {
      flex-wrap: wrap;
    }
    @media (max-width: 767px) {
      width: 100%;
      flex-direction: column;
      .type{
        width: 100%;
        margin: 0 0 15px 0 !important;
      }
      .search{
        width: 100%;
        margin: 0px 15px 15px 0 !important;
      }
    }
    &.my-quotes{
      .search{
        @media (max-width: 1024px) {
          width: auto;
        }
      }
      .status.newest{
        @media (max-width: 991px) {
          margin-top: 16px !important;
        }
      }
    }
  }
  .sort {
    flex-basis: 30%;
    @media (max-width: 1440px) {
      flex-basis: 25%;
    }
    @media (max-width: 991px) {
      flex-basis: 30%;
    }
    @media (max-width: 767px) {
      flex-basis: 100%;
    }
    .status {
      max-width: 210px;
      width: 100%;
      @media (max-width: 767px) {
        max-width: 100%;
      }
    }
  }
}
.my-quotes-items{
  .features:nth-child(3){
    @media (max-width: 1024px) {
      flex-basis: 45%;
    }
  }
  @media (max-width: 1024px) {
    .quote-list .quote-info .features:nth-child(3) .info-item+.info-item {
      margin-top: 9px;
    }
  }
}
.all-select {
  .all-checkbox {
    overflow: hidden;
    width: 86px;
    border-radius: 9px;
  }
  @media (max-width: 1024px) {
    margin-top: 40px !important;
  }
}

.quotes-list-item {
  .quote-list {
    box-shadow: 0px 0px 3px 0px #ddd;
    padding-left: 50px !important;
    padding-top: 25px !important;
    border: 2px solid transparent;
    @media (max-width: 1440px) {
      padding-left: 35px !important;
      padding-top: 20px !important;
    }
    .info-item h5 {
      font-size: 18px !important;
      line-height: 25px;
      font-weight: 600;
      @media (max-width: 1440px) {
        font-size: 16px !important;
      }
    }

    @media (max-width: 991px) {
      flex-direction: row;
      padding: 15px 15px 15px 40px !important;
    }

    @media (max-width: 767px) {
      flex-direction: column;
    }
    &.active {
      background: #f8f7fb;
      border: 2px solid #b2a6d7;
    }
    .info-item {
      margin-top: 20px;
      flex: auto;
    }
    .select-quote {
      position: absolute;
      left: 12px;
      top: 22px;
      @media (max-width: 1440px) {
        left: 6px;
        top: 6px;
      }
      @media (max-width: 991px) {
        left: 8px;
        top: 14px;
      }
      .custom-chekbox .form-group input:checked+label:after{
        border: solid #fff;
        content: '';
        display: block;
        position: absolute;
        top: 5px;
        left: 9px;
        width: 6px;
        height: 14px;
        border-width: 0 2px 2px 0;
        transform: rotate(
                        45deg
        );
        @media (max-width: 767px) {
          top: 3px;
        }
      }
    }
    .quote-info {
      border-right: 1px solid #c3c3c3;
      @media (max-width: 991px) {
        width: 70%;
      }
      @media (max-width: 767px) {
        border: 0;
        width: 100%;
      }
      img {
        height: 280px;
        width: 260px;
        @media (max-width: 1440px) {
          height: 180px;
          max-width: 156px;
        }
        @media (max-width: 1366px) {
          height: 175px;
          max-width: 156px;
        }
        @media (max-width: 1280px) {
          height: 150px;
        }
        @media (max-width: 1024px) {
          height: 178px;
        }
        @media (max-width: 991px) {
          height: 188px;
          max-width: 154px;
        }
        @media (max-width: 767px) {
          max-width: 100%;
        }
      }
      .info-right {
        margin-left: 0 !important;
        @media (max-width: 1024px) {
          flex-wrap: wrap;
        }
      }
    }
    .sizes {
      @media (max-width: 1280px) {
        margin-left: 0px;
        margin-bottom: 0px;
      }
      @media (max-width: 767px) {
        margin-top: 0;
      }
      .size {
        @media (max-width: 991px) {
          width: 32px;
          margin-right: 10px;
        }
        input {
          padding: 5px;
          text-align: center;
          height: 40px;
          border-color: #e4e4e4;
          border-radius: 10px;
          font-weight: 600;
          @media (max-width: 1280px) {
            height: 34px !important;
          }
          @media (max-width: 1440px) {
            padding: 3px;
            height: 32px;
            border-radius: 6px;
          }
          @media (max-width: 1280px) {
            height: 30px !important;
          }
        }
      }
    }
    .admin-quote-price {
      @media (max-width: 1024px) {
        flex-basis: auto;
        flex-basis: 448px;
        padding-left: 20px;
      }
      @media (max-width: 991px) {
        flex-basis: 188px;
        padding: 0;
        width: 100%;
        .valid-till {
          font-size: 12px !important;
        }
      }
      @media (max-width: 767px) {
        border-top: 1px solid #ccc;
        padding-top: 12px;
        margin-top: 5px;
      }
    }
  }
  .quote-price {
    flex-basis: 486px;
    @media (max-width: 1440px) {
      flex-basis: 395px;
    }
    @media (max-width: 991px) {
      .product-badge {
        margin: 8px 0 0 0 !important;
      }
    }
    .btn-brand {
      height: 60px;
      width: 211px;
      font-size: 16px;
      margin: 0 !important;
      @media (max-width: 1440px) {
        height: 52px;
      }
      @media (max-width: 991px) {
        height: 42px;
        width: 148px;
        font-size: 15px;
      }
    }
    button[disabled] {
      background: #f2f2f2;
      color: #abafb8;
      box-shadow: none !important;
    }
    .option {
      position: absolute;
      right: -45px;
      top: 5px;
      @media (max-width: 1440px) {
        right: -40px;
        top: 6px;
        svg {
          width: 5px;
        }
      }
      @media (max-width: 1024px) {
        top: 4px;
      }
      @media (max-width: 991px) {
        top: 0px;
        right: -30px;
        button {
          padding: 7px 12px;
        }
      }
    }
  }
  .color-picker {
    @media (max-width: 1440px) {
      ul li div {
        font-size: 16px !important;
      }
    }
  }
  a.cl-name {
    @media (max-width: 1440px) {
      font-size: 16px !important;
    }
  }
}
.features {
  flex: 1 1 auto;
  padding-right: 20px;
  @media (max-width: 1440px) {
    padding-right: 10px;
  }
  @media (max-width: 1024px) {
    padding-right: 15px;
  }
  @media (max-width: 767px) {
    flex-direction: column;
    padding: 0 0 20px 0;
    a {
      max-width: 100% !important;
      img {
        width: 100% !important;
        height: auto !important;
      }
    }
  }
  &:first-child {
    flex: 1;
    @media (max-width: 767px) {
      flex: inherit;
    }
  }
  &:nth-child(2) {
    width: 24%;
    @media (max-width: 767px) {
      width: 100%;
    }
  }
  &:nth-child(2) {
    //flex-basis: 25%;
    //@media (max-width: 1024px) {
    //  flex-basis: 44%;
    //}
    //@media (max-width: 767px) {
    //  flex-basis: 100%;
    //}
  }
  &:nth-child(3) {
    flex-basis: 15%;
    padding-right: 80px;
    @media (max-width: 1366px) {
      //flex-basis: 25%;
    }
    //@media (max-width: 1024px) {
    //  flex-basis: 46%;
    //}
    //@media (max-width: 767px) {
    //  //flex-basis: 100%;
    //}
  }
  &:nth-child(3),
  &:nth-child(4) {
    @media (max-width: 1024px) {
      margin-top: 40px;
    }
    @media (max-width: 767px) {
      margin-top: 0px;
    }
  }
  &:nth-child(4) {
    @media (max-width: 1024px) {
      width: 54%;
    }
    @media (max-width: 767px) {
      width: 100%;
    }
  }
  .product-title {
    width: 100%;
    @media (max-width: 1024px) {
      a {
        width: 100%;
        max-width: 100% !important;
      }
    }
  }
  .info-item {
    width: auto;
  }
}
.add-quote-list {
  .info-item {
    width: 140px;
    label {
      margin-bottom: 5px;
    }
    h5 {
      line-height: 20px;
      @media (max-width: 1440px) {
        font-size: 16px !important;
      }
    }
    @media (max-width: 1366px) {
      width: 118px;
    }
    @media (max-width: 1365px) {
      width: 210px;
    }
    @media (max-width: 1024px) {
      width: 160px;
    }
    @media (max-width: 991px) {
      width: 190px;
    }
    @media (max-width: 1280px) {
      &:first-child {
        margin-right: 16px !important;
      }
    }
  }
  &:nth-child(3),
  &:nth-child(4) {
    margin-top: 0;
  }
}
.admin-price {
  flex-basis: 448px;
  padding-left: 20px;
  flex: auto;
  @media (max-width: 1024px) {
    justify-content: start !important;
    align-items: start !important;
  }
  @media (max-width: 767px) {
    flex-basis: 100%;
    padding-left: 0;
  }
  .price-n-currency {
    @media (max-width: 991px) {
      flex-direction: column;
    }
    @media (max-width: 767px) {
      flex-direction: row;
    }
  }
  .price {
    width: 200px;
    margin-right: 16px;
    @media (max-width: 1440px) {
      width: 150px;
    }
    input {
      border-radius: 10px;
    }
  }
  > .type {
    @media (max-width: 1024px) {
      margin: 20px 0;
    }
  }
  .currency {
    width: 144px;
    @media (max-width: 1440px) {
      width: 120px;
    }
    .nice-select {
      border-radius: 10px;
    }
  }
  .quote-price {
    flex-basis: auto;
  }
}
.types-select .type {
  width: 80px;
  height: 42px;
  text-align: center;
  line-height: 41px;
  border: 1px solid #333;
  border-radius: 12px;
  margin-right: 10px;
  cursor: pointer;
  user-select: none;
  font-size: 16px;
  &.active {
    background: $brand-color;
    border-color: $brand-color;
    color: #fff;
  }
  @media (max-width: 1440px) {
    width: 50px;
    height: 34px;
    line-height: 33px;
    font-size: 15px !important;
  }
}
.option {
  .dropdown-toggle {
    background-image: none;
    &:after,
    &:before {
      display: none;
    }
  }

  .dropdown-menu:before {
    position: absolute;
    content: "";
    border-style: solid;
    border-width: 10px 10px;
    border-color: transparent transparent #ffffff transparent;
    top: -20px;
    right: 19px;
    @media (max-width: 991px) {
      right: 5px;
    }
  }
}
.delivery-in-days {
  input {
    width: 110px;
    height: 44px;
    text-align: center;
    border-radius: 10px;
    @media (max-width: 1280px) {
      width: 70px;
      height: 36px !important;
    }
  }
}
.p-size-table {
  thead {
    th {
      color: #6c757d;
      background: transparent;
      padding: 0 4px 4px 4px !important;
      text-align: center;
      width: 40px;
      border: 0 !important;
      font-size: 14px;
    }
  }
  tbody {
    tr {
      td {
        padding: 5px !important;
        text-align: center;
      }
    }
  }
}
.option ul[x-placement="top-end"]:before {
  content: none !important;
}
.option ul[x-placement="top-end"]:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid white;
  bottom: -8px;
  right: 19px;
}
.collection-name-heading {
  .close-tag {
    top: 2px !important;
  }
}


.quantity-table{
  width: 450px;
  background: #fff;
  border: 1px solid #E4E7EB;
  border-radius: 4px;
  padding: 24px;
  position: absolute;
  top: 100%;
  margin-top: 12px;
  z-index: 99;
.color{
    width: 24px;
    height: 24px;
    border-radius: 100px;
    display: inline-block;
}
.quantity-heading{
  padding-bottom: 4px;
  border-bottom: 1px solid $gray_light_01;
  margin-bottom: 12px;
}
p{
  font-size: 14px;
  color: $gray_dark_02;
  padding: 2px 4px;
}
table{
    width: 100%;
    text-align: center;
    th{
        padding-bottom: 8px;
        font-weight: 600;
        color: $gray_dark_02;
    }
    
    td{
        vertical-align: middle;
        p{
          margin-bottom: 12px;
          cursor: pointer;
            // cursor: url("./icons/edit-2.svg"), auto;
          input{
            height: 28px;
            width: 46px;
            padding: 6px;
            text-align: center;
          }
        }
    }
}
button{
    float: right;
    margin-right: 26px;
    margin-top: 14px;
    margin-bottom: 10px;

}

}