.all-cat-select .all-checkbox {
  overflow: hidden;
  width: 106px;
  border-radius: 8px;
}
.role-check-container{
  display: flex;
  flex-wrap: wrap;
  padding: 12px 32px;
  width: 100%;
  @media (max-width: 575px) {
    padding: 0 18px;
  }
  > div {
    flex-basis: calc(100% / 2);
    padding-right: 25px;
  }
  .custom-chekbox .form-group label {
    display: flex;
    align-items: start;
    span{
      display: inline-block;
      line-height: 28px;
    }
  }
}
.role-action{
  button.btn-brand{
    margin: 0 !important;
  }
}