
input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"]{
  &.error2{
    border: 1px solid red !important;
    background: #fee !important;
  }
}
.nice-select.error2 {
  border: 1px solid red !important;
  background: #fee !important;
}
.nice-select.error2 {
  border: 1px solid red !important;
  background: #fee !important;
}
.uploader.error2 .drag-upload {
  border: 2px dashed red !important;
  background: #fee;
  background-image: url(./images/icons/upload.svg);
  background-repeat: no-repeat;
  background-position: 50% calc(50% - 50px);
}



.share-your-design-form {
  max-width: 1270px;
  .uploader label[for="drag-upload"]{
    height: 686px;
    @media (max-width: 1366px) {
      height: 560px;
    }
    @media (max-width: 1024px) {
      height: 515px;
    }
    @media (max-width: 991px) {
      height: 738px;
    }
    @media (max-width: 575px) {
      height: 310px;
    }
  }
  .stepper {
    @media (max-width: 1024px) {
      padding: 12px;
    }
    @media (max-width: 767px) {
      label {
        font-size: 16px;
      }
    }
  }
}
.pick-color-table{
  th{
    padding: 0 !important;
    background: transparent;
    text-align: left;
    border-bottom: 0 !important;
    width: 33.33%;
    &:last-child{
      @media (max-width: 1024px) {
        width: 1%;
        span{
          font-size: 14px !important;
          white-space: nowrap;
        }
      }
      //@media (max-width: 767px) {
      //  width: 10%;
      //  span{
      //    font-size: 14px !important;
      //    white-space: nowrap;
      //  }
      //}
    }
  }
  tr{
    td{
      padding-right: 12px;
      padding-bottom: 20px;
      position: relative;
      label.error{
        position: absolute;
        bottom: 3px;
        left: 0;
      }
      &:last-child{
        padding-right: 0;
      }
      input.bg-gray-light{
        height: 52px;
        width: 100%;
        text-align: left;
        padding: 15px;
        @media (max-width: 991px) {
          height: 46px !important;
          padding: 10px;
        }
      }
    }
  }
}
.pick-color{
  position: relative;
  span{
    background: royalblue;
    width: 32px;
    height: 32px;
    display: block;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    cursor: pointer;
    @media (max-width: 991px) {
      width: 25px;
      height: 25px;
    }
  }
  input.bg-gray-light{
    padding-left: 55px !important;
    border: 1px solid #452C8E !important;
    @media (max-width: 991px) {
      padding-left: 40px !important;
      height: 44px;
    }
  }
  &.pick-color-edit{
    .color-picker-popup {
      bottom: 32px;
    }
  }
}
.desgin-name-header{
  margin-bottom: 32px;
  .name{
    @media (max-width: 575px) {
      .name-display{
        h4{
          font-size: 20px !important;
        }
      }
    }
  }
  @media (max-width: 575px) {
    .add-another-product{
      span{
        font-size: 16px !important;
      }
    }
  }
}
.product-images{
  margin-bottom: 15px;
  @media (max-width: 1024px) {
    flex-wrap: wrap;
  }
  .item{
    flex-basis: calc(100% / 5 - 12px);
    @media (max-width: 1024px) {
      flex-basis: calc(100% / 2 - 12px);
      margin-bottom: 30px;
      overflow-x: auto;
      &:nth-child(n+3){
        flex-basis: 100%;
      }
    }
    @media (max-width: 767px) {
      flex-basis: 100%;
      margin-bottom: 25px;
    }

    .type-of-img-name{
      margin-bottom: 18px;
      .add-more-img{
        padding-right: 20px;
        cursor: pointer;
        height: 30px;
        .upload-btn-wrapper {
          position: relative;
          overflow: hidden;
          display: inline-block;
        }

        button {
          border: 0;
          color: gray;
          background-color: white;
          padding: 0;
          border-radius: 8px;
          font-size: 20px;
          font-weight: bold;
          vertical-align: bottom;
          line-height: 1;
          cursor: pointer;
        }

        .upload-btn-wrapper input[type=file] {
          font-size: 100px;
          position: absolute;
          left: 0;
          top: 0;
          opacity: 0;
        }
        @media (max-width: 1024px) {
          padding-right: 0;
        }
      }
      @media (max-width: 1440px) {
        span{
          font-size: 16px !important;
        }
      }
      @media (max-width: 767px) {
        span{
          font-size: 22px !important;
        }
      }
    }
    .p-img{
      position: relative;
      img{
        width: 100%;
        max-height: 340px;
        min-height: 340px;
        object-fit: cover;
        @media (max-width: 1440px) {
          height: 250px;
          min-height: 250px;
        }
        @media (max-width: 1366px) {
          height: 236px;
          min-height: 236px;
        }
        @media (max-width: 1280px) {
          height: 200px;
          min-height: 200px;
        }
        @media (max-width: 1024px) {
          height: 480px;
          max-height: 100%;
        }
        @media (max-width: 991px) {
          height: 340px;
        }
      }
      .dlt{
        position: absolute;
        top: 12px;
        right: 12px;
        z-index: 9;
        cursor: pointer;
      }
    }
    .uploader label.drag-upload{
      background-size: 70px;
      height: 340px;
      @media (max-width: 1440px) {
        height: 258px;
      }
      @media (max-width: 1366px) {
        height: 240px;
      }
      @media (max-width: 1280px) {
        height: 206px;
      }
      @media (max-width: 1024px) {
        height: 430px;
      }
      @media (max-width: 991px) {
        height: 310px;
      }

      &:after {
        content: 'Browse your files  upto 2 MB  (png, jpeg, jpg)';
        line-height: 24px;
        font-size: 16px;
        font-weight: normal;
        transform: translateY(24px);
        @media (max-width: 1280px) {
          line-height: 18px;
          font-size: 12px;
          transform: translateY(32px);
        }
      }
      &:before {
        font-size: 20px;
        @media (max-width: 1280px) {
          font-size: 18px;
        }
      }
    }

    .files {
      position: relative;
      height: 100%;
      min-height: 340px;
      @media (max-width: 1440px) {
        min-height: 250px;
      }
      @media (max-width: 1280px) {
        min-height: 200px;
      }
      @media (max-width: 767px) {
        min-height: 185px;
      }
      .uplded-file{
        max-height: 340px;
        background: #F4F6FC;
        height: 100%;
        @media (max-width: 1024px) {
          svg{
            width: 40px;
            height: 40px;
          }
          a{
            font-size: 12px !important;
          }
          .dlt{
            svg{
              width: 24px;
              height: 24px;
            }
          }
        }
      }

      .dlt{
        position: absolute;
        top: 12px;
        right: 12px;
        z-index: 9;
        cursor: pointer;
      }
    }
  }
}
.product-info{
  .product-type{
    width: 100%;
    padding: 20px;
    position: relative;
    box-shadow: 0px 0px 3px 0px #ddd;
    // @media (max-width: 1440px) {
    //   width: 240px;
    // }
    label, span{
      font-size: 18px;
      @media (max-width: 1440px) {
        font-size: 15px;
        line-height: 17px;
      }
    }
    input.bg-gray-light {
      height: 46px;
      background: #F4F5F7;
      border-radius: 5px;
      padding: 10px 12px;
      border: 1px solid #CACDD5;
      @media (max-width: 1440px) {
        border-radius: 4px;
        padding: 6px 10px;
      }
    }
    .nice-select{
      height: 46px;
      line-height: 34px;
      padding-left: 10px;
    }
    table.pick-color-table{
      thead{
        tr{
          th{
            &:last-child{
              width: 1%;
              svg{
                width: 20px;
                height: 20px;
              }
            }
            @media (max-width: 1440px) {
              label{
                //font-size: 12px !important;
                //margin-bottom: 0;
              }
            }
          }
        }
      }
      .pick-color{
        span{
          width: 20px;
          height: 20px;
          //@media (max-width: 1440px) {
          //  width: 14px;
          //  height: 14px;
          //}
        }
        input.bg-gray-light {
          padding-left: 36px !important;
          border: 1px solid#CACDD5 !important;
        }
      }
      tbody{
        tr td{
          input.bg-gray-light{
            height: 48px;
          }
          .dlt{
            //svg{
            //  width: 20px;
            //  height: 20px;
            //}
          }
        }
      }
    }
  }
  .product-notes{
    padding: 30px 0px 30px 20px;
    box-sizing: content-box;
    position: relative;
    flex: 1;
    @media (max-width: 1024px) {
      padding: 0;
      width: 100%;
    }

    .p-note{
    }
    label{
      font-size: 20px;
      color: #21242B;
    }
    p{
      font-size: 18px;
      color: #6A7181;
      margin-bottom: 20px;
    }
    table.measurement-table {
      box-shadow: 0 0 30px -5px rgba($color: #000000, $alpha: 0.1);
      border: 0;
      overflow: auto;
      min-height: auto !Important;
      @media (max-width: 1440px) {
        width: 10px;
      }
      thead th{
        white-space: nowrap;
        width: auto;
        font-size: 18px;
        font-weight: 600;
        &:first-child {
          width: auto;
          border-left: 0;
        }
      }
      tbody tr td {
        white-space: nowrap;
        input{
          background: #f4f5f7;
        }
      }
      tbody tr th:last-child, thead th:last-child {
        border-right: 0;
      }
      tbody tr th:first-child,  tbody tr td:first-child {
        border-left: 0;
      }
      tbody tr td:last-child {
        border-right: 0;
      }
    }
  }
  .product-type{
    
      label{
        font-size: 14px;
        color: #6c757d;
      }
  }

}

.p-edit{
  position: absolute;
  top: 0;
  right: 0;
}
.color-circle{
  width: 20px;
  height: 20px;
  border-radius: 100%;
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.1);
}
.submit-action{
  margin-top: 50px;
  button{
    width: 210px;
    height: 60px;
    @media (max-width: 767px) {
      width: 130px;
      height: 48px;
      padding: 10px;
    }
    + button{
      margin-left: 20px;
    }
  }
  @media (max-width: 767px) {
    align-items: center;
  }
}
.chart-table {
  display: flex;
  .adjust-property{
    flex-basis: 100px;
    white-space: nowrap;
    margin-left: 30px;
    @media (max-width: 1366px) {
      flex-basis: 100px;
    }
  }
}

.edit-design-name{
  position: relative;
  input{
    padding-right: 40px;
    font-size: 23px;
  }
  .done{
    position: absolute;
    right: 12px;
    top: 12px;
    @media (max-width: 1366px) {
      top: 9px;
    }
  }
}

.more-item{
  position: relative;
  &.open{
    &::after{
      content: "";
      position: absolute;
      border-style: solid;
      border-width: 30px 30px;
      border-color: transparent transparent #ffffff transparent;
      top: 12px;
      left: 26px;
      z-index: 77;
    }
  }
  @media (max-width: 1024px) {
    display: none;
  }
}
.more-files {
  padding: 10px 10px 15px 30px;
  box-shadow: 0 -13px 28px 16px rgba(0, 0, 0, .06);
  margin-bottom: 35px;
  position: relative;
  background: $white;
  top: -290px;
  @media (max-width: 1024px) {
    padding: 15px 25px;
    margin-bottom: 0px;
    position: fixed;
    top: 20%;
    z-index: 999;
    background: #fff;
    left: 50%;
    width: calc(100% - 40px);
    transform: translateX(-50%);
    display: none;
    .product-images{
      margin: 0;
      .item{
        margin: 0;
      }
    }
  }
  .product-images{
    display: flex;
    flex-wrap: wrap;
    .item {
      flex-basis: calc(100% / 4 - 20px);
      margin-right: 20px;
      margin-bottom: 20px;
      @media (max-width: 767px) {
        flex-basis: calc(100% / 2 - 20px);
      }
      &:last-child{
        margin-right: 0px;
      }
      .p-img img {
        @media (max-width: 1440px) {
          height: 240px;
        }
        @media (max-width: 1366px) {
          height: 220px;
        }
        @media (max-width: 1280px) {
          height: 200px;
        }
        @media (max-width: 1024px) {
          height: 220px;
        }
        @media (max-width: 991px) {
          height: 162px;
        }
        @media (max-width: 767px) {
          height: 130px;
        }
      }
      @media (max-width: 1024px) {
        .dlt{
          top: 3px;
          right: 5px;
          svg{
            width: 24px;
            height: 24px;
          }
        }
      }
    }
  }
  @media (max-width: 1024px) {
    .close-pop{
      svg{
        width: 40px;
        height: 40px;
      }
    }
  }
}
.measurement-chart-table-container {
  width: 100%;
  float: left;
}
.product-type{
  position: relative;
  .p-edit{
    position: absolute;
    top: 20px;
    right: 20px;
    @media (max-width: 1024px) {
      top: 0px;
      right: 0px
    }
  }
  @media (max-width: 1024px) {
    margin-top: 48px;
  }
}



ul.p-img-container {
  display: flex;
  overflow-x: auto;
  li{
    list-style: none;
    display: inline-block;
    margin-right: 12px;
    position: relative;
    width: 100%;
    .files{
      width: 100%;
    }
    .p-img {
      @media (max-width: 1024px) {
        width: 350px;
        height: 385px;
      }
      @media (max-width: 991px) {
        width: 270px;
        height: 300px;
      }
      @media (max-width: 575px) {
        width: 270px;
        height: 300px;
      }
    }
    &:not(:first-child) {
      display: none;
      @media (max-width: 1024px) {
        display: block;
      }
    }
  }
}
.min-max-table-container{
  @media (max-width: 1199px) {
    overflow: auto;
  }

  .min-max-table{
    width: 100% !important;
    thead tr th {
      width: auto;
    }
    tr{
      td{
        padding: 10px !important;
        input{
          width: 100%;
          @media (max-width: 575px) {
            width: 110px;
          }
        }
      }
    }
  }
}

.color-picker-popup {
  position: absolute;
  background: #fff;
  z-index: 99;
  bottom: 52px;
  border-radius: 5px;
  left: 0;
}

.uploader {
  position: relative;
  img{
    width: 100%;
  }
}

#loading-spinner {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 3px solid #EE761F;
  border-radius: 50%;
  border-top-color: #452C8E;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
  background: #fff;
  box-shadow: 0 0 20px 0px rgba(0,0,0,.1);
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
label[aria-expanded="false"]{
  > svg{
    transform: rotate(0deg);
    transition: all ease-in-out .2s;
  }
}
label[aria-expanded="true"]{
  > svg {
    transform: rotate(180deg);
    transition: all ease-in-out .2s;
  }
}

.click-box{
  width: 100%;
  height: 52px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0 !important;
  background: #F4F5F7;
  &.error2{
    background: #fee;
    border: 1px solid red !important;
  }
  p{
      margin: 0;
      color: $gray_dark_02;
      padding-left: 16px;
  }
  svg{
      margin: 9px;
  }
}
.select-component.show{
  .click-box{
      svg{
          transform: rotate(180deg);
      }
  }
}
.color-icon{
  width: 24px;
  height: 24px;
  border-radius: 100px;
  display: inline-block;
}
.dropdown-box{
  width: calc(100% - 30px);
  padding:4px 0;
  border: 1px solid $gray_light_01;
  border-radius: 4px;
  max-width: 697px;
  max-height: 360px;
  overflow-y: auto;
  z-index: 99;
  padding-top: 0 !important;
  box-shadow: none;
  .search-filter{
      padding: 20px 16px 12px 16px;
      width: 100%;
      position: sticky;
      top: 0; 
      background: $white;
      z-index: 1;
      input{
          height: 32px;
          border-radius: 0;
      }
  }
  .add-btn{
      &:hover{
          background:$gray_light_03
      }
  }
  span{
      display: inline-block;
  }
  .color-list-box{
      .single-color-item{
          cursor:pointer;
          &:hover{
              background:$gray_light_03
          }
          .one-half{
              width: 50%;
              display: flex;
              align-items: center;
              padding: 8px 16px;
              p{
                  margin: 0;
              }
              .color-icon{
                  margin-right: 6px;
              }
              img{
                  width: 168px;
                  height: 18px;
                  object-fit: contain;
              }
          }
          .regular-14{
              color:$gray_dark_02;
              font-size: 14px;
          }
      }
  }
}

.select-component{
  .form-control:disabled{
    background: #F4F5F7;
  }
  .input-group{
    .input-group-prepend{
      cursor: disabled;
    }
    .with-color-element {
      button {

        .color {
          width: 24px;
          height: 24px;
          border-radius: 100px;
          display: inline-block;
          margin-right: 12px;
          position: relative;
          top: 7px;
      }
      &.btn-outline-secondary{
         background: #F4F5F7;
         border: none;
         border-top-right-radius: 0 !important;
         border-bottom-right-radius: 0 !important;
         z-index: 0;
         padding-top: 4px;
         font-size: 16px;
         cursor: default;
         &:hover{
           background:#F4F5F7 !important;
         }
      }
      &:focus{
        background:#F4F5F7 !important;
      }
      }
    }
    input{
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
      box-shadow: none !important;
      &:focus{
        box-shadow: none !important;
      }
    }
    .action-icon{
      padding: 12px;
      cursor: pointer;
    }
  }
  .search-filter{
    .with-icon{
      position: relative;
    
    input{
      width: 100%;
    }
    span.right-icon{
      position: absolute;
      top: 6px;
      right: 15px;
    }
  }
  }
}

.product-img-and-info{
  .form-group{
    .col-md-12{
      &.mb-3{
        .click-box{
          p{
            font-size: 14px;
          }
        }
        padding: 0;
        .dropdown-box{
          width: 100%;
          .one-half{
            span.regular-14{
              font-size: 12px;
            }
          }
        }
      }
    }
  }
  .select-component{
    .input-group {
      .with-color-element {
        button{
          &.btn-outline-secondary{
            font-size: 14px;
            padding: 4px 20px 11px  12px;
          }
        }
      }
      input{
        padding: 0;
        font-size: 14px;
      }
    }
  }
}
.materials-section{
  .filter-container-top{
    padding-bottom: 32px;
  }
}
@media (max-width: 1440px){
.product-img-and-info{
  .select-component{
    .input-group {
      .with-color-element {
        button {
          .color {
            width: 20px;
            height: 20px;
            margin-right: 0px;
            top: 7px;
          }
        }
      }
    }
  }
}
}

@media (max-width: 1366px) {
  .click-box{
    height: 46px;
  }
  .select-component{
    .input-group {
      .with-color-element {
        button{
          &.btn-outline-secondary{
            height: 46px;
          }
        }
      }
    }
  }
}