.share-your-design-form {
  max-width: 1270px;
  .uploader label[for="drag-upload"]{
    height: 686px;
    @media (max-width: 1366px) {
      height: 560px;
    }
    @media (max-width: 1024px) {
      height: 400px;
    }
    @media (max-width: 575px) {
      height: 310px;
    }
  }
  .stepper {
    @media (max-width: 1024px) {
      padding: 12px 0;
    }
    @media (max-width: 767px) {
      label {
        font-size: 16px;
      }
    }
  }
}
.pick-color-table{
  th{
    padding: 0 !important;
    background: transparent;
    text-align: left;
    border-bottom: 0 !important;
    width: 33.33%;
    &:last-child{
      @media (max-width: 1024px) {
        width: 1%;
        span{
          font-size: 14px !important;
          white-space: nowrap;
        }
      }
      //@media (max-width: 767px) {
      //  width: 10%;
      //  span{
      //    font-size: 14px !important;
      //    white-space: nowrap;
      //  }
      //}
    }
  }
  tr{
    td{
      padding-right: 12px;
      padding-bottom: 12px;
      &:last-child{
        padding-right: 0;
      }
      input.bg-gray-light{
        height: 52px;
        width: 100%;
        text-align: left;
        padding: 15px;
        @media (max-width: 991px) {
          height: 46px !important;
          padding: 10px;
        }
      }
    }
  }
}
.pick-color{
  position: relative;
  span{
    background: royalblue;
    width: 32px;
    height: 32px;
    display: block;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    cursor: pointer;
    @media (max-width: 991px) {
      width: 25px;
      height: 25px;
    }
  }
  input.bg-gray-light{
    padding-left: 55px !important;
    border: 1px solid #452C8E !important;
    @media (max-width: 991px) {
      padding-left: 40px !important;
      height: 44px;
    }
  }
  &.pick-color-edit{
    .color-picker-popup {
      bottom: 32px;
    }
  }
}
.desgin-name-header{
  margin-bottom: 32px;
  .name{
    flex-basis: calc(100% / 5 - 12px);
    @media (max-width: 1024px) {
      flex-basis: calc(100% / 2);
    }
    @media (max-width: 575px) {
      .name-display{
        h4{
          font-size: 20px !important;
        }
      }
    }
  }
  @media (max-width: 575px) {
    .add-another-product{
      span{
        font-size: 16px !important;
      }
    }
  }
}
.product-images{
  margin-bottom: 15px;
  @media (max-width: 1024px) {
    flex-wrap: wrap;
  }
  .item{
    flex-basis: calc(100% / 5 - 12px);
    @media (max-width: 1024px) {
      flex-basis: calc(100% / 2 - 12px);
      margin-bottom: 30px;
      overflow-x: auto;
      &:nth-child(n+3){
        flex-basis: 100%;
      }
    }
    @media (max-width: 767px) {
      flex-basis: 100%;
      margin-bottom: 25px;
    }

    .type-of-img-name{
      margin-bottom: 18px;
      .add-more-img{
        padding-right: 20px;
        cursor: pointer;
        height: 30px;
        .upload-btn-wrapper {
          position: relative;
          overflow: hidden;
          display: inline-block;
        }

        button {
          border: 0;
          color: gray;
          background-color: white;
          padding: 0;
          border-radius: 8px;
          font-size: 20px;
          font-weight: bold;
          vertical-align: bottom;
          line-height: 1;
          cursor: pointer;
        }

        .upload-btn-wrapper input[type=file] {
          font-size: 100px;
          position: absolute;
          left: 0;
          top: 0;
          opacity: 0;
        }
        @media (max-width: 1024px) {
          padding-right: 0;
        }
      }
      @media (max-width: 1440px) {
        span{
          font-size: 16px !important;
        }
      }
      @media (max-width: 767px) {
        span{
          font-size: 22px !important;
        }
      }
    }
    .p-img{
      position: relative;
      img{
        width: 100%;
        max-height: 340px;
        object-fit: cover;
        @media (max-width: 1440px) {
          height: 270px;
        }
        @media (max-width: 1366px) {
          height: 220px;
        }
        @media (max-width: 1024px) {
          height: 480px;
          max-height: 100%;
        }
        @media (max-width: 991px) {
          height: 340px;
        }
      }
      .dlt{
        position: absolute;
        top: 12px;
        right: 12px;
        z-index: 999;
        cursor: pointer;
      }
    }
    .uploader label[for="drag-upload"]{
      background-size: 70px;
      height: 340px;
      @media (max-width: 1440px) {
        height: 270px;
      }
      @media (max-width: 1024px) {
        height: 430px;
      }
      @media (max-width: 991px) {
        height: 310px;
      }
      &:after {
        content: 'Drag and drop or browse your files  upto 2 MB  (png, jpeg, jpg)';
        line-height: 24px;
        font-size: 16px;
        font-weight: normal;
        transform: translateY(24px);
      }
      &:before {
        font-size: 20px;
      }
    }

    .files {
      position: relative;
      height: 100%;
      .uplded-file{
        max-height: 340px;
        background: #F4F6FC;
        height: 100%;
        @media (max-width: 1024px) {
          svg{
            width: 40px;
            height: 40px;
          }
          a{
            font-size: 12px !important;
          }
          .dlt{
            svg{
              width: 24px;
              height: 24px;
            }
          }
        }
      }

      .dlt{
        position: absolute;
        top: 12px;
        right: 12px;
        z-index: 999;
        cursor: pointer;
      }
    }
  }
}
.product-info{
  .product-type{
    width: 341px;
    background: #F1F1F1;
    padding: 20px;
    position: relative;
    label, span{
      font-size: 18px;
      @media (max-width: 1440px) {
        font-size: 16px;
      }
    }
    input {
      height: 46px;
      background: #F4F5F7 !important;
      border-radius: 5px;
      padding: 10px 12px;
      border: 1px solid #CACDD5 !important;
      @media (max-width: 1440px) {
        height: 38px;
        border-radius: 4px;
        padding: 6px 10px;
      }
    }
    table.pick-color-table{
      thead{
        tr{
          th{
            &:last-child{
              width: 1%;
              svg{
                width: 20px;
                height: 20px;
              }
            }
            @media (max-width: 1440px) {
              label{
                font-size: 12px !important;
                margin-bottom: 0;
              }
            }
          }
        }
      }
      .pick-color{
        span{
          width: 20px;
          height: 20px;
          @media (max-width: 1440px) {
            width: 14px;
            height: 14px;
          }
        }
        input {
          padding-left: 36px !important;
          border: 1px solid#CACDD5 !important;
          @media (max-width: 1440px) {
            padding-left: 27px !important;
          }
        }
      }
      tbody{
        tr td{
          input{
            height: 32px;
          }
          .dlt{
            svg{
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }
  }
  .product-notes{
    padding: 30px 0px 30px 20px;
    box-sizing: content-box;
    width: 79%;
    position: relative;
    @media (max-width: 1024px) {
      padding: 0;
      width: 100%;
    }
    .p-edit{
      position: absolute;
      top: 0;
      right: 0;
    }
    .p-note{
    }
    label{
      font-size: 20px;
      color: #21242B;
    }
    p{
      font-size: 18px;
      color: #6A7181;
      margin-bottom: 20px;
    }
    table.measurement-table {
      box-shadow: 0 0 30px -5px rgba($color: #000000, $alpha: 0.1);
      border: 0;
      overflow: auto;
      @media (max-width: 1440px) {
        width: 10px;
      }
      thead th{
        white-space: nowrap;
        &:first-child {
          width: auto;
          border-left: 0;
        }
      }
      tbody tr td {
        white-space: nowrap;
        input{
          background: #f4f5f7;
        }
      }
      tbody tr th:last-child, thead th:last-child {
        border-right: 0;
      }
      tbody tr th:first-child,  tbody tr td:first-child {
        border-left: 0;
      }
      tbody tr td:last-child {
        border-right: 0;
      }
    }
  }
}

.color-circle{
  width: 20px;
  height: 20px;
  border-radius: 100%;
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px;
}
.submit-action{
  margin-top: 50px;
  button{
    width: 210px;
    height: 60px;
    @media (max-width: 767px) {
      width: 130px;
      height: 48px;
      padding: 10px;
    }
    + button{
      margin-left: 20px;
    }
  }
  @media (max-width: 767px) {
    align-items: center;
  }
}
.chart-table {
  display: flex;
  .adjust-property{
    flex-basis: 100px;
    white-space: nowrap;
    margin-left: 30px;
    @media (max-width: 1366px) {
      flex-basis: 100px;
    }
  }
}

.edit-design-name{
  position: relative;
  input{
    padding-right: 40px;
    font-size: 23px;
  }
  .done{
    position: absolute;
    right: 12px;
    top: 12px;
    @media (max-width: 1366px) {
      top: 9px;
    }
  }
}

.more-item{
  position: relative;
  &.open{
    &::after{
      content: "";
      position: absolute;
      border-style: solid;
      border-width: 30px 30px;
      border-color: transparent transparent #ffffff transparent;
      top: 12px;
      left: 26px;
      z-index: 77;
    }
  }
  @media (max-width: 1024px) {
    display: none;
  }
}
.more-files {
  padding: 10px 10px 15px 30px;
  box-shadow: 0 -13px 28px 16px rgba(0, 0, 0, .06);
  margin-bottom: 35px;
  @media (max-width: 1024px) {
    padding: 15px 25px;
    margin-bottom: 0px;
    position: fixed;
    top: 20%;
    z-index: 999;
    background: #fff;
    left: 50%;
    width: calc(100% - 40px);
    transform: translateX(-50%);
    display: none;
    .product-images{
      margin: 0;
      .item{
        margin: 0;
      }
    }
  }
  .product-images{
    display: flex;
    flex-wrap: wrap;
    .item {
      flex-basis: calc(100% / 4 - 20px);
      margin-right: 20px;
      margin-bottom: 20px;
      @media (max-width: 767px) {
        flex-basis: calc(100% / 2 - 20px);
      }
      &:last-child{
        margin-right: 0px;
      }
      .p-img img {
        @media (max-width: 1440px) {
          height: 240px;
        }
        @media (max-width: 1366px) {
          height: 220px;
        }
        @media (max-width: 1280px) {
          height: 200px;
        }
        @media (max-width: 1024px) {
          height: 220px;
        }
        @media (max-width: 991px) {
          height: 162px;
        }
        @media (max-width: 767px) {
          height: 130px;
        }
      }
      @media (max-width: 1024px) {
        .dlt{
          top: 3px;
          right: 5px;
          svg{
            width: 24px;
            height: 24px;
          }
        }
      }
    }
  }
  @media (max-width: 1024px) {
    .close-pop{
      svg{
        width: 40px;
        height: 40px;
      }
    }
  }
}
.measurement-chart-table-container {
  width: 100%;
  float: left;
}
.product-type{
  position: relative;
  .p-edit{
    position: absolute;
    top: 20px;
    right: 20px;
    @media (max-width: 1024px) {
      top: 0px;
      right: 0px
    }
  }
  @media (max-width: 1024px) {
    margin-top: 48px;
  }
}



ul.p-img-container {
  display: flex;
  overflow-x: auto;
  li{
    list-style: none;
    display: inline-block;
    margin-right: 12px;
    position: relative;
    .p-img {
      @media (max-width: 1024px) {
        width: 350px;
        height: 385px;
      }
      @media (max-width: 991px) {
        width: 270px;
        height: 300px;
      }
      @media (max-width: 575px) {
        width: 270px;
        height: 300px;
      }
    }
    &:not(:first-child) {
      display: none;
      @media (max-width: 1024px) {
        display: block;
      }
    }
  }
}
.min-max-table{
  width: 100% !important;
  tr{
    td{
      padding: 10px !important;
    }
  }
  @media (max-width: 991px) {
    max-width: 648px !important
  }

  @media (max-width: 575px) {
    max-width: 390px !important;
  }
  @media (max-width: 375px) {
    max-width: 335px !important;
  }
  @media (max-width: 320px) {
    max-width: 300px !important;
  }
}
.color-picker-popup {
  position: absolute;
  background: #fff;
  z-index: 99;
  bottom: 52px;
  border-radius: 5px;
  left: 0;
}

.uploader {
  position: relative;
  img{
    width: 100%;
  }
}

#loading-spinner {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 3px solid #EE761F;
  border-radius: 50%;
  border-top-color: #452C8E;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
  background: #fff;
  box-shadow: 0 0 20px 0px rgba(0,0,0,.1);
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"]{
  &.error2{
    border: 1px solid red !important;
    background: #fee !important;
  }
}
.nice-select.error2 {
  border: 1px solid red !important;
  background: #fee !important;
}