// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.action{
  @include square(25px);
  display: inline-block;
  border: 0;
  margin: 0 10px;
  &.action-edit{
    background: url(./images/icons/action-edit.png) no-repeat center;
  }
  &.action-edit-2{
    background: url(./images/icons/edit-2.svg) no-repeat center #E6E9F0;
    border-radius: 3px;
  }
  &.action-profile{
    background: url(./images/icons/action-profile.png) no-repeat center;
  }
  &.action-permission{
    background: url(./images/icons/action-permission.png) no-repeat center;
  }
  &.action-delete{
    background: url(./images/icons/action-delete.png) no-repeat center;
  }
  &.action-refresh{
    background: url(./images/icons/refresh.png) no-repeat center;
  }
  &.action-check{
    background: url(./images/icons/check.png) no-repeat center;
  }
  &.action-close{
    background: url(./images/icons/close.png) no-repeat center;
  }
  &:focus{
    outline: 0;
  }
}
.lock img{
  width: 20px;
}