// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.action{
  @include square(25px);
  display: inline-block;
  border: 0;
  margin: 0 10px;
  &.action-edit{
    background: url(./images/icons/action-edit.png) no-repeat center;
  }
  &.action-edit-2{
    background: url(./images/icons/edit-2.svg) no-repeat center #E6E9F0;
    border-radius: 3px;
  }
  &.action-profile{
    background: url(./images/icons/action-profile.png) no-repeat center;
  }
  &.action-info{
    background: url(./images/icons/info.png) no-repeat center;
  }
  &.action-permission{
    background: url(./images/icons/action-permission.png) no-repeat center;
  }
  &.action-delete{
    background: url(./images/icons/action-delete.png) no-repeat center;
  }
  &.action-refresh{
    background: url(./images/icons/refresh.png) no-repeat center;
  }
  &.action-check{
    background: url(./images/icons/check.png) no-repeat center;
  }
  &.action-close{
    background: url(./images/icons/close.png) no-repeat center;
  }
  &:focus{
    outline: 0;
  }
}
.lock img{
  width: 20px;
}

.input-group{
  input{
    border-radius:  5px 0  0 5px !important;
  }
  .input-group-btn {
    border: 1px solid #ccc;
    border-left: 0;
    border-radius: 0 5px 5px 0;
    button{
      width: 100%;
      height: 100%;
      display: block;
      padding: 4px;
      .social-url{
        display: block;
        width: 45px;
        height: 100%;
        &.linkedin{
          background: url(./images/icons/linkedin-url.png) no-repeat center;
        }
        &.facebook{
          background: url(./images/icons/facebook-url.png) no-repeat center;
        }
        &.twitter{
          background: url(./images/icons/twitter-url.png) no-repeat center;
        }
      }
    }
  }
}
.sidebar-action {
  margin-bottom: 100px;
  button {
    width: 115px !important;
    height: 50px !important;
    font-size: 16px !important;
  }
}

