$shadow-1dp : 0px 1px 3px rgba(0, 0, 0, 0.05);
$shadow-2dp : 0px 1px 2px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
$shadow-4dp : 0px 1px 4px rgba(0, 0, 0, 0.1), 0px 2px 3px rgba(0, 0, 0, 0.04);
$shadow-8dp : 0px 2px 8px rgba(0, 0, 0, 0.15);
$shadow-12dp : 0px 3px 5px rgba(0, 0, 0, 0.06), 0px 8px 15px rgba(0, 0, 0, 0.08), 0px 0px 0px rgba(0, 0, 0, 0.12);
$shadow-16dp : 1px 3px 7px -4px rgba(0, 0, 0, 0.12), 1px 6px 16px 2px rgba(0, 0, 0, 0.08), 0px 9px 28px 8px rgba(0, 0, 0, 0.05);
$shadow-24dp : 0px 8px 24px -8px rgba(0, 0, 0, 0.12), 1px 8px 24px 6px rgba(0, 0, 0, 0.1), 0px 12px 40px 10px rgba(0, 0, 0, 0.06);
$shadow-nav-4dp: 0px 0px 0px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.04);

.shadow-1dp{
  box-shadow: $shadow-1dp;
}
.shadow-2dp{
  box-shadow: $shadow-2dp;
}
.shadow-4dp{
  box-shadow:  $shadow-4dp;
}
.shadow-8dp{
  box-shadow: $shadow-8dp;
}
.shadow-12dp{
  box-shadow: $shadow-12dp;
}
.shadow-16dp{
  box-shadow: $shadow-16dp;
}
.shadow-24dp{
  box-shadow: $shadow-24dp;
}
.shadow-nav-4dp{
  box-shadow: $shadow-nav-4dp;
}