.uploader{
  .et_pb_contact_form_label {
    display: block;
    color: black;
    font-weight: bold;
    letter-spacing: 1.2px;
    font-size: 18px;
    padding-bottom: 5px;
  }

  input[id="et_pb_contact_brand_file_request_0"] {
    display: none;
  }

  label {
    &[for="et_pb_contact_brand_file_request_0"] {
      background: #FAFBFD;
      height: 368px;
      background-image: url('./images/icons/upload.svg');
      background-repeat: no-repeat;
      background-position: top 84px center;
      background-size: 10%;
      color: transparent;
      margin: auto;
      width: 100%;
      position: relative;
      border: 2px dashed #D9D9D9;
      box-sizing: border-box;
      border-radius: 5px;

      &:before {
        content: "Upload cover photo";
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 28px;
        color: #21242B;
        font-weight: 400;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-weight: 600;
        font-family: 'Open Sans';
      }

      &:after {
        display: block;
        content: 'Drag and drop or browse your files (png,jpeg, jpg)';
        width: calc(100% - 40px);
        height: 130px;
        line-height: 27px;
        position: absolute;
        bottom: 19px;
        font-size: 18px;
        color: white;
        font-weight: 500;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: #6A6A6A;
        font-family: 'Open Sans';
      }
    }

    &[for="et_pb_contact_brand_request_0"]:after {
      content: " (Provide link or Upload files if you already have guidelines)";
      font-size: 12px;
      letter-spacing: -0.31px;
      color: #7a7a7a;
      font-weight: normal;
    }

    &[for="et_pb_contact_design_request_0"]:after {
      content: " (Provide link or Upload design files)";
      font-size: 12px;
      letter-spacing: -0.31px;
      color: #7a7a7a;
      font-weight: normal;
    }

    &[for="et_pb_contact_brand_file_request_0"] {
      &.changed, &:hover {
        background-color: #f5f8fd;
      }

      cursor: pointer;
      transition: 400ms ease;
    }
  }

  .file_names {
    display: block;
    position: absolute;
    color: black;
    left: 0;
    bottom: -30px;
    font-size: 13px;
    font-weight: 300;
    text-align: center;
  }
}