// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


$text-color: rgb(34, 34, 34) !default;
$filed-bg-color: #F4F5F7 !default;
$default-border-shadow: 0px 0px 3px 0px #ddd;
$default-border-color: #e8e8e8;

/// Main brand color  
$brand-color: #452D8F !default;
$secondary-color: #EE761F !default;

/// Main Font 
$primary-font: 'Open Sans';

 

 

 