.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fbfbfb !important;
}

table.table{
  border-radius: 5px;
  border: 1px solid $gray_light_01 !important;
  thead{
    th{
      vertical-align: middle !important;
      border-bottom: 1px solid $gray_light_01 !important;
      background: $gray_light_05;
      padding: 23px 16px !important;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      color: $gray_dark_02;
    }
  }
  tr{
    td{
      vertical-align: middle !important;
      padding: 5px 16px !important;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      color: $gray_dark_02;
      background: #fff;
      border-bottom: 1px solid $gray_light_01 !important;
      height: 72px;
      .subtext{
        font-size: 12px;
        line-height: 16px;
        color: $gray_dark_03;
      }
      .cell-img{
        width: 56px;
        height: 62px;
        object-fit: cover;
        margin-right: 4px;
        padding: 1px !important;
        background: #E4E7EB;
      }
      .four-collection {
        display: flex;
        flex-wrap: wrap;
        width: 68px;
        .cell-img {
          width: 30px;
          height: 30px;
          margin-right: 2px;
          margin-bottom: 2px;
          padding: 3px;
        }
      }
      .three-collection {
        display: flex;
        > img{
          width: 91px;
          height: 100px;
          padding: 15px 10px;
        }
        .two {
          width: 43px;
          img.cell-img {
            height: 48px !important;
            width: 100%;
            padding: 6px 3px;
            margin-right: 0 !important;
            + img.cell-img{
              margin-top: 4px;
            }
          }
        }
      }
    }
    &:hover{
      td{
        background: $gray_light_03;
      }
    }
    &:focus, &:active{
      td{
        border-top: 0 !important;
      }
    }
  }
  .nice-select{
    border: 0;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    line-height: 1;
    span{
      margin-right: 8px;
    }
    .option {
      padding: 2px 10px;
      text-align: center;
      min-height: 20px;
      line-height: 30px;
    }
    &.open{
      z-index: 1 !important;
    }
  }
  input[type="text"]{
    height: auto;
    width: 118px;
    padding: 5px 8px;
    border-radius: 2px;
    text-align: left;
    border: 1px solid #8A6FD6;
    box-shadow: none;
    font-size: 14px;
    line-height: 20px;
    color: $gray_dark_02;
  }
  &::placeholder{
    color: #8791A7;
    text-align: center;
    font-size: 14px;
  }
}

.brands-list{
  padding: 24px;
}

.data-table{
  .table{
    margin-bottom: 0;
  }
  .no-items{
    text-align: center;
    padding: 134px 0;
    border: 1px solid $gray_light_01;
    background: $white;
    color: $gray_dark_03;
    border-top: none;
  }
}

table.invoice-table {
  border: 0 !important;
  box-shadow: none;
  border-radius: 0;
  tr{
    td{
      padding: 20px 16px !important;
      text-align: left !important;
      &:first-child{
        padding-left: 0 !important;
      }
      &:last-child{
        padding-right: 0 !important;
        text-align: center !important;
      }
    }
  }
  tr:hover td {
    background: transparent !important;
  }
  &.invoice-table-footer{
    tr {
      td{
        padding: 10px 0 !important;
        border: 0 !important;
      }
      td:first-child{
        font-size: 14px;
        color: $gray-dark_02;
        font-weight: normal;
      }
      td:last-child{
        font-size: 14px;
        color: $gray-dark_01;
      }
      &:last-child{
        td{
          border-top: 1px solid #dadde4 !important;}
      }
    }
  }
}