@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer components {
    .form-field {
        @apply block h-[58px] w-full border border-white bg-white py-4 px-7 text-base text-primaryColor focus:rounded-none focus:outline-none focus:border-primaryColor;
    }
    .btn{
        @apply py-4 px-8 bg-primaryColor text-white-shade-100 text-xl uppercase inline-block hover:shadow-btnHover transition font-light w-auto
    }
    .label{
        @apply text-base text-primaryColor mb-3 block font-medium
    }
    .badge{
        @apply px-4 rounded-[20px] text-base text-primaryColor inline-block bg-pending uppercase text-center
    }
    .color-circle {
        @apply w-[32px] h-[32px] bg-pending rounded-full border border-primaryColor-shade-100 inline-block
    }
}



*,
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
div,
span,
article,
ul,
li {
    font-family: "Poppins", sans-serif;
}
body{
    scroll-behavior: smooth;
    background: #F5F5F5;
}
::placeholder{
    color: #646464;
    font-weight: normal;
}
h1{
    font-size: 60px;
    line-height: 68px;
}
h2{
    font-size: 44px;
    line-height: 52px;
}
h3{
    font-size: 36px;
    line-height: 44px;
}
h4{
    font-size: 28px;
    line-height: 36px;
}
h5{
    font-size: 20px;
    line-height: 28px;
}
h6{
    font-size: 16px;
    line-height: 24px;
}
p{
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #282828;
}
.form-group{
    margin-bottom: 35px;
}
.direction-rtl{
    direction: rtl;
}

/*.input-group .css-1s2u09g-control, .input-group .css-1pahdxg-control {*/
/*  height: 60px;*/
/*  border-radius: 0;*/
/*  border-color: #282828;*/
/*  padding: 10px 10px 10px 18px;*/
/*    min-width: 274px;*/
/*}*/


