// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


$text-color: rgb(34, 34, 34) !default;
$filed-bg-color: #F4F5F7 !default;
$default-border-shadow: 0px 0px 3px 0px #ddd;
$default-border-color: #e8e8e8;

/// Main brand color  
$brand-color: #452D8F !default;
$secondary-color: #EE761F !default;

$white: #FFFFFF;
$gray_dark_01: #21242B;
$gray_dark_02: #6A7181;
$gray_dark_03: #9AA1AF;
$gray_dark_04: #C7CED4;

$gray_light_01: #E4E7EB;
$gray_light_02: #EDF0F2;
$gray_light_03: #F4F5F7;
$gray_light_04: #F7F8FA;
$gray_light_05: #FCFDFF;

$primary: #452C8E;
$primary_bright_01: #8A70D3;
$primary_dark_01: #2B1C59;
$primary_dark_02: #A49CCC;
$primary_light_01: #D9D1F1;
$primary_light_02: #EAE7F8;
$primary_light_03: #EFEDFA;
$primary_light_04: #F8F5FE;
$primary_light_05: #F8F7FC;

$secondary: #EE761F;
$secondary_bright_01: #FF6F2C;
$secondary_dark_01: #BC570E;
$secondary_light_01: #FFA981;
$secondary_light_02: #FEE2D5;

$green: #00C334;
$green_bright_01: #4CAF50;
$green_dark_01: #338A17;
$green_light_01: #C8E6C9;
$green_light_02: #DBFFE5;

$red: #F22B2B;
$red_bright_01: #F82B60;
$red_dark_01: #BA1E45;
$red_light_01: #FF9EB7;
$red_light_02: #FFEAEA;

$yellow: #F7D154;
$yellow_bright_01: #FCB400;
$yellow_dark_01: #F57F17;
$yellow_light_01: #FFD66E;
$yellow_light_02: #FFFDE7;

/// Main Font 
$primary-font: 'Open Sans';
 

 

 